USE [ZP_Log]
GO
/****** Object:  StoredProcedure [dbo].[get_dataset]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[get_dataset]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[get_dataset]
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT top 10 * FROM TUser_Auth;
	SELECT top 10 * FROM PB_BT_WEBTOOL_CODE;
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_60600_zplog_getstatesdata]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_60600_zplog_getstatesdata]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_60600_zplog_getstatesdata]
 @oui32StMonthDate	AS INT
,@oui8UVMonthType	AS TINYINT
,@oui32StWeekDate	AS INT
,@oui8UVWEEKType	AS TINYINT
,@oui32StDayDate	AS INT
,@oui8UVDayType		AS TINYINT
,@odtStMinDate		AS SMALLDATETIME
,@oui8BUDayType		AS TINYINT
,@oui8BUMonthType	AS TINYINT
,@oui8TSDayType		AS TINYINT

AS

BEGIN
	SET NOCOUNT ON
BEGIN TRY

	DECLARE @result				AS INT;	
	DECLARE @ui32StUVMonth		AS INT;
	DECLARE @ui32StUVWeek		AS INT;
	DECLARE @ui32StUVDay		AS INT;
	DECLARE @ui64StTSDay		AS BIGINT;
	DECLARE @ui32StCCU			AS INT;
	DECLARE @ui32StUVMonth2		AS INT;
	DECLARE @ui32NewGRUDay		AS INT;
	DECLARE @ui64TotalGRUDay	AS BIGINT;
	DECLARE @ui32DBDay			AS INT;
	DECLARE @ui32DBMonth		AS INT;

	SET		@result				= 0;
	SET		@ui32StUVMonth		= 0;
	SET		@ui32StUVWeek		= 0;
	SET		@ui32StUVDay		= 0;
	SET		@ui64StTSDay		= 0;
	SET		@ui32StCCU			= 0;
	SET		@ui32StUVMonth2		= 0;
	SET		@ui32NewGRUDay		= 0;
	SET		@ui64TotalGRUDay	= 0;
	SET		@ui32DBDay			= 0;
	SET		@ui32DBMonth		= 0;

	SELECT @ui32StUVMonth=ui32UV FROM TPBUV WHERE ui32Date=@oui32StMonthDate AND i8Type=@oui8UVMonthType
	SELECT @ui32StUVWeek=ui32UV FROM TPBUV WHERE ui32Date=@oui32StWeekDate AND i8Type=@oui8UVWEEKType;
	SELECT @ui32StUVDay=ui32UV FROM TPBUV WHERE ui32Date=@oui32StDayDate AND i8Type=@oui8UVDayType;
	SELECT @ui64StTSDay=ui64TS FROM TPBTS WHERE ui32Date=@oui32StDayDate AND i8Type=@oui8TSDayType;
	SELECT @ui32StCCU=CCU FROM TPbCCU WHERE Date=@odtStMinDate;	
	SELECT @ui32NewGRUDay=ui32GRU FROM TPBNewGRU WHERE ui32Date=@oui32StDayDate;
	SELECT TOP 1 @ui64TotalGRUDay=ui64GRU FROM TPBTotalGRU order by ui32Date desc
	SELECT @ui32DBDay=MAX(ui32Date) FROM TPBBU WHERE i8Type=@oui8BUDayType;
	SELECT @ui32DBMonth=MAX(ui32Date) FROM TPBBU WHERE i8Type=@oui8BUMonthType;
	
	SELECT 1 AS result
		,@ui32StUVMonth AS ui32StUVMonth
		,@ui32StUVWeek AS ui32StUVWeek
		,@ui32StUVDay AS ui32StUVDay
		,@ui64StTSDay AS ui64StTSDay
		,@ui32StCCU AS ui32StCCU
		,@ui32NewGRUDay AS ui32NewGRUDay
		,@ui64TotalGRUDay AS ui64TotalGRUDay
		,@ui32DBDay AS ui32DBDay
		,@ui32DBMonth AS ui32DBMonth;

RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_60700_zplog_set_db_uv]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_60700_zplog_set_db_uv]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_60700_zplog_set_db_uv]
 @oui32Date		AS INT
,@oi8Type		AS TINYINT
,@oui32Value	AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY

	DECLARE @result		AS INT;
	DECLARE @temp		AS INT;

	SET		@result		= 0;		
	SET		@temp		= 0;	
	
	SELECT @temp=COUNT(ui32UV) FROM TPBUV WHERE ui32Date=@oui32Date AND i8Type=@oi8Type;
	IF(@temp = 0)
	BEGIN
		INSERT INTO TPBUV (ui32Date,i8Type,ui32UV) VALUES (@oui32Date,@oi8Type,@oui32Value);

	END
	ELSE
	BEGIN
		UPDATE TPBUV SET ui32UV=@oui32Value WHERE ui32Date=@oui32Date AND i8Type=@oi8Type
	END

	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;	
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_60800_zplog_set_db_ts]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_60800_zplog_set_db_ts]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_60800_zplog_set_db_ts]
 @oui32Date		AS INT
,@oi8Type		AS TINYINT
,@oui64Value	AS BIGINT
 
AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY

	DECLARE @result		AS INT;
	DECLARE @temp		AS BIGINT;

	SET		@result		= 0;		
	SET		@temp		= 0;	

	SELECT @temp=COUNT(ui64TS) FROM TPBTS WHERE ui32Date=@oui32Date AND i8Type=@oi8Type;
	IF(@temp = 0)
	BEGIN
print 1;
		INSERT INTO TPBTS (ui32Date,i8Type,ui64TS) VALUES (@oui32Date,@oi8Type,@oui64Value)
	END
	ELSE
	BEGIN
		UPDATE TPBTS SET ui64TS=@oui64Value WHERE ui32Date=@oui32Date AND i8Type=@oi8Type;
	END
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
print 4;
	SELECT 1 AS result;	
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_60900_zplog_set_db_ccu]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_60900_zplog_set_db_ccu]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_60900_zplog_set_db_ccu]
 @odtDate		AS SMALLDATETIME
,@oui32Value		AS INT
 
AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY

	DECLARE @result		AS INT;
	DECLARE @temp		AS INT;

	SET		@result		= 0;		
	SET		@temp		= 0;	
	
	SELECT @temp=COUNT(CCU) FROM TPbCCU WHERE Date=@odtDate;
	IF(@temp = 0)
	BEGIN
		INSERT INTO TPbCCU (Date,CCU) VALUES (@odtDate,@oui32Value);
	END
	ELSE
	BEGIN
		UPDATE TPbCCU SET CCU=@oui32Value WHERE Date=@odtDate;
	END

	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;	
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_61000_zplog_set_db_newgru]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_61000_zplog_set_db_newgru]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_61000_zplog_set_db_newgru]
 @oui32Date		AS INT
,@oui32Value	AS INT
 
AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY

	DECLARE @result		AS INT;
	DECLARE @temp		AS INT;

	SET		@result		= 0;		
	SET		@temp		= 0;	
	
	SELECT @temp=COUNT(ui32GRU) FROM TPBNewGRU WHERE ui32Date=@oui32Date;
	IF(@temp = 0)
	BEGIN
		INSERT INTO TPBNewGRU (ui32Date,ui32GRU) VALUES (@oui32Date,@oui32Value);
	END
	ELSE
	BEGIN
		UPDATE TPBNewGRU SET ui32GRU=@oui32Value WHERE ui32Date=@oui32Date;
	END

	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;	
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_61100_zplog_set_db_totalgru]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_61100_zplog_set_db_totalgru]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_61100_zplog_set_db_totalgru]
 @oui32Date		AS INT
,@oui64Value	AS BIGINT
 
AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY

	DECLARE @result		AS INT;
	DECLARE @temp		AS INT;

	SET		@result		= 0;		
	SET		@temp		= 0;	
	
	SELECT @temp=COUNT(ui64GRU) FROM TPBTotalGRU WHERE ui32Date=@oui32Date;
	IF(@temp = 0)
	BEGIN
		INSERT INTO TPBTotalGRU (ui32Date,ui64GRU) VALUES (@oui32Date,@oui64Value);
	END
	ELSE
	BEGIN
		UPDATE TPBTotalGRU SET ui64GRU=@oui64Value WHERE ui32Date=@oui32Date;
	END

	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;	
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_61200_zplog_set_db_uuid]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_61200_zplog_set_db_uuid]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_61200_zplog_set_db_uuid]
 @oui64Value	AS BIGINT
 
AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY

	DECLARE @result		AS INT;
	SET		@result		= 0;	
	
	INSERT INTO TPBBUUID (UID, i8Type) VALUES (@oui64Value, 0);
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	INSERT INTO TPBBUUID (UID, i8Type) VALUES (@oui64Value, 1);
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -2;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	INSERT INTO TPBBUUID (UID, i8Type) VALUES (@oui64Value, 2);
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -3;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;	
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_61300_zplog_set_db_bu]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_61300_zplog_set_db_bu]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_61300_zplog_set_db_bu]
 @oui32Date		AS INT
,@oi8Type		AS INT
,@oi8idx		AS INT
 
AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY

	DECLARE @result		AS INT;
	DECLARE @ui32BU		AS INT;	

	SET		@result		= 0;		
	SET		@ui32BU		= 0;	
	

	IF(@oi8idx = 0)
	BEGIN
		SELECT @ui32BU=COUNT(DISTINCT UID) FROM TPBBUUID WHERE i8Type = 0;
		INSERT INTO TPBBU ( ui32Date, i8Type, ui32BU ) VALUES ( @oui32Date, @oi8Type, @ui32BU );
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -1;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		DELETE FROM TPBBUUID WHERE i8Type = 0;
	END
	ELSE IF(@oi8idx = 1)
	BEGIN
		SELECT @ui32BU=COUNT(DISTINCT UID) FROM TPBBUUID WHERE i8Type = 1;
		INSERT INTO TPBBU ( ui32Date, i8Type, ui32BU ) VALUES ( @oui32Date, @oi8Type, @ui32BU );
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -3;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		DELETE FROM TPBBUUID WHERE i8Type = 1;
	END
	ELSE IF(@oi8idx = 2)
	BEGIN
		SELECT @ui32BU=COUNT(DISTINCT UID) FROM TPBBUUID WHERE i8Type = 2;
		INSERT INTO TPBBU ( ui32Date, i8Type, ui32BU ) VALUES ( @oui32Date, @oi8Type, @ui32BU );
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -5;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		DELETE FROM TPBBUUID WHERE i8Type = 2;
	END
	ELSE
	BEGIN
		SET @result = -7;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END	

	SELECT 1 AS result;	
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TUser_Auth_del]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TUser_Auth_del]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TUser_Auth_del]

/* ======================================================
// Interface Part
// ====================================================== */
	@strID_			VARCHAR(50)
,	@iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20121002.
// Description  : 웹툴 사용자 삭제
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TUser_Auth_del''
/* ======================================================
// Implementation Part
// ====================================================== */
DELETE FROM dbo.TUser_Auth WHERE ID = @strID_' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TUser_Auth_ins]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TUser_Auth_ins]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TUser_Auth_ins]
/* ======================================================
// Interface Part
// ====================================================== */
    @strID_				VARCHAR(50)
,	@strPW_				VARCHAR(50)
,	@iAuthWeb_			TINYINT
,	@iAuthService_		TINYINT
,	@strAuthMenu_		NVARCHAR(50)
,   @iResult			SMALLINT = 0    OUTPUT

/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20121002
// Description  : 웹툴 사용자 졍보 입력
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TPBC_TUser_Auth_ins''

/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

INSERT INTO dbo.TUser_Auth (ID, PW, Auth_Web, Auth_Service, Auth_Menu)
SELECT
	@strID_
,	@strPW_
,	@iAuthWeb_
,	@iAuthService_
,	@strAuthMenu_

IF( @iResult = 0 ) COMMIT TRANSACTION 
ELSE
BEGIN
    ROLLBACK TRANSACTION

    EXEC GameStat.dbo.SDataErrorLog_ins @strDBName, @strProcName, @iResult
END
/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION
    EXEC GameStat.dbo.SDBErrorLog_ins @strDBName
    SET     @iResult = -9999
END CATCH' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TUser_Auth_sel]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TUser_Auth_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TUser_Auth_sel]
/* ======================================================
// Interface Part
// ====================================================== */
    @iId_           VARCHAR(50)   = ''''
,   @iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20121002
// Description  : Mac Address 목록
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TUser_Auth_sel''
/* ======================================================
// Implementation Part
// ====================================================== */

DECLARE @strSQL NVARCHAR(MAX)
SELECT  @strSQL = N''SELECT * FROM dbo.TUser_Auth''

SELECT @strSQL = CASE @iId_ WHEN '''' THEN @strSQL ELSE @strSQL + N''  WHERE id = @iId_'' END

EXEC sp_executesql
    @strSQL
,   N''@iId_ VARCHAR(50)''
,   @iId_' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TUser_Auth_toolUser_sel]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TUser_Auth_toolUser_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TUser_Auth_toolUser_sel]
/* ======================================================
// Interface Part
// ====================================================== */
    @strId_			VARCHAR(50)
,   @strPassword_	VARCHAR(50)
,   @iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925.
// Description  : 사용자 Id, Password 검증
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TUser_Auth_toolUser_sel''
/* ======================================================
// Implementation Part
// ====================================================== */
SELECT * 
FROM TUser_Auth 
WHERE ID = @strId_ AND PW = @strPassword_
    
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_Tuser_Auth_toolUser_upd]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_Tuser_Auth_toolUser_upd]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_Tuser_Auth_toolUser_upd]
/* ======================================================
// Interface Part
// ====================================================== */	
	@strPassword_	VARCHAR(50)
,	@strUserId_		VARCHAR(50)
,   @iResult		SMALLINT = 0    OUTPUT

/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120926
// Description  : 웹툴 사용자 패스워드 변경
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_Tuser_Auth_toolUser_upd''

/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

UPDATE dbo.TUser_Auth 
SET PW =@strPassword_ WHERE ID = @strUserId_

IF( @iResult = 0 ) COMMIT TRANSACTION 
ELSE
BEGIN
    ROLLBACK TRANSACTION

    EXEC GameStat.dbo.SDataErrorLog_ins @strDBName, @strProcName, @iResult
END
/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION
    EXEC GameStat.dbo.SDBErrorLog_ins @strDBName
    SET     @iResult = -9999
END CATCH' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TUser_Auth_upd]    Script Date: 2015-02-23 오전 10:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TUser_Auth_upd]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TUser_Auth_upd]
/* ======================================================
// Interface Part
// ====================================================== */   
	@iAuthWeb_			TINYINT
,	@iAuthService_		TINYINT
,	@strAuthMenu_		NVARCHAR(50)
,	@strID_				VARCHAR(50)
,   @iResult			SMALLINT = 0    OUTPUT

/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20121002
// Description  : 웹툴 사용자 정보 수정
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TPBC_TUser_Auth_upd''

/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

UPDATE dbo.TUser_Auth 
SET Auth_Web = @iAuthWeb_
	, Auth_Service = @iAuthService_
	, Auth_Menu = @strAuthMenu_
WHERE ID = @strId_

IF( @iResult = 0 ) COMMIT TRANSACTION 
ELSE
BEGIN
    ROLLBACK TRANSACTION

    EXEC GameStat.dbo.SDataErrorLog_ins @strDBName, @strProcName, @iResult
END
/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION
    EXEC GameStat.dbo.SDBErrorLog_ins @strDBName
    SET     @iResult = -9999
END CATCH' 
END
GO
