USE [ZP_Log]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[TPBBU]    Script Date: 2014-06-11 오전 10:01:46 ******/
CREATE TABLE [dbo].[TPBBU](
	[ui32Date] [int] NOT NULL,
	[i8Type] [tinyint] NOT NULL,
	[ui32BU] [int] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBBUUID]    Script Date: 2014-06-11 오전 10:01:46 ******/
CREATE TABLE [dbo].[TPBBUUID](
	[UID] [bigint] NOT NULL,
	[i8Type] [smallint] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPbCCU]    Script Date: 2014-06-11 오전 10:01:46 ******/
CREATE TABLE [dbo].[TPbCCU](
	[Date] [smalldatetime] NOT NULL,
	[CCU] [int] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBNewGRU]    Script Date: 2014-06-11 오전 10:01:46 ******/
CREATE TABLE [dbo].[TPBNewGRU](
	[ui32Date] [int] NOT NULL,
	[ui32GRU] [int] NOT NULL,
	[realdate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBTotalGRU]    Script Date: 2014-06-11 오전 10:01:46 ******/
CREATE TABLE [dbo].[TPBTotalGRU](
	[ui32Date] [int] NOT NULL,
	[ui64GRU] [bigint] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBTS]    Script Date: 2014-06-11 오전 10:01:46 ******/
CREATE TABLE [dbo].[TPBTS](
	[ui32Date] [int] NOT NULL,
	[i8Type] [tinyint] NOT NULL,
	[ui64TS] [bigint] NOT NULL,
	[realdate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBUV]    Script Date: 2014-06-11 오전 10:01:46 ******/
CREATE TABLE [dbo].[TPBUV](
	[ui32Date] [int] NOT NULL,
	[i8Type] [tinyint] NOT NULL,
	[ui32UV] [int] NOT NULL,
	[realdate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[Tsalecash]    Script Date: 2014-06-11 오전 10:01:46 ******/
CREATE TABLE [dbo].[Tsalecash](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[date] [int] NOT NULL,
	[cash] [int] NOT NULL,
 CONSTRAINT [PK_Tsalecash] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TServerInfo]    Script Date: 2014-06-11 오전 10:01:46 ******/
CREATE TABLE [dbo].[TServerInfo](
	[AreaCode] [int] NOT NULL,
	[ServerCode] [int] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TUser_Auth]    Script Date: 2014-06-11 오전 10:01:46 ******/

CREATE TABLE [dbo].[TUser_Auth](
	[ID] [varchar](50) NOT NULL,
	[PW] [varchar](50) NOT NULL,
	[Auth_Web] [tinyint] NOT NULL,
	[Auth_Service] [tinyint] NOT NULL,
	[Auth_Menu] [nvarchar](50) NULL
) ON [PRIMARY]
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- DF --****/
------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[TPBNewGRU] ADD  CONSTRAINT [DF_TPBNewGRU_realdate]  DEFAULT (getdate()) FOR [realdate]
ALTER TABLE [dbo].[TPBTS] ADD  CONSTRAINT [DF_TPBTS_realdate]  DEFAULT (getdate()) FOR [realdate]
ALTER TABLE [dbo].[TPBUV] ADD  CONSTRAINT [DF_TPBUV_realdate]  DEFAULT (getdate()) FOR [realdate]
ALTER TABLE [dbo].[TUser_Auth] ADD  CONSTRAINT [DF_TUser_Auth_Auth_Web]  DEFAULT ((0)) FOR [Auth_Web]
ALTER TABLE [dbo].[TUser_Auth] ADD  CONSTRAINT [DF_TUser_Auth_Auth_Service]  DEFAULT ((0)) FOR [Auth_Service]
GO


IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TUser_Auth', N'COLUMN',N'Auth_Web'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0-Read,1-read,write,2-read,write,Log,3-Super,read,write,Log' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TUser_Auth', @level2type=N'COLUMN',@level2name=N'Auth_Web'
GO
