USE [PBClan]
GO
/****** Object:  StoredProcedure [dbo].[usp_30200_pbclan_loadclanitem0]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30200_pbclan_loadclanitem0]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_30200_pbclan_loadclanitem0]
AS
BEGIN
	SET NOCOUNT ON

	SELECT idx,no,ItemID,date,Arg0 FROM TClanItem WITH(NOLOCK);

	RETURN 1
	SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30210_pbclan_loadclanitem1]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30210_pbclan_loadclanitem1]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_30210_pbclan_loadclanitem1]
	@oidx AS INT
AS
BEGIN
	SET NOCOUNT ON
	BEGIN TRY

	DECLARE @result		AS INT;
	
	DELETE TClanItem WHERE idx=@oidx;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END			

	SELECT 1 AS result;	
	RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
	RETURN 0
END CATCH
	SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30400_pbclan_loadrequestdata]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30400_pbclan_loadrequestdata]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_30400_pbclan_loadrequestdata]
AS
BEGIN
	SET NOCOUNT ON

	SELECT no,clanNo,reqdate,nick,rank,nickcolor,killcount,death,match,win,lose,comment FROM TClanReq WITH(NOLOCK);

	RETURN 1
	SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30500_pbclan_userlogin]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30500_pbclan_userlogin]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_30500_pbclan_userlogin]
	 @oi64UID AS BIGINT
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @ui32ClanNo AS INT;
	DECLARE @ui8level	AS TINYINT;

	SELECT @ui32ClanNo=clanNo, @ui8level=level FROM TClanMem WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@@rowcount > 0)
	BEGIN
		SELECT 1 AS Result, @ui32ClanNo AS clanNo, @ui8level AS level;
		RETURN 1
	END

	SELECT @ui32ClanNo=clanNo FROM TClanReq WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@@rowcount > 0)
	BEGIN
		SELECT 2 AS Result, @ui32ClanNo AS clanNo, 0 AS level;		
		RETURN 1
	END

	SELECT 3 AS Result, 0 AS clanNo, 0 AS level;
	RETURN 1
	SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30600_pbclan_clancreate]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30600_pbclan_clancreate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_30600_pbclan_clancreate]
	 @obAzitActive	INT
	,@oi64UID		BIGINT
	,@oui32Date		INT
	,@oui32Rank		INT
	,@owMark		INT
	,@ostrNick		NVARCHAR(1024)
	,@ostrClanName	NVARCHAR(1024)
	,@ostrAzit		NVARCHAR(1024)
	,@ostrIntro		NVARCHAR(1024)
    ,@imaxper_      TINYINT
	,@oui8NickColor TINYINT
AS
BEGIN
BEGIN TRAN
	SET NOCOUNT ON

	DECLARE	@ui32ClanNo	AS INT;	
	DECLARE	@result		AS INT;
	DECLARE	@IsTrans	AS INT;
	SET @IsTrans = 0;
	
	SELECT @ui32ClanNo=clanNo FROM TClanMem WITH(NOLOCK) WHERE no=@oi64UID;	
	IF(@@rowcount > 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT @ui32ClanNo=clanNo FROM TClanReq WITH(NOLOCK) WHERE no=@oi64UID;	
	IF(@@rowcount > 0)
	BEGIN
		SET @result = -2;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT @ui32ClanNo=no FROM TClan WITH(NOLOCK) WHERE name=@ostrClanName;
	IF(@@rowcount > 0)
	BEGIN
		SET @result = -3;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	IF(@obAzitActive = 1)
	BEGIN
		SELECT @ui32ClanNo=no FROM TClan WITH(NOLOCK) WHERE azitURL=@ostrAzit;
		IF(@@rowcount > 0)
		BEGIN
			SET @result = -4;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
	END

BEGIN TRY
	SET @IsTrans = 1;
	INSERT INTO TClan (name,maxper,builddate,muid,mnick,mrank,mnickcolor,intro,azitURL,mark,authstaff) VALUES(@ostrClanName,@imaxper_,@oui32Date,@oi64UID,@ostrNick,@oui32Rank,@oui8NickColor,@ostrIntro,@ostrAzit,@owMark,9);
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -5;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT @ui32ClanNo = SCOPE_IDENTITY();
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -6;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	INSERT INTO TClanMem (no,clanNo,[level],auth,joindate,nick,rank,nickcolor) VALUES(@oi64UID,@ui32ClanNo,1,255,@oui32Date,@ostrNick,@oui32Rank,@oui8NickColor);
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -7;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

COMMIT TRAN
	SET @IsTrans = 0
	SELECT 1 AS result, @ui32ClanNo AS ClanNo;
	RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;
	IF(1=@IsTrans) ROLLBACK TRAN
	RETURN 0
END CATCH
	SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30700_pbclan_clandestroy]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30700_pbclan_clandestroy]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_30700_pbclan_clandestroy]
	 @oui32ClanNo	AS INT
	,@oi64UID		AS BIGINT
AS
BEGIN
	SET NOCOUNT ON
	
	DECLARE @ui32ClanNo AS INT;
	DECLARE @result		AS INT;
	DECLARE @ui32cnt	AS INT;
	DECLARE	@IsTrans	AS INT;	
	SET		@ui32ClanNo	= 0;
	SET		@ui32cnt	= 0;
	SET		@IsTrans	= 0;

BEGIN TRY

	SELECT @ui32ClanNo=clanNo FROM TClanMem WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@@rowcount = 0)
	BEGIN
		SET @result			= -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	IF( @ui32ClanNo <> @oui32ClanNo )
	BEGIN
		SET @result			= -2;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT @ui32cnt = COUNT(no) FROM TClanMem WITH(NOLOCK) WHERE clanNo=@oui32ClanNo;
	IF(@ui32cnt <> 1)
	BEGIN
		SET @result			= -3;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

BEGIN TRAN
	SET @IsTrans = 1
	DELETE FROM TClan WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result			= -4;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	DELETE FROM TClanItem WHERE no=@oui32ClanNo;
	IF(@@rowcount < 0)
	BEGIN
		SET @result			= -5;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	DELETE FROM TClanMem WHERE clanNo=@oui32ClanNo;
	IF(@@rowcount < 1)
	BEGIN
		SET @result			= -6;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	
	DELETE FROM TClanReq WHERE clanNo=@oui32ClanNo;
	IF(@@rowcount < 0)
	BEGIN
		SET @result			= -7;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
COMMIT TRAN	
	SET @IsTrans = 0;
	SELECT 1 AS result;
	RETURN 1
END TRY

BEGIN CATCH		
	SELECT @result AS result;
	IF(1=@IsTrans) ROLLBACK TRAN
	RETURN 0
END CATCH
	SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30800_pbclan_clanrequestjoin]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30800_pbclan_clanrequestjoin]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_30800_pbclan_clanrequestjoin]
	 @oi64UID			AS BIGINT
	,@oui32ClanNo		AS INT
	,@oui32Date			AS INT
	,@owRank			AS INT
	,@oui32Killcount	AS INT
	,@oui32Death		AS INT
	,@oui32Match		AS INT
	,@oui32Win			AS INT
	,@oui32Lose			AS INT
	,@ostrNick			AS NVARCHAR(1024)
	,@ostrComment		AS NVARCHAR(1024)
	,@oui8NickColor		AS TINYINT
AS
BEGIN
	SET NOCOUNT ON

	DECLARE @ui32ClanNo	AS INT;
	DECLARE @result		AS INT;
	DECLARE @ui32cnt	AS INT;
	SET		@ui32cnt	= 0;

BEGIN TRY

	SELECT @ui32ClanNo=clanNo FROM TClanMem WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@@rowcount > 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT @ui32ClanNo=clanNo FROM TClanReq WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@@rowcount > 0)
	BEGIN
		SET @result = -2;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT @ui32cnt=COUNT(no) FROM TClanReq WITH(NOLOCK) WHERE clanNo=@oui32ClanNo;
	IF(@ui32cnt >= 100)
	BEGIN
		SET @result = -3;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	INSERT INTO TClanReq (no,clanNo,comment,reqdate,nick,rank,nickcolor,killcount,death,match,win,lose) VALUES (@oi64UID,@oui32ClanNo,@ostrComment,@oui32Date,@ostrNick,@owRank,@oui8NickColor,@oui32Killcount,@oui32Death,@oui32Match,@oui32Win,@oui32Lose);
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -4;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
	RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;
	RETURN 0
END CATCH
	SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30900_pbclan_clanrequestaccept0]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30900_pbclan_clanrequestaccept0]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_30900_pbclan_clanrequestaccept0]
 @oui32ClanNo AS INT

AS

BEGIN
	SET NOCOUNT ON

	SELECT curper, maxper FROM TClan WITH(NOLOCK) WHERE no=@oui32ClanNo;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30910_pbclan_clanrequestaccept1]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30910_pbclan_clanrequestaccept1]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_30910_pbclan_clanrequestaccept1]
 @oi64UID		AS BIGINT
,@oui32ClanNo	AS INT

AS

BEGIN
	SET NOCOUNT ON

	DECLARE @ui32ClanNo	AS INT;
	DECLARE @nick		AS NVARCHAR(33);
	DECLARE @rank		AS INT;
	DECLARE @nickcolor	AS TINYINT;
	SET		@ui32ClanNo	= 0;	
	SET		@nick		= N''NULL''
	SET		@rank		= 0;
	SET		@nickcolor  = 0;
	
	SELECT @ui32ClanNo=clanNo FROM TClanMem WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@@rowcount > 0)
	BEGIN
		SELECT 2 as result,@nick AS nick, @rank AS rank, @nickcolor AS  nickcolor;
		RETURN 0
	END

	SELECT @ui32ClanNo=clanNo,@nick=nick,@rank=rank, @nickcolor = nickcolor FROM TClanReq WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@@rowcount = 0)
	BEGIN
		SELECT 3 as result,@nick AS nick, @rank AS rank, @nickcolor AS  nickcolor;
		RETURN 0
	END
	IF(@oui32ClanNo <> @ui32ClanNo)
	BEGIN
		SELECT 4 as result,@nick AS nick, @rank AS rank, @nickcolor AS  nickcolor;
		RETURN 0
	END

	SELECT 1 as result,@nick AS nick, @rank AS rank, @nickcolor AS  nickcolor;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30920_pbclan_clanrequestaccept2]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30920_pbclan_clanrequestaccept2]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE PROC [dbo].[usp_30920_pbclan_clanrequestaccept2]
 @oi64UID		AS BIGINT
,@oui32ClanNo	AS INT
,@oui32Date		AS INT
,@oui32Rank		AS INT
,@ostrTamp		AS varchar(1024)
,@oui8Nickcolor	AS TINYINT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

	DECLARE @ui32ClanNo	AS INT;
	DECLARE @result		AS INT;
	SET		@ui32ClanNo	= 0;
	SET		@result		= 0;

BEGIN TRY

	INSERT INTO TClanMem(no,clanNo,[level],auth,joindate,nick,rank,nickcolor)VALUES(@oi64UID,@oui32ClanNo,3,0,@oui32Date,@ostrTamp,@oui32Rank, @oui8Nickcolor);
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	DELETE FROM TClanReq WHERE no=@oi64UID;
	IF(@@rowcount = 0)
	BEGIN
		SET @result	= -2;		
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	
	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH		
	SELECT @result AS result;
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_30930_pbclan_clanrequestaccept3]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_30930_pbclan_clanrequestaccept3]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_30930_pbclan_clanrequestaccept3]
 @oui32cnt AS INT
,@oui32ClanNo AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON
BEGIN TRY
	
	DECLARE @result			AS INT;
	SET		@result			= 0;

	UPDATE TClan SET curper=curper+@oui32cnt WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN	
		SET @result = -1;	
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31000_pbclan_clanrequestcancel]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31000_pbclan_clanrequestcancel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_31000_pbclan_clanrequestcancel]
 @oi64UID	AS BIGINT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY

	DECLARE @result			AS INT;
	DECLARE @temp			AS INT;

	SET		@result			= 0;
	SET		@temp			= 0;

	SELECT @temp=COUNT(clanNo) FROM TClanReq WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@temp <> 1)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	DELETE FROM TClanReq WHERE no=@oi64UID;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -2;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31100_pbclan_clanrequestdenial]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31100_pbclan_clanrequestdenial]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_31100_pbclan_clanrequestdenial]
 @oui8count	AS INT
,@oui32ClanNo	AS INT
,@ostruid	AS VARCHAR(2048)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	DECLARE	@struid2	AS VARCHAR(2048)
	DECLARE @i64uid		AS BIGINT;
	DECLARE @result		AS INT;
	DECLARE @ui32ClanNo	AS INT;	
	DECLARE @rowcnt		AS INT;
	DECLARE @length		AS INT;
	DECLARE @scnt		AS INT;
	DECLARE @ecnt		AS INT;

	SET		@struid2	= ''none'';	
	SET		@i64uid		= 0;
	SET		@result		= 0;
	SET		@ui32ClanNo	= 0;
	SET		@rowcnt		= 0;
	SET		@scnt		= 0;
	SET		@ecnt		= 2048;
	SET		@length		= LEN(@ostruid);

	WHILE(0 < @ecnt)
	BEGIN
		-- 문자 자르는 코드		
		SET @ecnt = CHARINDEX('','', @ostruid);
		IF(@ecnt = 0) BREAK;
		SELECT @struid2 = SUBSTRING(@ostruid,0,@ecnt);
		SET @scnt = @ecnt+1;
		SELECT @ostruid = SUBSTRING(@ostruid,@scnt,@length);
		SET @length = @length-@scnt;
		--
		SET @i64uid = @struid2;
		--
		SELECT @ui32ClanNo=clanNo FROM TClanReq WHERE no=@i64uid;
		IF(@@rowcount <> 1)
		BEGIN
			SET @result = -1;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		IF(@oui32ClanNo <> @ui32ClanNo)
		BEGIN
			SET @result = -2;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		
		DELETE FROM TClanReq WHERE no=@i64uid;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -3;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END

		SET @rowcnt = @rowcnt+1;
	END

	IF(@oui8count != @rowcnt)
	BEGIN
		SET @result = -4;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31200_pbclan_clanmembersecession]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31200_pbclan_clanmembersecession]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_31200_pbclan_clanmembersecession]
 @oi64UID		AS BIGINT
,@oui32ClanNo	AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	DECLARE @result		AS INT;
	DECLARE @ui32ClanNo	AS INT;

	SET		@result		= 0;
	SET		@ui32ClanNo	= 0;


	SELECT @ui32ClanNo = clanNo FROM TClanMem WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@@rowcount <> 1)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	
	DELETE FROM TClanMem WHERE no=@oi64UID;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -2;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	UPDATE TClan SET curper=curper-1 WHERE no=@oui32ClanNo;
	IF(@@rowcount  = 0)
	BEGIN
		SET @result = -3;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31300_pbclan_clanmemberdeportatio]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31300_pbclan_clanmemberdeportatio]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_31300_pbclan_clanmemberdeportatio]
 @oui8count		AS INT
,@oui32ClanNo	AS INT
,@ostruid		AS VARCHAR(2048)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	DECLARE	@struid2	AS VARCHAR(2048)
	DECLARE @i64uid		AS BIGINT;	
	DECLARE @result		AS INT;
	DECLARE @ui32ClanNo	AS INT;	
	DECLARE @rowcnt		AS INT;
	DECLARE @length		AS INT;
	DECLARE @scnt		AS INT;
	DECLARE @ecnt		AS INT;
	DECLARE @ui8level	AS TINYINT;

	SET		@struid2	= ''none'';	
	SET		@i64uid		= 0;
	SET		@result		= 0;
	SET		@ui32ClanNo	= 0;
	SET		@rowcnt		= 0;
	SET		@scnt		= 0;
	SET		@ecnt		= 2048;
	SET		@length		= LEN(@ostruid);
	SET		@ui8level	= 0;

	WHILE(0 < @ecnt)
	BEGIN
		-- ¹®ÀÚ ÀÚ¸£´Â ÄÚµå		
		SET @ecnt = CHARINDEX('','', @ostruid);
		IF(@ecnt = 0) BREAK;
		SELECT @struid2 = SUBSTRING(@ostruid,0,@ecnt);
		SET @scnt = @ecnt+1;
		SELECT @ostruid = SUBSTRING(@ostruid,@scnt,@length);
		SET @length = @length-@scnt+1;
		--
		SET @i64uid = @struid2;
		--

		SELECT @ui32ClanNo=clanNo, @ui8level=level FROM TClanMem NOLOCK WHERE no=@i64uid;
		IF(@@rowcount <> 1)
		BEGIN
			SET @result = -1;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		IF(@oui32ClanNo <> @ui32ClanNo)
		BEGIN
			SET @result = -2;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		IF(@ui8level = 1)
		BEGIN
			SET @result = -3;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END

		DELETE FROM TClanMem WHERE no=@i64uid;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -4;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		
		SET @rowcnt = @rowcnt+1;
	END
	
	IF(@oui8count != @rowcnt)
	BEGIN
		SET @result = -5;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	UPDATE TClan SET curper=curper-@oui8count WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -6;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31400_pbclan_claninvite]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31400_pbclan_claninvite]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_31400_pbclan_claninvite]
 @oi64UID	AS BIGINT

AS

BEGIN
	SET NOCOUNT ON
	DECLARE @i32ClanNo AS INT
	SET @i32ClanNo = NULL;

BEGIN TRY

	SELECT @i32ClanNo=clanNo FROM TClanMem WITH(NOLOCK) WHERE no=@oi64UID;
	IF @i32ClanNo IS NOT NULL
	BEGIN
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT -1 AS result;
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31500_pbclan_claninviteaccept]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31500_pbclan_claninviteaccept]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE PROC [dbo].[usp_31500_pbclan_claninviteaccept]
 @oi64UID		AS BIGINT
,@oui32ClanNo	AS INT
,@oui32Date		AS INT
,@oui32Rank		AS INT
,@ostrNick		AS NVARCHAR(1024)
,@oui8Nickcolor	AS TINYINT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	DECLARE @result		AS INT
	DECLARE @curper		AS INT
	DECLARE @maxper		AS INT
	DECLARE @clanNo		AS INT

	SET		@result		= 0;
	SET		@curper		= 0;
	SET		@maxper		= 0;
	SET		@clanNo		= 0;

	SELECT @curper=curper, @maxper=maxper FROM TClan WITH(NOLOCK) WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	IF((@curper+1) > @maxper)
	BEGIN
		SET @result = -2;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END	

	SELECT @clanNo=COUNT(clanNo) FROM TClanMem WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@clanNo > 0)
	BEGIN
		SET @result = -3;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT @clanNo=COUNT(clanNo) FROM TClanReq WITH(NOLOCK) WHERE no=@oi64UID;
	IF(@clanNo > 0)
	BEGIN
		SET @result = -4;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	INSERT INTO TClanMem(no,clanNo,[level],auth,joinDate,nick,rank,nickcolor)VALUES(@oi64UID,@oui32ClanNo,3,0,@oui32Date,@ostrNick,@oui32Rank,@oui8Nickcolor);
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -5;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	UPDATE TClan SET curper=curper+1 WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -6;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31600_pbclan_clancommissionmaster]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31600_pbclan_clancommissionmaster]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'



CREATE PROC [dbo].[usp_31600_pbclan_clancommissionmaster]
 @oi64muid		AS BIGINT
,@oi64UID		AS BIGINT
,@oui32ClanNo	AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	DECLARE @level		AS INT;
	DECLARE @rank		AS INT;
	DECLARE @strnick	AS NVARCHAR(33);
	DECLARE @nickcolor	AS TINYINT;

	SET		@result		= 0;
	SET		@level		= 0;
	SET		@rank		= 0;
	SET		@strnick	= N''NULL'';
	SET		@nickcolor	= 0;

	SELECT @level=level,@strnick=nick,@rank=rank,@nickcolor=nickcolor FROM TClanMem WITH(NOLOCK) WHERE no=@oi64muid;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	IF(@level <> 2)
	BEGIN
		SET @result = -2;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	UPDATE TClanMem SET level=2,auth=0 WHERE no=@oi64UID;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -3;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	UPDATE TClanMem SET level=1,auth=255 WHERE no=@oi64muid;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -4;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	UPDATE TClan SET muid=@oi64muid, mnick=@strnick,mrank=@rank,mnickcolor=@nickcolor WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -5;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31700_pbclan_clancomissionstaff]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31700_pbclan_clancomissionstaff]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_31700_pbclan_clancomissionstaff]
 @oui8count	AS INT
,@ostruid	AS VARCHAR(2048)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY	
	DECLARE	@struid2	AS VARCHAR(2048)
	DECLARE @i64uid		AS BIGINT;
	DECLARE @result		AS INT;
	DECLARE @level		AS INT;	
	DECLARE @rowcnt		AS INT;	
	DECLARE @scnt		AS INT;
	DECLARE @ecnt		AS INT;
	DECLARE @length		AS INT;

	SET		@struid2	= ''none'';	
	SET		@i64uid		= 0;
	SET		@result		= 0;
	SET		@level		= 0;
	SET		@rowcnt		= 0;
	SET		@scnt		= 0;
	SET		@ecnt		= 2048;
	SET		@length		= LEN(@ostruid);

	WHILE(0 < @ecnt)
	BEGIN
		-- 문자 자르는 코드		
		SET @ecnt = CHARINDEX('','', @ostruid);
		IF(@ecnt = 0) BREAK;
		SELECT @struid2 = SUBSTRING(@ostruid,0,@ecnt);
		SET @scnt = @ecnt+1;
		SELECT @ostruid = SUBSTRING(@ostruid,@scnt,@length);
		SET @length = @length-@scnt;
		--
		SET @i64uid = @struid2;
		--
		SELECT @level=level FROM TClanMem WITH(NOLOCK) WHERE no=@i64uid;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -1;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		IF(@level = 1)
		BEGIN
			SET @result = -2;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END

		UPDATE TClanMem SET level=2 WHERE no=@i64uid
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -3;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		
		SET @rowcnt = @rowcnt+1;
	END
	
	IF(@oui8count != @rowcnt)
	BEGIN
		SET @result = -4;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31800_pbclan_clancommissionreqular]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31800_pbclan_clancommissionreqular]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_31800_pbclan_clancommissionreqular]
 @oui8count	AS INT
,@ostruid	AS VARCHAR(2048)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY	
	DECLARE	@struid2	AS VARCHAR(2048)
	DECLARE @i64uid		AS BIGINT;
	DECLARE @result		AS INT;
	DECLARE @level		AS INT;	
	DECLARE @rowcnt		AS INT;	
	DECLARE @scnt		AS INT;
	DECLARE @ecnt		AS INT;
	DECLARE @length		AS INT;

	SET		@struid2	= ''none'';	
	SET		@i64uid		= 0;
	SET		@result		= 0;
	SET		@level		= 0;
	SET		@rowcnt		= 0;
	SET		@scnt		= 0;
	SET		@ecnt		= 2048;
	SET		@length		= LEN(@ostruid);

	WHILE(0 < @ecnt)
	BEGIN
		-- 문자 자르는 코드		
		SET @ecnt = CHARINDEX('','', @ostruid);
		IF(@ecnt = 0) BREAK;
		SELECT @struid2 = SUBSTRING(@ostruid,0,@ecnt);
		SET @scnt = @ecnt+1;
		SELECT @ostruid = SUBSTRING(@ostruid,@scnt,@length);
		SET @length = @length-@scnt;
		--
		SET @i64uid = @struid2;
		--
		SELECT @level=level FROM TClanMem WITH(NOLOCK) WHERE no=@i64uid;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -1;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		IF(@level = 1)
		BEGIN
			SET @result = -2;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END

		UPDATE TClanMem SET level=3 WHERE no=@i64uid;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -3;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END

		SET @rowcnt = @rowcnt+1;
	END
	
	IF(@oui8count != @rowcnt)
	BEGIN
		SET @result = -4;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_31900_pbclan_clangetmemberInfo]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_31900_pbclan_clangetmemberInfo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_31900_pbclan_clangetmemberInfo]
 @oi64UID	AS BIGINT

AS

BEGIN
	SET NOCOUNT ON

	SELECT win,lose,[kill],death,headshot,connect FROM TClanMem WITH(NOLOCK) WHERE no=@oi64UID;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32000_pbclan_clangetrequestinfo]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32000_pbclan_clangetrequestinfo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'



CREATE PROC [dbo].[usp_32000_pbclan_clangetrequestinfo]
 @oi64UID	AS BIGINT

AS

BEGIN
	SET NOCOUNT ON

	SELECT nick,rank,nickcolor,killcount,death,match,win,lose,comment FROM TClanReq WITH(NOLOCK) WHERE no=@oi64UID;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32100_pbclan_clanreplacenotice]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32100_pbclan_clanreplacenotice]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_32100_pbclan_clanreplacenotice]
 @oui32ClanNo	AS INT
,@ostrNotice	AS NVARCHAR(1024)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	UPDATE TClan SET announce=@ostrNotice WHERE no=@oui32ClanNo
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32200_pbclan_clanreplaceintro]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32200_pbclan_clanreplaceintro]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_32200_pbclan_clanreplaceintro]
 @oui32ClanNo	AS INT
,@ostrIntro		AS NVARCHAR(1024)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	UPDATE TClan SET intro=@ostrIntro WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32300_pbclan_clanreplaceclanname]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32300_pbclan_clanreplaceclanname]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_32300_pbclan_clanreplaceclanname]
 @oui32ClanNo	AS INT
,@ostrClanName	AS NVARCHAR(1024)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	UPDATE TClan SET name=@ostrClanName WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32400_pbclan_clanreplacemark]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32400_pbclan_clanreplacemark]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_32400_pbclan_clanreplacemark]
 @oui32ClanNo	AS INT
,@oui32Mark		AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	UPDATE TClan SET mark=@oui32Mark WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32500_pbclan_clanreplacepresonmax]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32500_pbclan_clanreplacepresonmax]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_32500_pbclan_clanreplacepresonmax]
 @oui32ClanNo			AS INT
,@oinc_member_count		AS INT = 50

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	UPDATE TClan SET maxper=maxper+@oinc_member_count WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32600_pbclan_clanreplacemanagement]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32600_pbclan_clanreplacemanagement]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_32600_pbclan_clanreplacemanagement]
 @oui32ClanNo		AS INT
,@oauthstaff		AS INT
,@oranklock			AS INT
,@olagelock			AS INT
,@ohagelock			AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	UPDATE TClan SET authstaff=@oauthstaff,ranklock=@oranklock,lagelock=@olagelock,hagelock=@ohagelock WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32700_pbclan_clanreplacemembernick]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32700_pbclan_clanreplacemembernick]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_32700_pbclan_clanreplacemembernick]
 @oi64UID		AS BIGINT
,@oui32ClanNo	AS INT
,@oui8level		AS TINYINT
,@ostrNick		AS NVARCHAR(1024)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	IF(@oui8level > 0)
	BEGIN
		UPDATE TClanMem SET nick=@ostrNick WHERE no=@oi64UID;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -1;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		IF(@oui8level = 1)
		BEGIN
			UPDATE TClan SET mnick=@ostrNick WHERE no=@oui32ClanNo;
			IF(@@rowcount = 0)
			BEGIN
				SET @result = -2;
				RAISERROR (''--!!!--Error--!!!--'',16,1);
			END
		END
	END
	ELSE
	BEGIN
		UPDATE TClanReq SET nick=@ostrNick WHERE no=@oi64UID;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -3;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32800_pbclan_clanreplacememberrank]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32800_pbclan_clanreplacememberrank]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_32800_pbclan_clanreplacememberrank]
 @oi64UID		AS BIGINT
,@oui32ClanNo	AS INT
,@oui8level		AS TINYINT
,@oui8rank		AS TINYINT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	IF(@oui8level > 0)
	BEGIN
		UPDATE TClanMem SET rank=@oui8rank WHERE no=@oi64UID
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -1;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		IF(@oui8level = 1)
		BEGIN
			UPDATE TClan SET mrank=@oui8rank WHERE no=@oui32ClanNo
			IF(@@rowcount = 0)
			BEGIN
				SET @result = -2;
				RAISERROR (''--!!!--Error--!!!--'',16,1);
			END
		END
	END
	ELSE
	BEGIN
		UPDATE TClanReq SET rank=@oui8rank WHERE no=@oi64UID
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -3;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_32900_pbclan_clancheckname]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_32900_pbclan_clancheckname]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_32900_pbclan_clancheckname]
 @strNick	AS NVARCHAR(1024)

AS

BEGIN
	SET NOCOUNT ON

	SELECT no FROM TClan WITH(NOLOCK) WHERE name=@strNick;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_33000_pbclan_clancheckazit]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_33000_pbclan_clancheckazit]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_33000_pbclan_clancheckazit]
 @strURL	AS NVARCHAR(1024)

AS

BEGIN
	SET NOCOUNT ON

	SELECT no FROM TClan WITH(NOLOCK) WHERE azitURL=@strURL;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_33100_pbclan_clanitemperiod]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_33100_pbclan_clanitemperiod]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_33100_pbclan_clanitemperiod]
 @oui32ClanNo	AS INT
,@oui32ItemID	AS INT
,@oui32Date		AS INT
,@oui32Arg		AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	DECLARE @idx		AS INT;

	SET		@result		= 0;
	SET		@idx		= 0;

	SELECT @idx=idx FROM TClanItem WITH(NOLOCK) WHERE no=@oui32ClanNo AND ItemID=@oui32ItemID;
	IF(@@rowcount = 0)
	BEGIN
		INSERT INTO TClanItem(no,ItemID,date,Arg0) VALUES(@oui32ClanNo,@oui32ItemID,@oui32Date,@oui32Arg);
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -1;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
	END
	ELSE
	BEGIN
		UPDATE TClanItem SET date=@oui32Date,Arg0=@oui32Arg WHERE idx=@idx;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -2;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_33200_pbclan_clanitemresetrecord]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_33200_pbclan_clanitemresetrecord]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_33200_pbclan_clanitemresetrecord]
 @oui32ClanNo		AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	UPDATE TClan SET match=0,win=0,lose=0  WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_33300_pbclan_clanitemresetpoint]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_33300_pbclan_clanitemresetpoint]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_33300_pbclan_clanitemresetpoint]
 @oui32ClanNo	AS INT
,@oui32SeasonID	AS INT
,@or64Point	AS REAL

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	IF EXISTS ( SELECT 1	FROM ClanSeasonRecord	WHERE SeasonID = @oui32SeasonID AND ClanID = @oui32ClanNo )
	BEGIN
		UPDATE ClanSeasonRecord SET RatingMean=@or64Point WHERE ClanID=@oui32ClanNo AND SeasonID = @oui32SeasonID ;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -1;
			RAISERROR ('--!!!--Error--!!!--',16,1);
		END
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_33400_pbclan_clansetactivestate]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_33400_pbclan_clansetactivestate]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_33400_pbclan_clansetactivestate]
 @oui32ClanNo	AS INT
,@oui32Date		AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	UPDATE TClan SET statedate=@oui32Date WHERE no=@oui32ClanNo;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_33600_pbclan_clanbattleresult]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_33600_pbclan_clanbattleresult]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_33600_pbclan_clanbattleresult]
 @oui32Exp		AS INT
,@oui32sMatch	AS INT
,@oui32sWin		AS INT
,@oui32sLose	AS INT
,@oui32ClanNo	AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	UPDATE TClan SET exp=@oui32Exp,match=@oui32sMatch,win=@oui32sWin,lose=@oui32sLose WHERE no=@oui32ClanNo
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_33800_pbclan_clanbattleresultuser]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_33800_pbclan_clanbattleresultuser]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_33800_pbclan_clanbattleresultuser]
 @oi64UID		AS BIGINT
,@oi32TableIdx	AS INT
,@oui32Exp		AS INT
,@oui32Win		AS INT
,@oui32Lose		AS INT
,@oui16Kill		AS INT
,@oui16Death	AS INT
,@oui16Headshot	AS INT
,@oui32SCount	AS INT = 1

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	DECLARE @sql		AS NVARCHAR(2048); -- sql 실행문

	SET		@result		= 0;
	SET		@sql		= ''none'';

	SET @sql = N''UPDATE TClanMem ''+N''SET exp=exp+''+CAST(@oui32Exp AS NVARCHAR(11))+N'',win=win+''+CAST(@oui32Win AS NVARCHAR(11))+N'',lose=lose+''+CAST(@oui32Lose AS NVARCHAR(11))+N'',[kill]=[kill]+''+CAST(@oui16Kill AS NVARCHAR(11))+N'',death=death+''+CAST(@oui16Death AS NVARCHAR(11))+N'',headshot=headshot+''+CAST(@oui16Headshot AS NVARCHAR(11))+N'',connect=connect+''+CAST(@oui32SCount AS NVARCHAR(11))+N'' WHERE no=''+CAST(@oi64UID AS NVARCHAR(22))+N'';'';

	EXEC sp_executesql @sql;	
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_33900_pbclan_clanmemberorder]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_33900_pbclan_clanmemberorder]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_33900_pbclan_clanmemberorder]
 @oui32ClanNo	AS INT

AS

BEGIN
	SET NOCOUNT ON

	SELECT no,exp,win,[kill],headshot,connect FROM TClanMem WITH(NOLOCK) WHERE clanNo=@oui32ClanNo;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_34000_pbclan_clanitemdelete]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_34000_pbclan_clanitemdelete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_34000_pbclan_clanitemdelete]
 @oui32ClanNo	AS INT
,@oui32ItemID	AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	DECLARE @idx		AS INT;

	SET		@result		= 0;
	SET		@idx		= 0;

	SELECT @idx=idx FROM TClanItem WITH(NOLOCK) WHERE no=@oui32ClanNo AND ItemID=@oui32ItemID;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	ELSE
	BEGIN
		DELETE FROM TClanItem WHERE idx=@idx;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -2;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_CClan_FindInfo]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_CClan_FindInfo]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_CClan_FindInfo]
    @oi64FindUID_       BIGINT
AS

SET NOCOUNT ON
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

SELECT
    A.no
,   A.mark
,   A.name
FROM dbo.TClan    AS A 
JOIN dbo.TClanMem AS B
ON  A.no = B.clanNo
WHERE
    B.no = @oi64FindUID_
OPTION (MAXDOP 1)

RETURN 1

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetClanData]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetClanData]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_GetClanData]
	-- Add the parameters for the stored procedure here
	@PreSeasonID	INT,
	@CurSeasonID	INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT	no,  builddate, mark, exp, curper, maxper,
			ranklock,lagelock, hagelock, muid, mrank, mnickcolor, authstaff, statedate,
			name, mnick, intro, announce, azitURL,
			TClan.match, TClan.win, TClan.lose,
			PreRecord.MatchCount, PreRecord.WinMatch, PreRecord.LoseMatch, PreRecord.RatingMean, PreRecord.RatingDeviation,
			CurRecord.MatchCount, CurRecord.WinMatch, CurRecord.LoseMatch, CurRecord.RatingMean, CurRecord.RatingDeviation
			
			
	FROM	TClan	LEFT JOIN
					( SELECT [ClanID], [MatchCount], [WinMatch], [LoseMatch], [RatingMean], [RatingDeviation] FROM ClanSeasonRecord WHERE SeasonID = @PreSeasonID ) AS PreRecord
						ON TClan.no = PreRecord.ClanID
					LEFT JOIN
					( SELECT [ClanID], [MatchCount], [WinMatch], [LoseMatch], [RatingMean], [RatingDeviation] FROM ClanSeasonRecord WHERE SeasonID = @CurSeasonID ) AS CurRecord
						ON TClan.no = CurRecord.ClanID
					

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetSeasonRanking]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_GetSeasonRanking]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[usp_GetSeasonRanking]
	@SeasonID	INT,
	@SortType	INT
AS
BEGIN
	 
	SET NOCOUNT ON;

	IF ( @SortType = 0 )	-- ASC
	BEGIN
	 
		SELECT B.no, B.builddate, B.mark, B.curper, B.maxper, B.name
		FROM	TClan as B
		JOIN   
		(	
			SELECT TOP 3 [ClanID], [MatchCount], [WinMatch], [LoseMatch], [RatingMean], [RatingDeviation] 
			FROM ClanSeasonRecord 
			WHERE SeasonID = @SeasonID 
			ORDER BY [RatingMean] ASC
		) AS A

		ON B.no = A.ClanID
					
	END
	
	ELSE	-- DESC
	BEGIN
	 
		SELECT B.no, B.builddate, B.mark, B.curper, B.maxper, B.name
		FROM	TClan as B
		JOIN   
		(	
			SELECT TOP 3 [ClanID], [MatchCount], [WinMatch], [LoseMatch], [RatingMean], [RatingDeviation] 
			FROM ClanSeasonRecord 
			WHERE SeasonID = @SeasonID 
			ORDER BY [RatingMean] DESC
		) AS A

		ON B.no = A.ClanID
					
	END



END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_LoadClanMemeber]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_LoadClanMemeber]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[usp_LoadClanMemeber]
	-- Add the parameters for the stored procedure here
	@ClanNo AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT		[no], [level], [joindate], [nick], [rank], [nickcolor], [RatingMean],[RatingStdDeviation], [win], [lose], [kill], [death]
	FROM		[dbo].[TClanMem] WITH(NOLOCK)
	WHERE		[clanNo] = @ClanNo
	ORDER BY	[no]

END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_LoadMerceanry]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_LoadMerceanry]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_LoadMerceanry]
	-- Add the parameters for the stored procedure here
	@UserID	AS BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF NOT EXISTS (	SELECT 1 FROM [dbo].[Mercenary] WHERE [UserID] = @UserID )
		BEGIN
			INSERT INTO [dbo].[Mercenary] VALUES (@UserID, 0, 0, 0, 0, 0, 0, 0, 0)
		END
			
	SELECT	[Rank], [MatchCount], [WinMatchCnt], [LoseMatchCnt], [DisconMatchCnt], [KillCount], [DeathCount], [Headshot]
	FROM	[dbo].[Mercenary]
	WHERE	[UserID] = @UserID
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_ReplaceMemberNickColor]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_ReplaceMemberNickColor]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_ReplaceMemberNickColor]
 @oi64UID		AS BIGINT
,@oui32ClanNo	AS INT
,@oui8level		AS TINYINT
,@oui8Nickcolor	AS TINYINT
AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @result		AS INT;
	SET		@result		= 0;

	IF(@oui8level > 0)
	BEGIN
		UPDATE TClanMem SET nickcolor=@oui8Nickcolor WHERE no=@oi64UID;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -1;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
		IF(@oui8level = 1)
		BEGIN
			UPDATE TClan SET mnickcolor=@oui8Nickcolor WHERE no=@oui32ClanNo;
			IF(@@rowcount = 0)
			BEGIN
				SET @result = -2;
				RAISERROR (''--!!!--Error--!!!--'',16,1);
			END
		END
	END
	ELSE
	BEGIN
		UPDATE TClanReq SET nickcolor=@oui8Nickcolor WHERE no=@oi64UID;
		IF(@@rowcount = 0)
		BEGIN
			SET @result = -3;
			RAISERROR (''--!!!--Error--!!!--'',16,1);
		END
	END

	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateClanMatchRecord]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateClanMatchRecord]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[usp_UpdateClanMatchRecord]
	-- Add the parameters for the stored procedure here
	
	@ClanID					AS INT
,	@SeasonID				AS INT
,	@SeasonMatchCount		AS INT
,	@SeasonWinCount			AS INT
,	@SeasonLoseCount		AS INT
,	@SeasonRatingMean		AS REAL
,	@SeasonRatingDeviation	AS REAL
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	BEGIN TRAN
		BEGIN TRY	
			
				IF EXISTS ( SELECT 1	FROM ClanSeasonRecord	WHERE SeasonID = @SeasonID AND ClanID = @ClanID )
					BEGIN
						UPDATE	ClanSeasonRecord
						SET		MatchCount = @SeasonMatchCount,
								WinMatch = @SeasonWinCount,
								LoseMatch = @SeasonLoseCount,
								RatingMean = @SeasonRatingMean,
								RatingDeviation = @SeasonRatingDeviation
						WHERE	ClanID = @ClanID AND SeasonID = @SeasonID
					END
				ELSE
					BEGIN
						INSERT INTO ClanSeasonRecord VALUES (@SeasonID, @ClanID, @SeasonMatchCount, @SeasonWinCount, @SeasonLoseCount, @SeasonRatingMean, @SeasonRatingDeviation )
					END
			
			SELECT 1
			
		END TRY

		BEGIN CATCH
			ROLLBACK TRAN
			SELECT 0
		END CATCH

	COMMIT TRAN

	RETURN 1
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateMercenaryDisconnect]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateMercenaryDisconnect]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_UpdateMercenaryDisconnect]
	-- Add the parameters for the stored procedure here
	@UserID		BIGINT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE		[dbo].[Mercenary]
	SET			[DisconMatchCnt] += 1
	WHERE		[UserID] = @UserID
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateMercenaryRecord]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_UpdateMercenaryRecord]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_UpdateMercenaryRecord]
	-- Add the parameters for the stored procedure here
	@UID			AS BIGINT
,	@Rank			AS INT
,	@IsWin			AS BIT
,	@KillCount		AS INT
,	@DeathCount		AS INT
,	@HeadShotCnt	AS INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	-- Insert statements for procedure here
	BEGIN TRAN

		BEGIN TRY
		
			UPDATE	[dbo].[Mercenary]
			SET		[Rank] = @Rank,
					[MatchCount] += 1,
					[WinMatchCnt] += CASE @IsWin WHEN 0 THEN 0 WHEN 1 THEN 1 END,
					[LoseMatchCnt] += CASE @IsWin WHEN 0 THEN 1 WHEN 1 THEN 0 END,
					[KillCount] += @KillCount,
					[DeathCount] += @DeathCount,
					[Headshot] += @HeadShotCnt
			WHERE	[UserID] = @UID

			COMMIT TRAN	
			SELECT 1
    
		END TRY

		BEGIN CATCH
			ROLLBACK TRAN
			SELECT 0
		END CATCH

END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClan_master_upd]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClan_master_upd]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClan_master_upd]
/* ======================================================
// Interface Part
// ====================================================== */
	@iMuid_				BIGINT
,	@iMnick_			VARCHAR(32)
,	@iMrank_			TINYINT
,	@iNo_				INT
,   @iResult			SMALLINT = 0    OUTPUT

/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925
// Description  : 클랜 정보 중 마스터 값 수정
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClan_master_upd''

/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

UPDATE dbo.TClan SET 
	  [muid] = @iMuid_
	, [mnick] = @iMnick_
	, [mrank] = @iMrank_ 
WHERE [no] = @iNo_

IF( @iResult = 0 ) COMMIT TRANSACTION 
ELSE
BEGIN
    ROLLBACK TRANSACTION

    EXEC GameStat.dbo.SDataErrorLog_ins @strDBName, @strProcName, @iResult
END
/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION
    EXEC GameStat.dbo.SDBErrorLog_ins @strDBName
    SET     @iResult = -9999
END CATCH' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClan_no_sel]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClan_no_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClan_no_sel]
/* ======================================================
// Interface Part
// ====================================================== */
    @strName_       NVARCHAR(50) = ''''
,	@iNo_			INT	= 0
,   @iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120924.
// Description  : 클랜 ID 정보 조회
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClan_sel''
/* ======================================================
// Implementation Part
// ====================================================== */

DECLARE @strSQL NVARCHAR(MAX)
SELECT  @strSQL = N''SELECT [no] FROM TClan WHERE 1=1''

SELECT @strSQL = CASE @strName_ WHEN '''' THEN @strSQL ELSE @strSQL + N'' AND Name = @strName_'' END
SELECT @strSQL = CASE @iNo_ WHEN 0 THEN @strSQL ELSE @strSQL + N'' AND No = @iNo_'' END

EXEC sp_executesql 
    @strSQL
,   N''@strName_ VARCHAR(50), @iNo_	INT''
,   @strName_
,	@iNo_' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClan_sel]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClan_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClan_sel]
/* ======================================================
// Interface Part
// ====================================================== */
	@iNo_			INT
,   @iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120924.
// Description  : 클랜정보 조회
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClan_sel''
/* ======================================================
// Implementation Part
// ====================================================== */
SELECT *
FROM dbo.TClan 
WHERE [no] = @iNo_
OPTION (MAXDOP 1)	
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClan_upd]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClan_upd]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClan_upd]
/* ======================================================
// Interface Part
// ====================================================== */
	@strName_		NVARCHAR(50)
,	@iExp_			INT
--,	@iPoint_		REAL
,	@iCurper_		TINYINT
,	@iMaxper_		TINYINT
,	@iBuilddate_	INT
,	@iAuthstaff_	TINYINT
,	@iMark_			INT
,	@iStatedate_	INT
,	@iRanklock_		TINYINT
,	@iLagelock_		TINYINT
,	@iHagelock_		TINYINT
,	@strIntro_		NVARCHAR(255)
,	@strAnnounce_	NVARCHAR(255)
,	@iMatch_		INT
,	@iWin_			INT
,	@iLose_			INT
--,	@iSmatch_		INT
--,	@iSwin_			INT
--,	@iSlose_		INT
,	@iNo			INT
,   @iResult		SMALLINT = 0    OUTPUT

/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925
// Description  : 클랜 정보 수정
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClan_upd''

/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

UPDATE dbo.TClan SET
	 name = @strName_
	,exp=@iExp_
--	,point=@iPoint_
	,curper=@iCurper_
	,maxper=@iMaxper_
	,builddate=@iBuilddate_
	,authstaff=@iAuthstaff_
	,mark=@iMark_
	,statedate=@iStatedate_
	,ranklock=@iRanklock_
	,lagelock=@iLagelock_
	,hagelock=@iHagelock_
	,intro=@strIntro_
	,announce=@strAnnounce_
	,match=@iMatch_
	,win=@iWin_
	,lose=@iLose_
--	,smatch=@iSmatch_
--	,swin=@iSwin_
--	,slose=@iSlose_
WHERE no = @iNo

IF( @iResult = 0 ) COMMIT TRANSACTION 
ELSE
BEGIN
    ROLLBACK TRANSACTION

    EXEC GameStat.dbo.SDataErrorLog_ins @strDBName, @strProcName, @iResult
END
/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION
    EXEC GameStat.dbo.SDBErrorLog_ins @strDBName
    SET     @iResult = -9999
END CATCH
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClanItem_sel]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClanItem_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClanItem_sel]
/* ======================================================
// Interface Part
// ====================================================== */
	@iClanIdx_			INT
,   @iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925.
// Description  : 클랜 아이템 조회
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClanItem_sel''
/* ======================================================
// Implementation Part
// ====================================================== */
SELECT [ItemID], [date] FROM TClanItem WHERE [no] = @iClanIdx_' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClanMem_info_sel]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClanMem_info_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClanMem_info_sel]
/* ======================================================
// Interface Part
// ====================================================== */
    @iNO_		BIGINT
,   @iResult    SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120928.
// Description  : 클랜 소속 정보 조회.
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClanMem_info_sel''
/* ======================================================
// Implementation Part
// ====================================================== */
SELECT clanNo, name FROM dbo.TClanMem, dbo.TClan
where TClanMem.no = @iNO_
and TClanMem.clanNo = TClan.no' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClanMem_master_level_upd]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClanMem_master_level_upd]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClanMem_master_level_upd]
/* ======================================================
// Interface Part
// ====================================================== */
	@iMasterUid_		BIGINT
,   @iResult			SMALLINT = 0    OUTPUT

/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925
// Description  : 클랜 마스터 레벨 up
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClanMem_master_level_upd''

/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

UPDATE TClanMem SET 
	[level] = 1
,	[auth] = 255 
WHERE [no] = @iMasterUid_

IF( @iResult = 0 ) COMMIT TRANSACTION 
ELSE
BEGIN
    ROLLBACK TRANSACTION

    EXEC GameStat.dbo.SDataErrorLog_ins @strDBName, @strProcName, @iResult
END
/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION
    EXEC GameStat.dbo.SDBErrorLog_ins @strDBName
    SET     @iResult = -9999
END CATCH' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClanMem_master_sel]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClanMem_master_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClanMem_master_sel] 
/* ======================================================
// Interface Part
// ====================================================== */
	@iNo_			BIGINT
,   @iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925.
// Description  : 클랜장으로 선택한 사용자 정보 추출
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClanMem_master_sel''
/* ======================================================
// Implementation Part
// ====================================================== */
SELECT [nick], [rank] FROM TClanMem 
WHERE no = @iNo_' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClanMem_sel]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClanMem_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClanMem_sel]
/* ======================================================
// Interface Part
// ====================================================== */
	@iClanIdx_		INT
,   @iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925.
// Description  : 클랜 멤버 조회
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClanMem_sel''
/* ======================================================
// Implementation Part
// ====================================================== */
SELECT *
FROM dbo.TClanMem 
WHERE [clanNo] = @iClanIdx_
order by [level] ASC
OPTION (MAXDOP 1)	' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClanMem_xmaster_level_upd]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClanMem_xmaster_level_upd]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClanMem_xmaster_level_upd]
/* ======================================================
// Interface Part
// ====================================================== */
	@iClanNo_			INT
,   @iResult			SMALLINT = 0    OUTPUT

/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925
// Description  : 클랜 이전 마스터 레벨 down
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClanMem_xmaster_level_upd''

/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

UPDATE dbo.TClanMem SET 
	  [level] = 3
	, [auth] = 0 
WHERE [level] = 1 and [clanNo] = @iClanNo_

IF( @iResult = 0 ) COMMIT TRANSACTION 
ELSE
BEGIN
    ROLLBACK TRANSACTION

    EXEC GameStat.dbo.SDataErrorLog_ins @strDBName, @strProcName, @iResult
END
/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION
    EXEC GameStat.dbo.SDBErrorLog_ins @strDBName
    SET     @iResult = -9999
END CATCH' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TClanReq_sel]    Script Date: 2015-02-23 오전 10:27:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TClanReq_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TClanReq_sel]
/* ======================================================
// Interface Part
// ====================================================== */
	@iClanIdx_		INT
,   @iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925.
// Description  : 클랜 요청정보 조회
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TClanReq_sel''
/* ======================================================
// Implementation Part
// ====================================================== */
SELECT [no], [comment], [reqdate] 
FROM dbo.TClanReq 
WHERE [clanNo] = @iClanIdx_' 
END
GO
