USE [PBClan]
GO
/****** Object:  Table [dbo].[ClanSeasonRecord]    Script Date: 2015-02-27 오전 9:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ClanSeasonRecord]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ClanSeasonRecord](
	[SeasonID] [int] NOT NULL,
	[ClanID] [int] NOT NULL,
	[MatchCount] [int] NOT NULL,
	[WinMatch] [int] NOT NULL,
	[LoseMatch] [int] NOT NULL,
	[RatingMean] [real] NOT NULL,
	[RatingDeviation] [real] NOT NULL,
 CONSTRAINT [PK_ClanSeasonRecord] PRIMARY KEY CLUSTERED 
(
	[SeasonID] ASC,
	[ClanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Mercenary]    Script Date: 2015-02-27 오전 9:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Mercenary]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Mercenary](
	[UserID] [bigint] NOT NULL,
	[Rank] [int] NULL,
	[MatchCount] [int] NULL,
	[WinMatchCnt] [int] NULL,
	[LoseMatchCnt] [int] NULL,
	[DisconMatchCnt] [int] NULL,
	[KillCount] [int] NULL,
	[DeathCount] [int] NULL,
	[Headshot] [int] NULL,
 CONSTRAINT [PKC_Mercenary] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TClan]    Script Date: 2015-02-27 오전 9:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TClan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TClan](
	[no] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[exprank] [tinyint] NOT NULL,
	[perrank] [tinyint] NOT NULL,
	[mark] [int] NOT NULL,
	[exp] [int] NOT NULL,
	[curper] [tinyint] NOT NULL,
	[maxper] [tinyint] NOT NULL,
	[clanrank] [int] NOT NULL,
	[prevrank] [int] NOT NULL,
	[match] [int] NOT NULL,
	[win] [int] NOT NULL,
	[lose] [int] NOT NULL,
	[builddate] [int] NOT NULL,
	[ranklock] [tinyint] NOT NULL,
	[lagelock] [tinyint] NOT NULL,
	[hagelock] [tinyint] NOT NULL,
	[muid] [bigint] NOT NULL,
	[mnick] [nvarchar](32) NULL,
	[mrank] [tinyint] NOT NULL,
	[intro] [nvarchar](255) NOT NULL,
	[announce] [nvarchar](255) NOT NULL,
	[azitURL] [nvarchar](32) NOT NULL,
	[authstaff] [tinyint] NOT NULL,
	[statedate] [int] NOT NULL,
	[mnickcolor] [tinyint] NOT NULL,
 CONSTRAINT [PK_TClan] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TClanItem]    Script Date: 2015-02-27 오전 9:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TClanItem]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TClanItem](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[no] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[date] [int] NOT NULL,
	[Arg0] [int] NULL,
 CONSTRAINT [PK_TClanItem] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TClanMem]    Script Date: 2015-02-27 오전 9:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TClanMem]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TClanMem](
	[no] [bigint] NOT NULL,
	[clanNo] [int] NOT NULL,
	[level] [tinyint] NOT NULL,
	[auth] [tinyint] NOT NULL,
	[joindate] [int] NOT NULL,
	[win] [int] NOT NULL,
	[lose] [int] NOT NULL,
	[exp] [int] NOT NULL,
	[kill] [int] NOT NULL,
	[death] [int] NOT NULL,
	[headshot] [int] NOT NULL,
	[connect] [int] NOT NULL,
	[nick] [nvarchar](50) NULL,
	[rank] [tinyint] NOT NULL,
	[RatingMean] [real] NULL,
	[RatingStdDeviation] [real] NULL,
	[nickcolor] [tinyint] NOT NULL,
 CONSTRAINT [PK_TClanMem] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TClanReq]    Script Date: 2015-02-27 오전 9:46:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TClanReq]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TClanReq](
	[no] [bigint] NOT NULL,
	[clanNo] [int] NOT NULL,
	[comment] [nvarchar](255) NULL,
	[reqdate] [int] NOT NULL,
	[nick] [nvarchar](50) NULL,
	[rank] [tinyint] NOT NULL,
	[killcount] [int] NOT NULL,
	[death] [int] NOT NULL,
	[match] [int] NOT NULL,
	[win] [int] NOT NULL,
	[lose] [int] NOT NULL,
	[nickcolor] [tinyint] NOT NULL,
 CONSTRAINT [PK_TClanReq] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_exprank]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_exprank]  DEFAULT ((0)) FOR [exprank]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_perrank]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_perrank]  DEFAULT ((0)) FOR [perrank]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_mark]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_mark]  DEFAULT ((0)) FOR [mark]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_exp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_exp]  DEFAULT ((0)) FOR [exp]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_curper]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_curper]  DEFAULT ((1)) FOR [curper]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_maxper]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_maxper]  DEFAULT ((50)) FOR [maxper]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_clanrank]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_clanrank]  DEFAULT ((0)) FOR [clanrank]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_prevrank]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_prevrank]  DEFAULT ((0)) FOR [prevrank]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_match]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_match]  DEFAULT ((0)) FOR [match]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_win]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_win]  DEFAULT ((0)) FOR [win]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_lose]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_lose]  DEFAULT ((0)) FOR [lose]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_builddate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_builddate]  DEFAULT ((0)) FOR [builddate]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_ranklock]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_ranklock]  DEFAULT ((0)) FOR [ranklock]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_lagelock]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_lagelock]  DEFAULT ((0)) FOR [lagelock]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_hagelock]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_hagelock]  DEFAULT ((0)) FOR [hagelock]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_announce]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_announce]  DEFAULT ('') FOR [announce]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_authstaff]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_authstaff]  DEFAULT ((0)) FOR [authstaff]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClan_statedate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  CONSTRAINT [DF_TClan_statedate]  DEFAULT ((0)) FOR [statedate]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TClan__mnickcolo__6B84DD35]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClan] ADD  DEFAULT ((0)) FOR [mnickcolor]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanMem_win]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanMem] ADD  CONSTRAINT [DF_TClanMem_win]  DEFAULT ((0)) FOR [win]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanMem_lose]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanMem] ADD  CONSTRAINT [DF_TClanMem_lose]  DEFAULT ((0)) FOR [lose]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanMem_exp]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanMem] ADD  CONSTRAINT [DF_TClanMem_exp]  DEFAULT ((0)) FOR [exp]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanMem_kill]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanMem] ADD  CONSTRAINT [DF_TClanMem_kill]  DEFAULT ((0)) FOR [kill]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanMem_death]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanMem] ADD  CONSTRAINT [DF_TClanMem_death]  DEFAULT ((0)) FOR [death]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanMem_headshot]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanMem] ADD  CONSTRAINT [DF_TClanMem_headshot]  DEFAULT ((0)) FOR [headshot]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanMem_connect]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanMem] ADD  CONSTRAINT [DF_TClanMem_connect]  DEFAULT ((0)) FOR [connect]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TClanMem__rank__276EDEB3]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanMem] ADD  DEFAULT ((0)) FOR [rank]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TClanMem__nickco__6C79016E]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanMem] ADD  DEFAULT ((0)) FOR [nickcolor]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanReq_rank]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanReq] ADD  CONSTRAINT [DF_TClanReq_rank]  DEFAULT ((0)) FOR [rank]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanReq_killcount]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanReq] ADD  CONSTRAINT [DF_TClanReq_killcount]  DEFAULT ((0)) FOR [killcount]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanReq_death]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanReq] ADD  CONSTRAINT [DF_TClanReq_death]  DEFAULT ((0)) FOR [death]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanReq_match]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanReq] ADD  CONSTRAINT [DF_TClanReq_match]  DEFAULT ((0)) FOR [match]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanReq_win]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanReq] ADD  CONSTRAINT [DF_TClanReq_win]  DEFAULT ((0)) FOR [win]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TClanReq_lose]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanReq] ADD  CONSTRAINT [DF_TClanReq_lose]  DEFAULT ((0)) FOR [lose]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__TClanReq__nickco__6D6D25A7]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TClanReq] ADD  DEFAULT ((0)) FOR [nickcolor]
END

GO
