USE [ZLog]
GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__waitstats__timen__01AABF2C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[waitstats] DROP CONSTRAINT [DF__waitstats__timen__01AABF2C]
END

GO
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TCompleteTable_ui8GetInfo]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TCompleteTable] DROP CONSTRAINT [DF_TCompleteTable_ui8GetInfo]
END

GO
/****** Object:  Table [dbo].[waitstats]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[waitstats]') AND type in (N'U'))
DROP TABLE [dbo].[waitstats]
GO
/****** Object:  Table [dbo].[TShopItemList]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TShopItemList]') AND type in (N'U'))
DROP TABLE [dbo].[TShopItemList]
GO
/****** Object:  Table [dbo].[TShopGoodsListTest]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TShopGoodsListTest]') AND type in (N'U'))
DROP TABLE [dbo].[TShopGoodsListTest]
GO
/****** Object:  Table [dbo].[TShopGoodsList]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TShopGoodsList]') AND type in (N'U'))
DROP TABLE [dbo].[TShopGoodsList]
GO
/****** Object:  Table [dbo].[tlogpbTest]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tlogpbTest]') AND type in (N'U'))
DROP TABLE [dbo].[tlogpbTest]
GO
/****** Object:  Table [dbo].[TKPI]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TKPI]') AND type in (N'U'))
DROP TABLE [dbo].[TKPI]
GO
/****** Object:  Table [dbo].[TCompleteTable]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TCompleteTable]') AND type in (N'U'))
DROP TABLE [dbo].[TCompleteTable]
GO
/****** Object:  Table [dbo].[SaleStat]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaleStat]') AND type in (N'U'))
DROP TABLE [dbo].[SaleStat]
GO
/****** Object:  Table [dbo].[SalesStat]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SalesStat]') AND type in (N'U'))
DROP TABLE [dbo].[SalesStat]
GO
/****** Object:  Table [dbo].[SalesCollect]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SalesCollect]') AND type in (N'U'))
DROP TABLE [dbo].[SalesCollect]
GO
/****** Object:  Table [dbo].[RankStatTemp]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatTemp]') AND type in (N'U'))
DROP TABLE [dbo].[RankStatTemp]
GO
/****** Object:  Table [dbo].[RankStatIndividual]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatIndividual]') AND type in (N'U'))
DROP TABLE [dbo].[RankStatIndividual]
GO
/****** Object:  Table [dbo].[RankStatDoubt]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatDoubt]') AND type in (N'U'))
DROP TABLE [dbo].[RankStatDoubt]
GO
/****** Object:  Table [dbo].[RankStatDay]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatDay]') AND type in (N'U'))
DROP TABLE [dbo].[RankStatDay]
GO
/****** Object:  Table [dbo].[RankStatClan]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatClan]') AND type in (N'U'))
DROP TABLE [dbo].[RankStatClan]
GO
/****** Object:  Table [dbo].[MonitoringWaits]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonitoringWaits]') AND type in (N'U'))
DROP TABLE [dbo].[MonitoringWaits]
GO
/****** Object:  Table [dbo].[MonitoringSpace]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonitoringSpace]') AND type in (N'U'))
DROP TABLE [dbo].[MonitoringSpace]
GO
/****** Object:  Table [dbo].[MapWeaponPosition]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MapWeaponPosition]') AND type in (N'U'))
DROP TABLE [dbo].[MapWeaponPosition]
GO
/****** Object:  Table [dbo].[MapStat]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MapStat]') AND type in (N'U'))
DROP TABLE [dbo].[MapStat]
GO
/****** Object:  Table [dbo].[KPIStat]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KPIStat]') AND type in (N'U'))
DROP TABLE [dbo].[KPIStat]
GO
/****** Object:  Table [dbo].[DailyRecordOfUser]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DailyRecordOfUser]') AND type in (N'U'))
DROP TABLE [dbo].[DailyRecordOfUser]
GO
/****** Object:  Table [dbo].[DailyRecordOfClan]    Script Date: 2015-02-11 오후 7:04:47 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DailyRecordOfClan]') AND type in (N'U'))
DROP TABLE [dbo].[DailyRecordOfClan]
GO
/****** Object:  Table [dbo].[DailyRecordOfClan]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DailyRecordOfClan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DailyRecordOfClan](
	[RegDate] [smalldatetime] NOT NULL,
	[ClanID] [int] NOT NULL,
	[ExpValue] [int] NOT NULL,
	[WinCnt] [int] NOT NULL,
	[DrawCnt] [int] NOT NULL,
	[LoseCnt] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DailyRecordOfUser]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DailyRecordOfUser]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DailyRecordOfUser](
	[RegDate] [smalldatetime] NOT NULL,
	[UID] [bigint] NOT NULL,
	[ExpValue] [int] NOT NULL,
	[KillCnt] [int] NOT NULL,
	[DeathCnt] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[KPIStat]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KPIStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KPIStat](
	[sdtRegDate] [smalldatetime] NOT NULL,
	[ui8DataType] [tinyint] NOT NULL,
	[i32GRU] [int] NOT NULL,
	[i32NGRU] [int] NOT NULL,
	[i32MCU] [int] NOT NULL,
	[i32ACU] [int] NOT NULL,
	[i32UV] [int] NOT NULL,
	[i32TS] [int] NOT NULL,
	[i32MTS] [int] NOT NULL,
	[i32BU] [int] NOT NULL,
	[i32Sales] [int] NOT NULL,
 CONSTRAINT [PKC_KPIStat_RegDate_DataType] PRIMARY KEY CLUSTERED 
(
	[sdtRegDate] ASC,
	[ui8DataType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MapStat]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MapStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MapStat](
	[RegDate] [smalldatetime] NOT NULL,
	[MapID] [int] NOT NULL,
	[StageType] [int] NOT NULL,
	[PlayTime] [bigint] NOT NULL,
	[PlayRound] [int] NOT NULL,
 CONSTRAINT [PKC_MapStat_RegDate_MapID_StageType] PRIMARY KEY CLUSTERED 
(
	[RegDate] ASC,
	[MapID] ASC,
	[StageType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MapWeaponPosition]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MapWeaponPosition]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MapWeaponPosition](
	[RegDate] [smalldatetime] NOT NULL,
	[MapID] [smallint] NOT NULL,
	[WeaponID] [int] NOT NULL,
	[DeathX] [smallint] NOT NULL,
	[DeathY] [smallint] NOT NULL,
	[DeathZ] [smallint] NOT NULL,
	[DX] [smallint] NOT NULL,
	[DY] [smallint] NOT NULL,
	[UserCnt] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MonitoringSpace]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonitoringSpace]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MonitoringSpace](
	[CheckDate] [smalldatetime] NOT NULL,
	[ServerName] [nvarchar](60) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[TotalSize] [bigint] NOT NULL,
	[UsedSize] [bigint] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MonitoringWaits]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonitoringWaits]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MonitoringWaits](
	[CheckDate] [smalldatetime] NOT NULL,
	[ServerName] [nvarchar](60) NOT NULL,
	[WaitType] [nvarchar](60) NOT NULL,
	[Wait] [decimal](14, 2) NOT NULL,
	[Resource] [decimal](14, 2) NOT NULL,
	[Signal] [decimal](14, 2) NOT NULL,
	[WaitCnt] [bigint] NOT NULL,
	[Percentage] [decimal](14, 2) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RankStatClan]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatClan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RankStatClan](
	[Date] [smalldatetime] NOT NULL,
	[TermType] [smallint] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[ClanID] [int] NOT NULL,
	[ClanName] [nvarchar](50) NOT NULL,
	[Exp] [bigint] NOT NULL,
	[Win] [int] NOT NULL,
	[Lose] [int] NOT NULL,
	[MemberCnt] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL,
	[IsSend] [bit] NOT NULL,
	[SendDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RankStatDay]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatDay]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RankStatDay](
	[Date] [smalldatetime] NOT NULL,
	[RankType] [smallint] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[lData1] [bigint] NOT NULL,
	[lData2] [bigint] NOT NULL,
	[iData1] [int] NOT NULL,
	[iData2] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RankStatDoubt]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatDoubt]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RankStatDoubt](
	[Date] [smalldatetime] NOT NULL,
	[Rank] [int] NOT NULL,
	[UID] [bigint] NOT NULL,
	[Exp] [bigint] NOT NULL,
	[KillCnt] [int] NOT NULL,
	[DeathCnt] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RankStatIndividual]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatIndividual]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RankStatIndividual](
	[Date] [smalldatetime] NOT NULL,
	[TermType] [smallint] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[UID] [bigint] NOT NULL,
	[Nickname] [nvarchar](50) NOT NULL,
	[Level] [int] NOT NULL,
	[Exp] [bigint] NOT NULL,
	[Kill] [int] NOT NULL,
	[Death] [int] NOT NULL,
	[HeadShot] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL,
	[IsSend] [bit] NOT NULL,
	[SendDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RankStatTemp]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatTemp]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RankStatTemp](
	[Date] [smalldatetime] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[lData1] [bigint] NULL,
	[lData2] [bigint] NULL,
	[iData1] [int] NULL,
	[iData2] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SalesCollect]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SalesCollect]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SalesCollect](
	[RegDate] [smalldatetime] NOT NULL,
	[UID] [bigint] NOT NULL,
	[GoodsID] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[IsRepair] [bit] NOT NULL,
	[IsCash] [bit] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SalesStat]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SalesStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SalesStat](
	[RegDate] [smalldatetime] NOT NULL,
	[GoodsID] [int] NOT NULL,
	[GoodsName] [varchar](32) NOT NULL,
	[PointSaleCount] [int] NOT NULL,
	[CashSaleCount] [int] NOT NULL,
	[Point] [int] NOT NULL,
	[Cash] [int] NOT NULL,
	[IsRepair] [int] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SaleStat]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaleStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SaleStat](
	[RegDate] [smalldatetime] NOT NULL,
	[GoodsID] [int] NOT NULL,
	[GoodsName] [varchar](32) NULL,
	[PointSaleCount] [int] NOT NULL,
	[CashSaleCount] [int] NOT NULL,
	[Point] [int] NULL,
	[Cash] [int] NULL,
	[PointSaleUniqueCount] [int] NULL,
	[CashSaleUniqueCount] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TCompleteTable]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TCompleteTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TCompleteTable](
	[strTableName] [varchar](16) NOT NULL,
	[ui8GetInfo] [tinyint] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TKPI]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TKPI]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TKPI](
	[sdtDate] [smalldatetime] NOT NULL,
	[i32GRU] [int] NOT NULL,
	[i32NGRU] [int] NOT NULL,
	[i32MCU] [int] NOT NULL,
	[i32ACU] [int] NOT NULL,
	[i32UV] [int] NOT NULL,
	[i32TS] [int] NOT NULL,
	[i32MTS] [int] NOT NULL,
	[i32BU] [int] NOT NULL,
	[i32Sales] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[tlogpbTest]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tlogpbTest]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tlogpbTest](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[Time] [smalldatetime] NOT NULL,
	[iData6] [int] NULL,
	[sData2] [varchar](255) NULL,
	[ID] [int] NOT NULL,
	[bData8] [int] NULL,
 CONSTRAINT [PK_tlogpbTest] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TShopGoodsList]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TShopGoodsList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TShopGoodsList](
	[i32GoodsID] [int] NOT NULL,
	[strGoodsName] [varchar](32) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TShopGoodsListTest]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TShopGoodsListTest]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TShopGoodsListTest](
	[i32GoodsID] [int] NOT NULL,
	[strGoodsName] [varchar](32) NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TShopItemList]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TShopItemList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TShopItemList](
	[ItemID] [int] NOT NULL,
	[ItemName] [varchar](32) NOT NULL,
 CONSTRAINT [PK_TShopItemList] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[waitstats]    Script Date: 2015-02-11 오후 7:04:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[waitstats]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[waitstats](
	[Wait_Type] [varchar](80) NULL,
	[Requests] [numeric](18, 1) NULL,
	[Wait_Time] [numeric](18, 1) NULL,
	[Signal_Wait_Time] [numeric](18, 1) NULL,
	[timenow] [datetime] NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF_TCompleteTable_ui8GetInfo]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[TCompleteTable] ADD  CONSTRAINT [DF_TCompleteTable_ui8GetInfo]  DEFAULT ((0)) FOR [ui8GetInfo]
END

GO
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[dbo].[DF__waitstats__timen__01AABF2C]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[waitstats] ADD  DEFAULT (getdate()) FOR [timenow]
END

GO
