USE [ZStat]
GO
/****** Object:  Table [dbo].[TempUnionData]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempUnionData]') AND type in (N'U'))
DROP TABLE [dbo].[TempUnionData]
GO
/****** Object:  Table [dbo].[TempRankStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempRankStat]') AND type in (N'U'))
DROP TABLE [dbo].[TempRankStat]
GO
/****** Object:  Table [dbo].[ShopGiftStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ShopGiftStat]') AND type in (N'U'))
DROP TABLE [dbo].[ShopGiftStat]
GO
/****** Object:  Table [dbo].[SaleStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaleStat]') AND type in (N'U'))
DROP TABLE [dbo].[SaleStat]
GO
/****** Object:  Table [dbo].[RetentionRate]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RetentionRate]') AND type in (N'U'))
DROP TABLE [dbo].[RetentionRate]
GO
/****** Object:  Table [dbo].[RankStatUser]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatUser]') AND type in (N'U'))
DROP TABLE [dbo].[RankStatUser]
GO
/****** Object:  Table [dbo].[RankStatDoubt]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatDoubt]') AND type in (N'U'))
DROP TABLE [dbo].[RankStatDoubt]
GO
/****** Object:  Table [dbo].[RankStatDay]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatDay]') AND type in (N'U'))
DROP TABLE [dbo].[RankStatDay]
GO
/****** Object:  Table [dbo].[RankStatClan]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatClan]') AND type in (N'U'))
DROP TABLE [dbo].[RankStatClan]
GO
/****** Object:  Table [dbo].[MonitoringWaits]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonitoringWaits]') AND type in (N'U'))
DROP TABLE [dbo].[MonitoringWaits]
GO
/****** Object:  Table [dbo].[MonitoringSpace]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonitoringSpace]') AND type in (N'U'))
DROP TABLE [dbo].[MonitoringSpace]
GO
/****** Object:  Table [dbo].[MiniMap]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MiniMap]') AND type in (N'U'))
DROP TABLE [dbo].[MiniMap]
GO
/****** Object:  Table [dbo].[MapStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MapStat]') AND type in (N'U'))
DROP TABLE [dbo].[MapStat]
GO
/****** Object:  Table [dbo].[MapPositionStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MapPositionStat]') AND type in (N'U'))
DROP TABLE [dbo].[MapPositionStat]
GO
/****** Object:  Table [dbo].[KPIStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KPIStat]') AND type in (N'U'))
DROP TABLE [dbo].[KPIStat]
GO
/****** Object:  Table [dbo].[GeoIPCountry]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GeoIPCountry]') AND type in (N'U'))
DROP TABLE [dbo].[GeoIPCountry]
GO
/****** Object:  Table [dbo].[DailyRecordUser]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DailyRecordUser]') AND type in (N'U'))
DROP TABLE [dbo].[DailyRecordUser]
GO
/****** Object:  Table [dbo].[DailyRecordClan]    Script Date: 2015-02-11 오후 6:50:27 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DailyRecordClan]') AND type in (N'U'))
DROP TABLE [dbo].[DailyRecordClan]
GO
/****** Object:  Table [dbo].[DailyRecordClan]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DailyRecordClan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DailyRecordClan](
	[RegDate] [smalldatetime] NOT NULL,
	[ClanID] [bigint] NOT NULL,
	[Wins] [int] NOT NULL,
	[Draws] [int] NOT NULL,
	[Loses] [int] NOT NULL,
	[GetExp] [int] NOT NULL,
	[GetPoint] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[DailyRecordUser]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DailyRecordUser]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DailyRecordUser](
	[RegDate] [smalldatetime] NOT NULL,
	[AccountUID] [bigint] NOT NULL,
	[GetExp] [int] NOT NULL,
	[GetPoint] [int] NOT NULL,
	[Kills] [int] NOT NULL,
	[Deaths] [int] NOT NULL,
	[HeadShots] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[GeoIPCountry]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GeoIPCountry]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[GeoIPCountry](
	[StartIP] [bigint] NOT NULL,
	[EndIP] [bigint] NOT NULL,
	[StartIPs] [nvarchar](15) NOT NULL,
	[EndIPs] [nvarchar](15) NOT NULL,
	[CountryCode] [nvarchar](10) NOT NULL,
	[CountryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PKC_GeoIPCountry_StartIP_EndIP] PRIMARY KEY CLUSTERED 
(
	[StartIP] ASC,
	[EndIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[KPIStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KPIStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KPIStat](
	[RegDate] [smalldatetime] NOT NULL,
	[DateType] [smallint] NOT NULL,
	[GRU] [bigint] NOT NULL,
	[NGRU] [bigint] NOT NULL,
	[MCU] [bigint] NOT NULL,
	[ACU] [bigint] NOT NULL,
	[UV] [bigint] NOT NULL,
	[TS] [bigint] NOT NULL,
	[MTS] [bigint] NOT NULL,
	[BU] [bigint] NOT NULL,
	[Sales] [bigint] NOT NULL,
 CONSTRAINT [PKC_KPIStat_RegDate_DateType] PRIMARY KEY CLUSTERED 
(
	[RegDate] ASC,
	[DateType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MapPositionStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MapPositionStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MapPositionStat](
	[RegDate] [smalldatetime] NOT NULL,
	[MapID] [tinyint] NOT NULL,
	[WeaponType] [tinyint] NOT NULL,
	[KillX] [smallint] NOT NULL,
	[KillY] [smallint] NOT NULL,
	[KillZ] [smallint] NOT NULL,
	[DeathX] [smallint] NOT NULL,
	[DeathY] [smallint] NOT NULL,
	[DeathZ] [smallint] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MapStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MapStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MapStat](
	[RegDate] [smalldatetime] NOT NULL,
	[MapID] [int] NOT NULL,
	[StageType] [int] NOT NULL,
	[PlayTime] [bigint] NOT NULL,
	[PlayRound] [int] NOT NULL,
 CONSTRAINT [PKC_MapStat_RegDate_MapID_StageType] PRIMARY KEY CLUSTERED 
(
	[RegDate] ASC,
	[MapID] ASC,
	[StageType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MiniMap]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MiniMap]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MiniMap](
	[MapID] [int] NOT NULL,
	[MapName] [nvarchar](50) NOT NULL,
	[RealMapScale] [float] NOT NULL,
	[RealBakedSize] [int] NOT NULL,
	[ImageSizeW] [smallint] NOT NULL,
	[ImageSizeH] [smallint] NOT NULL,
	[CenterX] [int] NOT NULL,
	[CenterY] [int] NOT NULL,
 CONSTRAINT [PKC_MiniMap_MapID] PRIMARY KEY CLUSTERED 
(
	[MapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MonitoringSpace]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonitoringSpace]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MonitoringSpace](
	[CheckDate] [smalldatetime] NOT NULL,
	[ServerName] [nvarchar](60) NOT NULL,
	[Type] [nvarchar](10) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[TotalSize] [bigint] NOT NULL,
	[UsedSize] [bigint] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[MonitoringWaits]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MonitoringWaits]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MonitoringWaits](
	[CheckDate] [smalldatetime] NOT NULL,
	[ServerName] [nvarchar](60) NOT NULL,
	[WaitType] [nvarchar](60) NOT NULL,
	[Wait] [decimal](14, 2) NOT NULL,
	[Resource] [decimal](14, 2) NOT NULL,
	[Signal] [decimal](14, 2) NOT NULL,
	[WaitCnt] [bigint] NOT NULL,
	[Percentage] [decimal](14, 2) NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RankStatClan]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatClan]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RankStatClan](
	[RegDate] [smalldatetime] NOT NULL,
	[DateType] [smallint] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[ClanID] [int] NOT NULL,
	[ClanName] [nvarchar](50) NOT NULL,
	[ExpValue] [bigint] NOT NULL,
	[WinCnt] [int] NOT NULL,
	[LoseCnt] [int] NOT NULL,
	[MemberCnt] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL,
	[IsUpdate] [tinyint] NOT NULL,
	[UpdateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RankStatDay]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatDay]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RankStatDay](
	[RegDate] [smalldatetime] NOT NULL,
	[RankType] [smallint] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[lData1] [bigint] NOT NULL,
	[lData2] [bigint] NOT NULL,
	[iData1] [int] NOT NULL,
	[iData2] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RankStatDoubt]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatDoubt]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RankStatDoubt](
	[RegDate] [smalldatetime] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[UID] [bigint] NOT NULL,
	[ExpValue] [bigint] NOT NULL,
	[KillCnt] [int] NOT NULL,
	[DeathCnt] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RankStatUser]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RankStatUser]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RankStatUser](
	[RegDate] [smalldatetime] NOT NULL,
	[DateType] [smallint] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[UID] [bigint] NOT NULL,
	[Nickname] [nvarchar](50) NOT NULL,
	[Level] [int] NOT NULL,
	[ExpValue] [bigint] NOT NULL,
	[KillCnt] [int] NOT NULL,
	[DeathCnt] [int] NOT NULL,
	[HeadShotCnt] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL,
	[IsUpdate] [tinyint] NOT NULL,
	[UpdateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[RetentionRate]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RetentionRate]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RetentionRate](
	[RegDate] [smalldatetime] NOT NULL,
	[DateType] [smallint] NOT NULL,
	[BeforeUV] [bigint] NOT NULL,
	[RevisitUV] [bigint] NOT NULL,
 CONSTRAINT [PKC_RetentionRate_RegDate_DateType] PRIMARY KEY CLUSTERED 
(
	[RegDate] ASC,
	[DateType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[SaleStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SaleStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SaleStat](
	[RegDate] [smalldatetime] NOT NULL,
	[GoodsID] [int] NOT NULL,
	[GoodsName] [nvarchar](50) NULL,
	[Point] [int] NULL,
	[Cash] [int] NULL,
	[PointSaleCount] [int] NOT NULL,
	[CashSaleCount] [int] NOT NULL,
	[PointSaleUniqueCount] [int] NULL,
	[CashSaleUniqueCount] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[ShopGiftStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ShopGiftStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ShopGiftStat](
	[RegDate] [smalldatetime] NOT NULL,
	[Ranking] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[SaleCount] [int] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TempRankStat]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempRankStat]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TempRankStat](
	[RegDate] [smalldatetime] NOT NULL,
	[Rank] [smallint] NOT NULL,
	[lData1] [bigint] NULL,
	[lData2] [bigint] NULL,
	[iData1] [int] NULL,
	[iData2] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[TempUnionData]    Script Date: 2015-02-11 오후 6:50:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TempUnionData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TempUnionData](
	[Time] [datetime] NOT NULL,
	[ID] [int] NOT NULL,
	[lData1] [bigint] NULL,
	[lData2] [bigint] NULL,
	[lData3] [bigint] NULL,
	[iData1] [int] NULL,
	[iData2] [int] NULL,
	[iData3] [int] NULL,
	[iData4] [int] NULL,
	[iData5] [int] NULL,
	[iData6] [int] NULL,
	[iData7] [int] NULL,
	[iData8] [int] NULL,
	[iData9] [int] NULL,
	[iData10] [int] NULL,
	[iData11] [int] NULL,
	[iData12] [int] NULL,
	[iData13] [int] NULL,
	[iData14] [int] NULL,
	[iData15] [int] NULL,
	[iData16] [int] NULL,
	[iData17] [int] NULL,
	[sData1] [varchar](255) NULL,
	[sData2] [varchar](255) NULL,
	[sData3] [varchar](255) NULL,
	[sData4] [varchar](255) NULL,
	[sData5] [varchar](255) NULL,
	[sData6] [varchar](255) NULL,
	[sData7] [varchar](255) NULL,
	[sData8] [varchar](255) NULL,
	[sData9] [varchar](255) NULL,
	[sData10] [varchar](255) NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
