USE [PBMess]
GO
/****** Object:  Table [dbo].[TCmnFr0]    Script Date: 2014-06-11 오전 8:57:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

DECLARE @strQuery NVARCHAR(MAX), @i32Idx INT
DECLARE @strTable NVARCHAR(MAX), @strTable2 NVARCHAR(MAX)

SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'TCmnFr' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'PK_TCmnFr' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		CREATE TABLE [dbo].['+@strTable+'](
			[no] [int] IDENTITY(1,1) NOT NULL,
			[uid] [bigint] NOT NULL,
			[fuid] [bigint] NOT NULL,
			[state] [tinyint] NOT NULL,
			[nick] [NVARCHAR](50) COLLATE SQL_Latin1_General_CP1_CS_AS NULL,
			[rank] [int] NOT NULL,
			[nickcolor] [tinyint] NOT NULL,
		 CONSTRAINT ['+@strTable2+'] PRIMARY KEY CLUSTERED 
		(
			[no] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
		) ON [PRIMARY]
	'
	EXEC dbo.sp_executesql @strQuery
	SET @i32Idx = @i32Idx + 1;
END

/****** Object:  Table [dbo].[TNote0]    Script Date: 2014-06-11 오전 8:57:30 ******/
SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'TNote' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'PK_TNote' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		CREATE TABLE [dbo].['+@strTable+'](
			[no] [int] IDENTITY(1,1) NOT NULL,
			[uid] [bigint] NOT NULL,
			[suid] [bigint] NOT NULL,
			[noteId] [tinyint] NOT NULL,
			[type] [tinyint] NOT NULL,
			[state] [tinyint] NOT NULL,
			[deleteDate] [int] NOT NULL,
			[appendingData] [int] NOT NULL,
			[senderSize] [tinyint] NOT NULL,
			[messageSize] [tinyint] NOT NULL,
			[sender] [NVARCHAR](32) COLLATE SQL_Latin1_General_CP1_CS_AS NOT NULL,
			[message] [NVARCHAR](240) NOT NULL,
		 CONSTRAINT ['+@strTable2+'] PRIMARY KEY CLUSTERED 
		(
			[no] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
		) ON [PRIMARY]
	'
	EXEC dbo.sp_executesql @strQuery
	SET @i32Idx = @i32Idx + 1;
END

/****** Object:  Table [dbo].[TMessengerInfo]    Script Date: 2014-06-11 오전 8:57:30 ******/
CREATE TABLE [dbo].[TMessengerInfo](
	[no] [bigint] NOT NULL,
	[nextNoteId] [int] NOT NULL,
	[sendCount] [tinyint] NULL,
	[sendDate] [int] NULL,
 CONSTRAINT [PK_TMessengerInfo] PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_PADDING OFF
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- IX --****/
------------------------------------------------------------------------------------------------------------------------------------
DECLARE @strQuery NVARCHAR(MAX), @i32Idx INT
DECLARE @strTable NVARCHAR(MAX), @strTable2 NVARCHAR(MAX)

SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'TCmnFr' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'IX_TCmnFr' + CONVERT(NVARCHAR, @i32Idx);
	/****** Object:  Index [IX_TCmnFr0_fuid]    Script Date: 2014-06-11 오전 8:57:30 ******/
	SET @strQuery = N'
		CREATE NONCLUSTERED INDEX ['+@strTable2+'_fuid] ON [dbo].['+@strTable+']
		(
			[fuid] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	'
	EXEC dbo.sp_executesql @strQuery

	/****** Object:  Index [IX_TCmnFr0_uid]    Script Date: 2014-06-11 오전 8:57:30 ******/
	SET @strQuery = N'
		CREATE NONCLUSTERED INDEX ['+@strTable2+'_uid] ON [dbo].['+@strTable+']
		(
			[uid] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	'
	EXEC dbo.sp_executesql @strQuery
	SET @i32Idx = @i32Idx + 1;
END

SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'TNote' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'IX_TNote' + CONVERT(NVARCHAR, @i32Idx);
	/****** Object:  Index [IX_TNote0_deleteDate]    Script Date: 2014-06-11 오전 8:57:31 ******/
	SET @strQuery = N'
		CREATE NONCLUSTERED INDEX ['+@strTable2+'_deleteDate] ON [dbo].['+@strTable+']
		(
			[deleteDate] DESC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	'
	EXEC dbo.sp_executesql @strQuery

	/****** Object:  Index [IX_TNote0_uid]    Script Date: 2014-06-11 오전 8:57:31 ******/
	SET @strQuery = N'
		CREATE NONCLUSTERED INDEX ['+@strTable2+'_uid] ON [dbo].['+@strTable+']
		(
			[uid] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	'
	EXEC dbo.sp_executesql @strQuery
	SET @i32Idx = @i32Idx + 1;
END
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- DF --****/
------------------------------------------------------------------------------------------------------------------------------------
DECLARE @strQuery NVARCHAR(MAX), @i32Idx INT
DECLARE @strTable NVARCHAR(MAX)

SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'TCmnFr' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_rank]  DEFAULT ((0)) FOR [rank]
	'
	SET @i32Idx = @i32Idx + 1;
	EXEC dbo.sp_executesql @strQuery
END

ALTER TABLE [dbo].[TMessengerInfo] ADD  CONSTRAINT [DF_TMessengerInfo_nextNoteId]  DEFAULT ((1)) FOR [nextNoteId]
ALTER TABLE [dbo].[TMessengerInfo] ADD  CONSTRAINT [DF_TMessengerInfo_sendCount]  DEFAULT ((0)) FOR [sendCount]
ALTER TABLE [dbo].[TMessengerInfo] ADD  CONSTRAINT [DF_TMessengerInfo_sendDate]  DEFAULT ((0)) FOR [sendDate]
GO
