USE [PBMess]
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnbk_block_add]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnbk_block_add]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_tcmnbk_block_add]
	@otablenum	AS TINYINT 
,	@ouid		AS BIGINT 
,	@obuid		AS BIGINT 
,	@obnick		AS NVARCHAR(50)
,	@obrank		AS INT 
,	@ocomment	AS NVARCHAR(100)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

	DECLARE @oIdx AS INT;
	
	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048);

	SET @oIdx = 0;

	SET @ret_value = 3500;	
	SET @sql = ''none'';

BEGIN TRY
 
-- Insert Block List 
	SET @sql = N''INSERT INTO [TCmnBk'' + CAST(@otablenum AS NVARCHAR(4)) 
			 + N''] ([uid],[buid],[nick],[rank],[comment]) VALUES (''
			 + CAST(@ouid AS NVARCHAR(20)) + N'',''
			 + CAST(@obuid AS NVARCHAR(20)) + N'',''
			 + N'''''''' + @obnick + N'''''',''
			 + CAST(@obrank AS NVARCHAR(11)) + N'',''
			+ N'''''''' + @ocomment + N'''''');''
	EXEC sp_executesql @sql;


	SET @sql = N''SELECT @oIdx = [Idx] FROM [TCmnBk'' + CAST(@otablenum AS NVARCHAR(4))
			 + N''] Where [uid] = '' + CAST(@ouid AS NVARCHAR(20))
			 + N'' AND [buid] = '' + CAST(@obuid AS NVARCHAR(20)) 
		     + N'';''

	EXEC sp_executesql @QUERY = @sql, @PARAMS = N''@oIdx int OUTPUT'', @oIdx = @oIdx OUTPUT;

	IF(@@rowcount = 0)
	BEGIN	
		SET @ret_value = 3501;	
		RAISERROR (''--!!!--Error[usp_tcmnbk_block_add]--!!!--'',16,1);
	END	

--ROLLBACK TRAN
COMMIT TRAN
-- Result
	SELECT 1 AS ret_return, [idx] = @oIdx, [buid] = @obuid, [bnick] = @obnick, [brank] = @obrank, [comment] = @ocomment;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnbk_block_delete]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnbk_block_delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_tcmnbk_block_delete]
 @otablenum AS TINYINT
,@ouid AS BIGINT
,@oIdx AS INT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON
	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 3300;	
	SET @sql = ''none'';

BEGIN TRY
-- Delete Record 
	SET @sql = N''DELETE FROM [TCmnBk'' + CAST(@otablenum AS NVARCHAR(4))
			 + N''] WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(20)) 			 
			 + N'' AND [Idx] = '' + CAST(@oIdx AS NVARCHAR(20))   
			 + N'';''

	EXEC sp_executesql @sql

	IF(@@rowcount = 0)
	BEGIN	
		SET @ret_value = 3301;	
		RAISERROR (''--!!!--Error[usp_tcmnbk_block_delete]--!!!--'',16,1);
	END	
COMMIT TRAN
	SELECT 1 AS ret_return, [idx] = @oIdx;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnbk_block_load_block_list]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnbk_block_load_block_list]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_tcmnbk_block_load_block_list]
 @otablenum AS TINYINT
,@ouid AS BIGINT

AS

BEGIN
	SET NOCOUNT ON
	DECLARE @ret_value AS INT
	DECLARE @sql AS NVARCHAR(2048) -- sql 실행문

	SET @ret_value = 3100;	
	SET @sql = ''none'';

BEGIN TRY
-- Load User Info
	SET @sql = N''SELECT 1 AS ret_return, [Idx], [buid],[nick],[rank],[comment] FROM [TCmnBk'' + CAST(@otablenum AS NVARCHAR(4))
			 + N''] WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(20)) + N'';''

	EXEC sp_executesql @sql

RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnbk_check_block_by_uid]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnbk_check_block_by_uid]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_tcmnbk_check_block_by_uid]
@ortablenum AS INT,
@osuid AS BIGINT,
@oruid AS BIGINT

AS
BEGIN
	SET NOCOUNT ON
	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048);  
	DECLARE @oIdx AS INT;  
	DECLARE @oIsBlock AS INT; 

	SET @ret_value = 3600;	
	SET @sql = ''none'';
	SET @oIdx = 0;
	SET @oIsBlock = 0;

BEGIN TRY
-- Check Block 
	BEGIN
		SET @sql = N''SELECT @oIdx = [Idx] FROM [TCmnBk'' + CAST(@ortablenum AS NVARCHAR(4))
				 + N''] WHERE [uid] = '' + CAST(@oruid AS NVARCHAR(20)) 
				 + N'' AND [buid] = '' + CAST(@osuid AS NVARCHAR(20)) 
				 + N'';''

	--print @sql;
		EXEC sp_executesql @QUERY = @sql, @PARAMS = N''@oIdx int OUTPUT'', @oIdx = @oIdx OUTPUT;

		IF(@@rowcount > 0)
		BEGIN	
			IF(@oIdx > 0)
			BEGIN
				SET @oIsBlock = 1;	-- Block.
			END
			ELSE
			BEGIN
				SET @ret_value = 3601;	
				RAISERROR (''--!!!--Error[Idx value Wrong]--!!!--'',16,1);
			END
		END
	END
	

-- Success
	SELECT 1 AS ret_return, [Isblock] =  @oIsBlock 
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnfr_find_my_rank]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnfr_find_my_rank]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_tcmnfr_find_my_rank]
@ouid AS BIGINT

AS

BEGIN
	SET NOCOUNT ON
	DECLARE @otablenum AS TINYINT
	DECLARE @orank AS INT
	DECLARE @oreal_rank AS INT
	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @otablenum = 0;	
	SET @orank = -1;	
	SET @oreal_rank = -1;
	SET @ret_value = 1800;	
	SET @sql = ''none'';

BEGIN TRY
-- Find My Rank	
	WHILE(@otablenum < 10)
	BEGIN
		SET @orank = -1;	
		SET @sql = N''SELECT TOP 1 @orank = [rank] FROM [TCmnFr'' + CAST(@otablenum AS NVARCHAR(4))
				 + N''] WHERE [fuid] = '' + CAST(@ouid AS NVARCHAR(11)) + N'';''
	
	print @sql;
		EXEC sp_executesql @QUERY = @sql, @PARAMS = N''@orank int OUTPUT'', @orank = @orank OUTPUT;

		IF(@@rowcount > 0)
		BEGIN	
			IF(@orank <> -1)
			BEGIN
				IF(@oreal_rank <> -1)
				BEGIN
					IF(@orank < @oreal_rank)
					BEGIN
						SET @oreal_rank = @orank;
					END
				END
				ELSE		
				BEGIN		
					SET @oreal_rank = @orank;
				END
			END
		END

		SET @otablenum = @otablenum + 1;
	END
	
	IF(@oreal_rank = -1)
	BEGIN
		SET @ret_value = 1801;	
		RAISERROR (''--!!!--Error[Not Change Rank]--!!!--'',16,1);
	END

-- Success
	SELECT 1 AS ret_return, @oreal_rank AS ret_rank;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnfr_friend_add_second]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnfr_friend_add_second]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_tcmnfr_friend_add_second]
	@otablenum			AS TINYINT 
,	@ofriendtablenum	AS TINYINT 
,	@ouid				AS BIGINT 
,	@ofuid				AS BIGINT 
,	@omy_state			AS TINYINT 
,	@ofriend_state		AS TINYINT 
,	@onick				AS NVARCHAR(50)
,	@ofnick				AS NVARCHAR(50)
,	@orank				AS INT 
,	@ofrank				AS INT 
,	@onickcolor			AS TINYINT 
,	@ofnickcolor			AS TINYINT 

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

	DECLARE @ono AS INT;
	--DECLARE @omy_state AS TINYINT;
	--DECLARE @ofriend_state AS TINYINT;

	DECLARE @FRIEND_STATE_REQUEST AS TINYINT;
	DECLARE @FRIEND_STATE_HOLD AS TINYINT;
	DECLARE @FRIEND_STATE_OFFLINE AS TINYINT;
	--DECLARE @FRIEND_STATE_ONLINE AS TINYINT;
	--DECLARE @FRIEND_STATE_ROOM AS TINYINT;
	DECLARE @FRIEND_MAX_COUNT AS INT;

	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048);


	SET @ono = 0;
	SET @FRIEND_STATE_REQUEST = 1;
	SET @FRIEND_STATE_HOLD = 2;
	SET @FRIEND_STATE_OFFLINE = 3;
	--SET @FRIEND_STATE_ONLINE = 4;
	--SET @FRIEND_STATE_ROOM = 5;
	SET @FRIEND_MAX_COUNT = 50;

	SET @ret_value = 1500;	
	SET @sql = ''none'';
	
	SET @onick		= REPLACE(@onick, '''''''', '''''''''''');
	SET @ofnick		= REPLACE(@ofnick, '''''''', '''''''''''');

BEGIN TRY
-- Find User Info
	SET @sql = N''SELECT @ono = [no] From [TCmnFr'' + CAST(@otablenum AS NVARCHAR(4))
			 + N''] Where [uid] = '' + CAST(@ouid AS NVARCHAR(20))
			 + N'' AND [fuid] = '' + CAST(@ofuid AS NVARCHAR(20)) 
		     + N'';''
--print @sql
	EXEC sp_executesql @QUERY = @sql, @PARAMS = N''@ono int OUTPUT'', @ono = @ono OUTPUT;

	IF(@@rowcount <> 0)
	BEGIN	
		SET @ret_value = 1501;	
		RAISERROR (''--!!!--Error[Not Empty Find User Info]--!!!--'',16,1);
	END	
-- Find User State
	SET @sql = N''SELECT @ofriend_state = [state] FROM [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4))
			 + N''] Where [uid] = '' + CAST(@ofuid AS NVARCHAR(20))
			 + N'' AND [fuid] = '' + CAST(@ouid AS NVARCHAR(20)) 
		     + N'';''
--print @sql
	EXEC sp_executesql @QUERY = @sql, @PARAMS = N''@ofriend_state tinyint OUTPUT'', @ofriend_state = @ofriend_state OUTPUT;

	IF(@@rowcount <> 0)
	BEGIN	
		IF(@ofriend_state = @FRIEND_STATE_HOLD)
		BEGIN
			SET @omy_state = @FRIEND_STATE_REQUEST;
		END
		ELSE
		BEGIN
			SET @omy_state = @FRIEND_STATE_OFFLINE;			
		END

		SET @sql = N''UPDATE [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4))
				 + N''] SET [nick] = '''''' + @onick
                 + N'''''', [rank] = '' + CAST (@orank AS NVARCHAR(11))
				 + N'''''', [nickcolor] = '' + CAST (@onickcolor AS NVARCHAR(11))
                 + N'' Where [uid] = '' + CAST(@ofuid AS NVARCHAR(20))
			     + N'' AND [fuid] = '' + CAST(@ouid AS NVARCHAR(20)) 
		         + N'';''
		EXEC sp_executesql @sql;

--print @ofriend_state
--print @omy_state

		-- Insert Friend List of Friend Table
		SET @sql = N''INSERT INTO [TCmnFr'' + CAST(@otablenum AS NVARCHAR(4)) 
				 + N''] ([uid],[fuid],[state],[nick],[rank],[nickcolor]) VALUES (''
				 + CAST(@ouid AS NVARCHAR(20)) + N'',''
				 + CAST(@ofuid AS NVARCHAR(20)) + N'',''
				 + CAST(@omy_state AS NVARCHAR(4)) + N'',''
				 + N'''''''' + @ofnick + N'''''',''
				 + CAST(@ofrank AS NVARCHAR(11)) + N'',''
				 + CAST(@ofnickcolor AS NVARCHAR(11)) + N'');''
--print @sql
		EXEC sp_executesql @sql;

	END	
	ELSE
	BEGIN
	-- Find Max Count User Info
		SET @sql = N''SELECT @ono = [no] FROM [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4))
				 + N''] Where [uid] = '' + CAST(@ofuid AS NVARCHAR(20))			 
				 + N'';''
--print @sql			
		EXEC sp_executesql @QUERY = @sql, @PARAMS = N''@ono int OUTPUT'', @ono = @ono OUTPUT;

		IF(@@rowcount >= @FRIEND_MAX_COUNT)
		BEGIN	
			SET @ret_value = 1502;	
			RAISERROR (''--!!!--Error[Find Max Count User Info]--!!!--'',16,1);
		END	

	-- Insert My Friend List of Friend Table
		SET @sql = N''INSERT INTO [TCmnFr'' + CAST(@otablenum AS NVARCHAR(4)) 
				 + N''] ([uid],[fuid],[state],[nick],[rank],[nickcolor]) VALUES (''
				 + CAST(@ouid AS NVARCHAR(20)) + N'',''
				 + CAST(@ofuid AS NVARCHAR(20)) + N'',''
				 + CAST(@omy_state AS NVARCHAR(4)) + N'',''
				 + N'''''''' + @ofnick + N'''''',''
				 + CAST(@ofrank AS NVARCHAR(11)) + N'',''
				 + CAST(@ofnickcolor AS NVARCHAR(11)) + N'');''
	--print @sql	
		EXEC sp_executesql @sql;

	-- Insert Friend Friend List of Friend Table
		SET @sql = N''INSERT INTO [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4)) 
				 + N''] ([uid],[fuid],[state],[nick],[rank],[nickcolor]) VALUES (''
				 + CAST(@ofuid AS NVARCHAR(20)) + N'',''
				 + CAST(@ouid AS NVARCHAR(20)) + N'',''
				 + CAST(@ofriend_state AS NVARCHAR(4)) + N'',''
				 + N'''''''' + @onick + N'''''',''
				 + CAST(@orank AS NVARCHAR(11)) + N'',''
				 + CAST(@onickcolor AS NVARCHAR(11)) + N'');''
		--print @sql
		EXEC sp_executesql @sql;
	END

COMMIT TRAN
-- Result
	SELECT 1 AS ret_return, [fuid] = @ofuid, [fstate] = @omy_state, [fnick] = @ofnick, [frank] = @ofrank,  [fnickcolor] = @ofnickcolor,  [uid] = @ouid, [state] = @ofriend_state, [nick] = @onick, [rank] = @orank, [nickcolor] = @onickcolor;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnfr_friend_auth]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnfr_friend_auth]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE PROC [dbo].[usp_tcmnfr_friend_auth]
 @otablenum AS TINYINT
,@oftablenum AS TINYINT
,@ostate AS TINYINT
,@ofstate AS TINYINT
,@ouid AS BIGINT
,@ofuid AS BIGINT

AS

BEGIN
	SET NOCOUNT ON
	DECLARE @ono AS INT;
	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ono = 0;
	SET @ret_value = 1200;	
	SET @sql = ''none'';

-- Find User Info(only Filter)
-- My Friend List
	EXEC @ono = [ufunc_check_no_by_friend_list] @otablenum, @ouid, @ofuid;
	IF(@ono <= 0)
	BEGIN	
		SET @ret_value = 1201;	
		RAISERROR (''--!!!--Error[not my user info]--!!!--'',16,1);							
	END	

BEGIN TRAN
BEGIN TRY	
-- Update User State
	SET @sql = N''UPDATE [TCmnFr'' + CAST(@otablenum AS NVARCHAR(4))
			 + N''] SET [state] = '' + CAST(@ostate AS NVARCHAR(4)) 		 
			 + N'' WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(64)) 
			 + N'' AND [fuid] = '' + CAST(@ofuid AS NVARCHAR(64))   
			 + N'';''

	EXEC sp_executesql @sql

IF(@@rowcount = 0)
	BEGIN	
		SET @ret_value = 1202;	
		RAISERROR (''--!!!--Error[usp_tcmnfr_friend_auth]--!!!--'',16,1);
	END	

COMMIT TRAN
--
BEGIN TRAN
-- Find User Info(only Filter)
-- Friend Friend List
	EXEC @ono = [ufunc_check_no_by_friend_list] @oftablenum, @ofuid, @ouid;
	IF(@ono <= 0)
	BEGIN	
		SET @ret_value = 1203;	
		RAISERROR (''--!!!--Error[not friend user info]--!!!--'',16,1);							
	END	

	SET @sql = N''UPDATE [TCmnFr'' + CAST(@oftablenum AS NVARCHAR(4))
			 + N''] SET [state] = '' + CAST(@ofstate AS NVARCHAR(4)) 			 
			 + N'' WHERE [uid] = '' + CAST(@ofuid AS NVARCHAR(20)) 
			 + N'' AND [fuid] = '' + CAST(@ouid AS NVARCHAR(20))   
			 + N'';''

	EXEC sp_executesql @sql

	IF(@@rowcount = 0)
	BEGIN	
		SET @ret_value = 1204;	
		RAISERROR (''--!!!--Error[usp_tcmnfr_friend_auth]--!!!--'',16,1);
	END	

COMMIT TRAN

	SELECT 1 AS ret_return;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnfr_friend_change_nick]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnfr_friend_change_nick]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_tcmnfr_friend_change_nick]
	@ofriendtablenum	AS TINYINT
,	@ouid				AS BIGINT
,	@ofuid				AS BIGINT
,	@onick				AS NVARCHAR(50)

AS

BEGIN
	SET NOCOUNT ON

	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 1600;	
	SET @sql = ''none'';
	
	SET @onick		= REPLACE(@onick, '''''''', '''''''''''');

BEGIN TRY
-- Update My Nick to Friend List
	SET @sql = N''UPDATE  [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4))
             + N''] SET [nick] = '''''' + @onick
             + N'''''' WHERE [uid] = '' + CAST(@ofuid AS NVARCHAR(20))
			 + N'' AND [fuid] = '' + CAST(@ouid AS NVARCHAR(20)) + N'';''
	
	EXEC sp_executesql @sql;

	IF(@@rowcount = 0)
	BEGIN	
		SET @sql = N''SELECT [no],[uid],[fuid],[state],[nick],[rank] FROM  [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4))
				 + N''] WHERE [uid] = '' + CAST(@ofuid AS NVARCHAR(20))
				 + N'' AND [fuid] = '' + CAST(@ouid AS NVARCHAR(20)) + N'';''

		EXEC sp_executesql @sql;		

		IF(@@rowcount <> 0)
		BEGIN		
			SET @ret_value = 1601;	
			RAISERROR (''--!!!--Error[Not Update Nick]--!!!--'',16,1);
		END
	END	

-- Success
	SELECT 1 AS ret_return;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnfr_friend_change_nickcolor]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnfr_friend_change_nickcolor]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_tcmnfr_friend_change_nickcolor]
	@ofriendtablenum	AS TINYINT
,	@ouid				AS BIGINT
,	@ofuid				AS BIGINT
,	@onickcolor			AS TINYINT

AS

BEGIN
	SET NOCOUNT ON

	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 1600;	
	SET @sql = ''none'';

BEGIN TRY
-- Update My Nick to Friend List
	SET @sql = N''UPDATE [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4))
             + N''] SET [nickcolor] = '' + CAST(@onickcolor AS NVARCHAR(20))
             + N'' WHERE [uid] = '' + CAST(@ofuid AS NVARCHAR(20))
			 + N'' AND [fuid] = '' + CAST(@ouid AS NVARCHAR(20)) + N'';''
	
	EXEC sp_executesql @sql;

	IF(@@rowcount = 0)
	BEGIN	
		SET @sql = N''SELECT [no],[uid],[fuid],[state],[nick],[rank],[nickcolor] FROM [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4))
				 + N''] WHERE [uid] = '' + CAST(@ofuid AS NVARCHAR(20))
				 + N'' AND [fuid] = '' + CAST(@ouid AS NVARCHAR(20)) + N'';''

		EXEC sp_executesql @sql;		

		IF(@@rowcount <> 0)
		BEGIN		
			SET @ret_value = 1601;	
			RAISERROR (''--!!!--Error[Not Update Nick]--!!!--'',16,1);
		END
	END	

-- Success
	SELECT 1 AS ret_return;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;
RETURN 0
END CATCH

SET NOCOUNT OFF
END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnfr_friend_change_rank]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnfr_friend_change_rank]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_tcmnfr_friend_change_rank]
 @ofriendtablenum AS TINYINT
,@ouid AS BIGINT
,@ofuid AS BIGINT
,@orank AS INT

AS

BEGIN
	SET NOCOUNT ON

	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 1700;	
	SET @sql = ''none'';

BEGIN TRY
-- Update My Rank to Friend List
	SET @sql = N''UPDATE [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4))
             + N''] SET [rank] = '' + CAST(@orank AS NVARCHAR(11)) 
             + N'' WHERE [uid] = '' + CAST(@ofuid AS NVARCHAR(20))
			 + N'' AND [fuid] = '' + CAST(@ouid AS NVARCHAR(20)) + N'';''
	
	EXEC sp_executesql @sql;

	IF(@@rowcount = 0)
	BEGIN	
		SET @sql = N''SELECT [no],[uid],[fuid],[state],[nick],[rank] FROM [TCmnFr'' + CAST(@ofriendtablenum AS NVARCHAR(4))
				 + N''] WHERE [uid] = '' + CAST(@ofuid AS NVARCHAR(20))
				 + N'' AND [fuid] = '' + CAST(@ouid AS NVARCHAR(20)) + N'';''

		EXEC sp_executesql @sql;

		IF(@@rowcount <> 0)
		BEGIN
			SET @ret_value = 1701;	
			RAISERROR (''--!!!--Error[Not Update Rank]--!!!--'',16,1);		
		END
	END	

-- Success
	SELECT 1 AS ret_return;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnfr_friend_delete]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnfr_friend_delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE PROC [dbo].[usp_tcmnfr_friend_delete]
 @otablenum AS TINYINT
,@ouid AS BIGINT
,@ofuid AS BIGINT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON
	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 1300;	
	SET @sql = ''none'';

BEGIN TRY
-- Delete Record 
	SET @sql = N''DELETE FROM [TCmnFr'' + CAST(@otablenum AS NVARCHAR(4))
			 + N''] WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(20)) 			 
			 + N'' AND [fuid] = '' + CAST(@ofuid AS NVARCHAR(20))   
			 + N'';''

	EXEC sp_executesql @sql

	IF(@@rowcount = 0)
	BEGIN	
		SET @ret_value = 1301;	
		RAISERROR (''--!!!--Error[usp_tcmnfr_friend_delete]--!!!--'',16,1);
	END	
COMMIT TRAN
	SELECT 1 AS ret_return;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnfr_friend_load_friend_list]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnfr_friend_load_friend_list]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE PROC [dbo].[usp_tcmnfr_friend_load_friend_list]
 @otablenum AS TINYINT
,@ouid AS BIGINT

AS

BEGIN
	SET NOCOUNT ON
	DECLARE @ret_value AS INT
	DECLARE @sql AS NVARCHAR(2048) -- sql 실행문

	SET @ret_value = 1100;	
	SET @sql = ''none'';

BEGIN TRY
-- Load User Info
	SET @sql = N''SELECT 1 AS ret_return, [fuid],[state],[nick],[rank],[nickcolor] FROM [TCmnFr'' + CAST(@otablenum AS NVARCHAR(4))
			 + N''] WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(20)) + N'';''

	EXEC sp_executesql @sql

RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tcmnfr_friend_reset_friend_list]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tcmnfr_friend_reset_friend_list]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_tcmnfr_friend_reset_friend_list]
 @otablenum AS TINYINT
,@ouid AS BIGINT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON
	DECLARE @ret_value AS INT
	DECLARE @sql AS NVARCHAR(2048) -- sql 실행문

	SET @ret_value = 1000;	
	SET @sql = ''none'';

BEGIN TRY
-- Find UID Record  Delete ALL
	SET @sql = N''DELETE FROM [TCmnFr'' + CAST(@otablenum AS NVARCHAR(4))
			 + N''] WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(20)) + N'';''

	EXEC sp_executesql @sql

	--IF(@@rowcount = 0)
	--BEGIN	
	--	SET @ret_value = 1001;	
	--	RAISERROR (''--!!!--Error[usp_tcmnfr_friend_reset_friend_list]--!!!--'',16,1);
	--END	
COMMIT TRAN
-- result
	SELECT 1 AS ret_return;
RETURN 1	
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;
ROLLBACK TRAN
	RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tnote_note_delete]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tnote_note_delete]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_tnote_note_delete]
 @otablenum AS TINYINT
,@oidx AS INT

AS

BEGIN
BEGIN TRAN
SET NOCOUNT ON

	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 2100;	
	SET @sql = ''none'';

BEGIN TRY
-- Note Delete
	SET @sql = N''DELETE FROM TNote'' +  CAST(@otablenum AS NVARCHAR(4))
			 + N'' WHERE no = '' + CAST(@oidx AS NVARCHAR(11)) + '';''

	EXEC sp_executesql @sql;

	IF(@@rowcount = 0)
	BEGIN	
		SET @ret_value = 2101;	
		RAISERROR (''--!!!--Error[Not Delete Note]--!!!--'',16,1);
	END	

COMMIT TRAN
	SELECT 1 AS ret_return;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tnote_note_get_note_count]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tnote_note_get_note_count]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_tnote_note_get_note_count]
 @otablenum AS TINYINT
,@ouid AS BIGINT

AS

BEGIN
SET NOCOUNT ON

	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 2400;	
	SET @sql = ''none'';

BEGIN TRY
-- Get no by UID
	SET @sql = N''SELECT 1 AS ret_return, no AS cnt FROM TNote'' 
			 +  CAST(@otablenum AS NVARCHAR(4))
			 + N'' WHERE uid = '' + CAST(@ouid AS NVARCHAR(20)) + '';'';

	EXEC sp_executesql @sql;

RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tnote_note_get_note_day_sand_count]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tnote_note_get_note_day_sand_count]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_tnote_note_get_note_day_sand_count]
 @ouid AS BIGINT

AS

BEGIN
SET NOCOUNT ON
	DECLARE @osend_count AS TINYINT;
	DECLARE @osend_date AS INT;

	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @osend_count = 0;
	SET @osend_date = 0;

	SET @ret_value = 2500;	
	SET @sql = ''none'';

BEGIN TRY
-- Get Send Note Count on Today
	SET @sql = N''SELECT @osend_count = sendCount, @osend_date = sendDate FROM TMessengerInfo WHERE no = '' + CAST(@ouid AS NVARCHAR(20)) + '';'';	
	EXEC sp_executesql @QUERY = @sql, @PARAMS = N''@osend_count tinyint OUTPUT, @osend_date int OUTPUT'', @osend_count = @osend_count OUTPUT, @osend_date = @osend_date OUTPUT;

	IF(@@rowcount = 0)
	BEGIN
	BEGIN TRAN
		SET @sql = N''INSERT INTO TMessengerInfo (no) VALUES ('' + CAST(@ouid AS NVARCHAR(20)) + N'');'';
		EXEC sp_executesql @sql;
	COMMIT TRAN
	END
		
	SELECT 1 AS ret_return, [sendCount] = @osend_count, [send_date] = @osend_date;

RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tnote_note_get_note_list]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tnote_note_get_note_list]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_tnote_note_get_note_list] 
 @otablenum AS TINYINT
,@ouid AS BIGINT

AS

BEGIN
SET NOCOUNT ON
	
	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 2600;	
	SET @sql = ''none'';

BEGIN TRY
-- Get Note List
	SET @sql = N''SELECT 1 AS ret_return, no, suid, noteId, type, state, deleteDate, appendingData, senderSize, messageSize, sender, message FROM TNote''
		     + CAST(@otablenum AS NVARCHAR(4))
			 + N'' WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(20)) + '';'';
	
	EXEC sp_executesql @sql;

RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tnote_note_readed]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tnote_note_readed]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_tnote_note_readed]
 @otablenum AS TINYINT
,@ostate AS TINYINT
,@odelete_date AS INT
,@oidx AS INT

AS

BEGIN
BEGIN TRAN
SET NOCOUNT ON

	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 2200;	
	SET @sql = ''none'';

BEGIN TRY
-- Note Readed & Update State(NS_READED)
	SET @sql = N''UPDATE TNote'' + CAST(@otablenum AS NVARCHAR(4)) 
			 + N'' SET state = '' + CAST(@ostate AS NVARCHAR(4)) 
			 + N'', deleteDate = '' + CAST(@odelete_date AS NVARCHAR(11)) 
			 + N'' WHERE no = '' + CAST(@oidx AS NVARCHAR(11)) + '';''

	EXEC sp_executesql @sql;
	
	IF(@@rowcount = 0)
	BEGIN	
		SET @ret_value = 2201;	
		RAISERROR (''--!!!--Error[Not Update Readed Note]--!!!--'',16,1);
	END

COMMIT TRAN
	SELECT 1 AS ret_return;
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_tnote_note_sand]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_tnote_note_sand]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_tnote_note_sand]
	@otablenum		AS TINYINT
,	@ouid			AS BIGINT
,	@osuid			AS BIGINT
,	@otype			AS TINYINT
,	@ostate			AS TINYINT
,	@odeleteDate	AS INT
,	@oappendingData AS INT
,	@osenderSize	AS TINYINT
,	@omessageSize	AS TINYINT
,	@osender		AS NVARCHAR(32)
,	@omessage		AS NVARCHAR(240)
,	@odaySendCount	AS TINYINT
,	@osendDate AS INT

AS

BEGIN
BEGIN TRAN
SET NOCOUNT ON

	DECLARE @ret_value AS INT;
	DECLARE @sql AS NVARCHAR(2048); -- sql 실행문

	SET @ret_value = 2000;	
	SET @sql = ''none'';
	
	SET @osender		= REPLACE(@osender, '''''''', '''''''''''');
	SET @omessage		= REPLACE(@omessage, '''''''', '''''''''''');

BEGIN TRY
-- Note Add
	SET @sql = N''INSERT INTO TNote'' + CAST(@otablenum  AS NVARCHAR(4))
			 + N'' (uid, suid, noteId, type, state, deleteDate, appendingData, senderSize, messageSize, sender, message) VALUES (''
			 + CAST(@ouid AS NVARCHAR(20)) + '','' 
			 + CAST(@osuid AS NVARCHAR(20)) + '',0,'' 			 
			 + CAST(@otype AS NVARCHAR(4)) + '',''
			 + CAST(@ostate AS NVARCHAR(4)) + '',''
			 + CAST(@odeleteDate AS NVARCHAR(11)) + '',''
			 + CAST(@oappendingData AS NVARCHAR(11)) + '',''
			 + CAST(@osenderSize AS NVARCHAR(4)) + '',''
			 + CAST(@omessageSize AS NVARCHAR(4)) + '',''''''
			 + @osender + '''''',''''''
			 + @omessage + '''''');''

	EXEC sp_executesql @sql;

	IF(@@rowcount = 0)
	BEGIN	
		SET @ret_value = 2001;	
		RAISERROR (''--!!!--Error[Not Insert Note]--!!!--'',16,1);
	END	
-- Update User Note Max Count 
	SET @sql = N''UPDATE TMessengerInfo SET sendCount = '' +  CAST(@odaySendCount AS NVARCHAR(4))
			 + N'', sendDate = '' +  CAST(@osendDate AS NVARCHAR(11))
			 + N'' WHERE no = '' +  CAST(@osuid AS NVARCHAR(20)) + N'';''

	EXEC sp_executesql @sql;

	IF(@@rowcount = 0)
	BEGIN	
		SET @ret_value = 2002;	
		RAISERROR (''--!!!--Error[Not Update Note]--!!!--'',16,1);
	END	

-- no
	SET @sql = N''SELECT 1 AS ret_return, max(no) FROM TNote'' + + CAST(@otablenum  AS NVARCHAR(4)) 
			 + N'' WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(20))			 
             + N'' AND [deleteDate] = '' + CAST(@odeleteDate AS NVARCHAR(11))			 
			 + N'';''

	EXEC sp_executesql @sql;

COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT
		0 AS ret_return,
		@ret_value AS ret_value,
		ERROR_NUMBER() AS ErrorNumber,
		ERROR_SEVERITY() AS ErrorSeverity,
		ERROR_STATE() AS ErrorState,
		ERROR_PROCEDURE() AS ErrorProcedure,
		ERROR_LINE() AS ErrorLine,
		ERROR_MESSAGE() AS ErrorMessage;

ROLLBACK TRAN
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TcmnFr_friendsList_sel]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TcmnFr_friendsList_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TcmnFr_friendsList_sel]
/* ======================================================
// Interface Part
// ====================================================== */
    @i64UserUID_    BIGINT
/* ======================================================
// Author       : yunkyung
// Create Date  : 20121129
// Description  : 친구 목록
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TcmnFr_friendsList_sel''
/* ======================================================
// Implementation Part
// ====================================================== */
DECLARE @strSQL      NVARCHAR(MAX)
,       @strSELECT   NVARCHAR(1000)
,       @strTable    NVARCHAR(50)
,       @strWHERE    NVARCHAR(50)
,       @strSubQuery NVARCHAR(1000)
SELECT  @strSELECT   = N''SELECT subInfo.nick, subInfo.state, UserIDX.id, subInfo.fuid as UID, subInfo.rank, subInfo.ClanName, subInfo.ClanNo FROM ( SELECT Fr.fuid, Fr.state, Fr.nick, Fr.rank, ISNULL(Clan.name, '''''''') AS ClanName, ISNULL(Clan.NO, -1) AS ClanNo FROM ( SELECT * FROM''
,       @strTable    = N'' dbo.TCmnFr'' + CONVERT(NCHAR(1), @i64UserUID_ % 10)
,       @strWHERE    = N'' WHERE uid = @i64UserUID_''
,       @strSubQuery = N'' ) AS Fr LEFT JOIN PBClan.dbo.TClanMem AS ClanMem ON Fr.fuid = ClanMem.no LEFT JOIN PBClan.dbo.TClan AS Clan ON ClanMem.clanNo = Clan.NO ) AS subInfo JOIN PBUser.dbo.TUserIdx AS UserIDX ON subInfo.fuid = UserIDX.idx''

SET     @strSQL     = @strSELECT + @strTable + @strWHERE + @strSubQuery
EXEC sp_executesql
    @strSQL
,   N''@i64UserUID_ BIGINT''
,   @i64UserUID_' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TNote_MessageList_sel]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TNote_MessageList_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TNote_MessageList_sel] 
/* ======================================================
// Interface Part
// ====================================================== */
    @i64UserUID_    BIGINT
/* ======================================================
// Author       : yunkyung
// Create Date  : 20121129
// Description  : 
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TNote_MessageList_sel''
/* ======================================================
// Implementation Part
// ====================================================== */
DECLARE @strSQL      NVARCHAR(MAX)
,       @strSELECT   NVARCHAR(1000)
,       @strTable    NVARCHAR(50)
,       @strWHERE    NVARCHAR(50)
,       @strSubQuery NVARCHAR(1000)
DECLARE @data        TABLE
(
    SendDate SMALLDATETIME
,   MType    BIT
,   Nickname NVARCHAR(32)
,   Message  NVARCHAR(240)
,   UID      BIGINT
)
SELECT  @strSELECT   = N''SELECT CASE state WHEN 0 THEN DATEADD(dd, -7, DeleteDate) ELSE DATEADD(dd, -15, DeleteDate) END AS Date, 1, sender, message, suid as UID FROM ( SELECT sender, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '''' '''' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '''':00'''' AS DeleteDate, state, suid From''
,       @strTable    = N'' dbo.TNote'' + CONVERT(NCHAR(1), @i64UserUID_ % 10)
,       @strWHERE    = N'' WHERE uid = @i64UserUID_''
,       @strSubQuery = N'') AS sub''

SET     @strSQL     = @strSELECT + @strTable + @strWHERE + @strSubQuery

INSERT INTO @data
EXEC sp_executesql
    @strSQL
,   N''@i64UserUID_ BIGINT''
,   @i64UserUID_

INSERT INTO @data
SELECT
 Date, 2, nick.strUNickName AS nick, message, sub.uid
FROM
(
    SELECT CASE state WHEN 0 THEN DATEADD(dd, -7, DeleteDate) ELSE DATEADD(dd, -15, DeleteDate) END AS Date, uid, message 
    FROM
    (
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote0 AS a
        WHERE
            suid = @i64UserUID_
        UNION ALL
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote1
        WHERE
            suid = @i64UserUID_
        UNION ALL
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote2
        WHERE
            suid = @i64UserUID_
        UNION ALL
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote3
        WHERE
            suid = @i64UserUID_
        UNION ALL
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote4
        WHERE
            suid = @i64UserUID_
        UNION ALL
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote5
        WHERE
            suid = @i64UserUID_
        UNION ALL
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote6
        WHERE
            suid = @i64UserUID_
        UNION ALL
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote7
        WHERE
            suid = @i64UserUID_
        UNION ALL
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote8
        WHERE
            suid = @i64UserUID_
        UNION ALL
        SELECT uid, message, LEFT(CONVERT(NVARCHAR(20), deleteDate), 8) + '' '' + SUBSTRING(CONVERT(NVARCHAR(20), deleteDate), 9, 2) + '':00'' AS DeleteDate, state 
        FROM dbo.TNote9
        WHERE
            suid = @i64UserUID_
    ) AS subUnion
) AS sub
JOIN PBUser.dbo.PB_GT_UUserInfo AS Nick
ON sub.uid = Nick.USN

SELECT *
FROM @data' 
END
GO
/****** Object:  UserDefinedFunction [dbo].[ufunc_check_no_by_friend_list]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ufunc_check_no_by_friend_list]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'

CREATE FUNCTION [dbo].[ufunc_check_no_by_friend_list](@otablenum AS INT,@ouid AS BIGINT,@ofuid AS BIGINT)
RETURNS INT

AS
BEGIN
	DECLARE @ono AS INT;
	DECLARE @sql AS NVARCHAR(2048);

	SET @ono = 0;
	SET @sql = ''none'';

	SET @sql = N''SELECT @ono = [no] FROM [TCmnFr'' + CAST(@otablenum AS NVARCHAR(11))
			 + N''] WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(20)) 			 
			 + N'' AND [fuid] = '' + CAST(@ofuid AS NVARCHAR(20))   
			 + N'';''

	EXEC sp_executesql @QUERY = @sql, @PARAMS = N''@ono int OUTPUT'', @ono = @ono OUTPUT;

	RETURN @ono;

END
' 
END

GO
/****** Object:  UserDefinedFunction [dbo].[ufunc_check_user_info]    Script Date: 2015-02-23 오전 10:28:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ufunc_check_user_info]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'
CREATE FUNCTION [dbo].[ufunc_check_user_info](@otablenum AS INT,@ouid AS BIGINT,@ofuid AS BIGINT)
RETURNS INT

AS
BEGIN
	DECLARE @ono AS INT;
	DECLARE @sql AS NVARCHAR(2048);

	SET @ono = 0;
	SET @sql = ''none'';

	SET @sql = N''SELECT @ono = [no] FROM [PBMess].[dbo].[TCmnFr'' + CAST(@otablenum AS NVARCHAR(11))
			 + N''] WHERE [uid] = '' + CAST(@ouid AS NVARCHAR(20)) 			 
			 + N'' AND [fuid] = '' + CAST(@ofuid AS NVARCHAR(20))   
			 + N'';''

	EXEC sp_executesql @QUERY = @sql, @PARAMS = N''@ono int OUTPUT'', @ono = @ono OUTPUT;

	RETURN @ono;

END
' 
END

GO
