USE [PBInfo]
GO
/****** Object:  StoredProcedure [dbo].[usp_20100_pbinfo_setoptiondefault]    Script Date: 2015-02-23 오전 10:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_20100_pbinfo_setoptiondefault]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_20100_pbinfo_setoptiondefault]
 @oi32tablenum			AS INT
,@oi64UID				AS BIGINT
,@oi8Envdefault			AS TINYINT
,@ostrEnvBasic			AS NVARCHAR(100)	 
,@ostrEnvkey			AS NVARCHAR(1000)	 
,@ostrMacrochat0		AS NVARCHAR(4000)
,@ostrMacrochat1		AS NVARCHAR(4000)
,@ostrMacrochat2		AS NVARCHAR(4000)
,@ostrMacrochat3		AS NVARCHAR(4000)
,@ostrMacrochat4		AS NVARCHAR(4000)

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON
	
	DECLARE @sql		AS NVARCHAR(4000);
	DECLARE @result		AS INT;
	SET		@result		= 0;
	
	SET @ostrEnvBasic	= REPLACE(@ostrEnvBasic, '''''''', '''''''''''');
	SET @ostrEnvkey		= REPLACE(@ostrEnvkey, '''''''', '''''''''''');
	SET @ostrMacrochat0 = REPLACE(@ostrMacrochat0, '''''''', '''''''''''');
	SET @ostrMacrochat1 = REPLACE(@ostrMacrochat1, '''''''', '''''''''''');
	SET @ostrMacrochat2 = REPLACE(@ostrMacrochat2, '''''''', '''''''''''');
	SET @ostrMacrochat3 = REPLACE(@ostrMacrochat3, '''''''', '''''''''''');
	SET @ostrMacrochat4 = REPLACE(@ostrMacrochat4, '''''''', '''''''''''');
	
BEGIN TRY
	
	SET @sql = N''UPDATE TEnv''+CAST(@oi32tablenum AS NVARCHAR(11))+N'' SET Envdefault=''+CAST(@oi8Envdefault AS NVARCHAR(2));
	IF(@ostrEnvBasic <> ''none'')
	BEGIN
		SET @sql = @sql + N'',EnvBasic=''+@ostrEnvBasic;
	END
	IF(@ostrEnvkey <> ''none'')
	BEGIN
		SET @sql = @sql + N'',Envkey=''+@ostrEnvkey;
	END
	IF(@ostrMacrochat0 <> ''none'')
	BEGIN
		SET @sql = @sql + N'',macrochat0=''''''+@ostrMacrochat0+N'''''''';
	END
	IF(@ostrMacrochat1 <> ''none'')
	BEGIN
		SET @sql = @sql + N'',macrochat1=''''''+@ostrMacrochat1+N'''''''';
	END
	IF(@ostrMacrochat2 <> ''none'')
	BEGIN
		SET @sql = @sql + N'',macrochat2=''''''+@ostrMacrochat2+N'''''''';
	END
	IF(@ostrMacrochat3 <> ''none'')
	BEGIN
		SET @sql = @sql + N'',macrochat3=''''''+@ostrMacrochat3+N'''''''';
	END
	IF(@ostrMacrochat4 <> ''none'')
	BEGIN
		SET @sql = @sql + N'',macrochat4=''''''+@ostrMacrochat4+N'''''''';
	END

	SET @sql = @sql + N'' WHERE UID=''+CAST(@oi64UID AS NVARCHAR(22))+N'';'';
	print @sql
	EXEC sp_executesql @sql;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	
	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_20200_pbinfo_getoption0]    Script Date: 2015-02-23 오전 10:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_20200_pbinfo_getoption0]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_20200_pbinfo_getoption0]
 @oi32tablenum		AS INT
,@oi64UID			AS BIGINT


AS

BEGIN
	SET NOCOUNT ON

	DECLARE @sql		AS NVARCHAR(4000);
	SET		@sql		= ''none'';

	SET @sql = N''SELECT Envdefault FROM TEnv''+CAST(@oi32tablenum AS NVARCHAR(2))+N'' WHERE UID=''+CAST(@oi64UID AS NVARCHAR(22))+N'';'';
	EXEC sp_executesql @sql;




RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_20210_pbinfo_getoption1]    Script Date: 2015-02-23 오전 10:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_20210_pbinfo_getoption1]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_20210_pbinfo_getoption1]
 @oi32tablenum		AS INT
,@oi64UID			AS BIGINT


AS

BEGIN
	SET NOCOUNT ON

	DECLARE @sql		AS NVARCHAR(4000);
	SET		@sql		= ''none'';

	SET @sql = N''SELECT EnvBasic, Envkey, macrochat0, macrochat1, macrochat2, macrochat3, macrochat4 FROM TEnv''+CAST(@oi32tablenum AS NVARCHAR(2))+N'' WHERE UID=''+CAST(@oi64UID AS NVARCHAR(22))+N'';'';
	EXEC sp_executesql @sql;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_20220_pbinfo_getoption2]    Script Date: 2015-02-23 오전 10:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_20220_pbinfo_getoption2]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_20220_pbinfo_getoption2]
 @oi32tablenum			AS INT
,@oi64UID				AS BIGINT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY
	
	DECLARE @sql		AS NVARCHAR(4000);
	DECLARE @result		AS INT;
	SET		@result		= 0;

	SET @sql = N''INSERT INTO TEnv''+CAST(@oi32tablenum AS NVARCHAR(11))+N''(UID)VALUES(''+CAST(@oi64UID AS NVARCHAR(22))+N'');'';
	EXEC sp_executesql @sql;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	
	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_20230_pbinfo_getoption3]    Script Date: 2015-02-23 오전 10:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_20230_pbinfo_getoption3]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_20230_pbinfo_getoption3]
 @oi64UID			AS BIGINT

AS

BEGIN
	SET NOCOUNT ON

	SELECT Idx FROM TEvent WHERE UID=@oi64UID;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_20240_pbinfo_getoption4]    Script Date: 2015-02-23 오전 10:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_20240_pbinfo_getoption4]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_20240_pbinfo_getoption4]
 @oi64UID				AS BIGINT

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON

BEGIN TRY

	DECLARE @result		AS INT;
	SET		@result		= 0;

	INSERT INTO TEvent(UID) VALUES (@oi64UID);
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	
	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TOper_Weblog_ins]    Script Date: 2015-02-23 오전 10:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TOper_Weblog_ins]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TOper_Weblog_ins]
/* ======================================================
// Interface Part
// ====================================================== */
    @strUserId_			VARCHAR(50)
,	@strLogMsg_			VARCHAR(1024)
,	@iToday_			INT
,   @iResult			SMALLINT = 0    OUTPUT

/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925
// Description  : Weblog 입력
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TOper_Weblog_ins''

/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

INSERT INTO TOper_Weblog (id, log_text, Date) 
SELECT 
	@strUserId_
,	@strLogMsg_
,	@iToday_

IF( @iResult = 0 ) COMMIT TRANSACTION 
ELSE
BEGIN
    ROLLBACK TRANSACTION

    EXEC GameStat.dbo.SDataErrorLog_ins @strDBName, @strProcName, @iResult
END
/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION
    EXEC GameStat.dbo.SDBErrorLog_ins @strDBName
    SET     @iResult = -9999
END CATCH' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_wt_TOper_Weblog_sel]    Script Date: 2015-02-23 오전 10:26:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_wt_TOper_Weblog_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[usp_wt_TOper_Weblog_sel]
/* ======================================================
// Interface Part
// ====================================================== */
    @iState_        INT   = 0
,   @iResult        SMALLINT = 0    OUTPUT
/* ======================================================
// Author       : yunkyung.kim
// Create Date  : 20120925.
// Description  : WebLog 목록 추출
// ====================================================== */

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE @strDBName   VARCHAR(50)
,       @strProcName VARCHAR(50)
SELECT  @strDBName   = DB_NAME()
,       @strProcName = ''usp_wt_TOper_Weblog_sel''
/* ======================================================
// Implementation Part
// ====================================================== */

DECLARE @strSQL NVARCHAR(MAX)
SELECT  @strSQL = N''SELECT ''
SELECT  @strSQL = CASE @iState_ WHEN 0 THEN @strSQL + N''idx, id, log_text,Date '' ELSE @strSQL + N''count(*) '' END
SELECT  @strSQL = @strSQL + N'' FROM TOper_Weblog''
SELECT  @strSQL = CASE @iState_ WHEN 0 THEN @strSQL + N'' order by idx desc '' ELSE @strSQL END


EXEC sp_executesql
    @strSQL' 
END
GO


/****** Object:  StoredProcedure [dbo].[usp_PBInfo_SetOption]    Script Date: 2015-04-29 오전 9:44:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_PBInfo_SetOption]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROC [dbo].[usp_PBInfo_SetOption]
	@oi64UID				AS BIGINT
	,@oi8Envdefault			AS TINYINT
	,@ostrEnvBasic			AS NVARCHAR(32)	= NULL 
	,@ostrEnvkey			AS NVARCHAR(350)	= NULL	 
	,@ostrMacrochat0		AS NVARCHAR(256)	= NULL
	,@ostrMacrochat1		AS NVARCHAR(256)	= NULL
	,@ostrMacrochat2		AS NVARCHAR(256)	= NULL
	,@ostrMacrochat3		AS NVARCHAR(256)	= NULL
	,@ostrMacrochat4		AS NVARCHAR(256)	= NULL

AS

BEGIN
BEGIN TRAN
	SET NOCOUNT ON
	
	DECLARE @sql			AS NVARCHAR(4000);
	DECLARE @i32TableIdx	AS INT
	DECLARE @result			AS INT;
	SET		@result			= 0;
	
	SET @i32TableIdx = @oi64UID % 10

BEGIN TRY
	
	SET @sql = N''UPDATE TEnv''+CONVERT(NVARCHAR, @i32TableIdx)+N'' SET Envdefault=''+CONVERT(NVARCHAR, @oi8Envdefault);

	IF(0=@oi8Envdefault)
	BEGIN
		IF( @ostrEnvBasic IS NOT NULL )
		BEGIN
			SET @sql = @sql + N'',EnvBasic=''+@ostrEnvBasic;
		END
		IF( @ostrEnvkey IS NOT NULL )
		BEGIN
			SET @sql = @sql + N'',Envkey=''+@ostrEnvkey;
		END
		IF( @ostrMacrochat0 IS NOT NULL )
		BEGIN
			SET @ostrMacrochat0 = REPLACE(@ostrMacrochat0, N'''''''', N'''''''''''');
			SET @sql = @sql + N'',macrochat0=''''''+@ostrMacrochat0+N'''''''';
		END
		IF( @ostrMacrochat1 IS NOT NULL )
		BEGIN
			SET @ostrMacrochat1 = REPLACE(@ostrMacrochat1, N'''''''', N'''''''''''');
			SET @sql = @sql + N'',macrochat1=''''''+@ostrMacrochat1+N'''''''';
		END
		IF( @ostrMacrochat2 IS NOT NULL )
		BEGIN
			SET @ostrMacrochat2 = REPLACE(@ostrMacrochat2, N'''''''', N'''''''''''');
			SET @sql = @sql + N'',macrochat2=''''''+@ostrMacrochat2+N'''''''';
		END
		IF( @ostrMacrochat3 IS NOT NULL )
		BEGIN
			SET @ostrMacrochat3 = REPLACE(@ostrMacrochat3, N'''''''', N'''''''''''');
			SET @sql = @sql + N'',macrochat3=''''''+@ostrMacrochat3+N'''''''';
		END
		IF( @ostrMacrochat4 IS NOT NULL )
		BEGIN
			SET @ostrMacrochat4 = REPLACE(@ostrMacrochat4, N'''''''', N'''''''''''');
			SET @sql = @sql + N'',macrochat4=''''''+@ostrMacrochat4+N'''''''';
		END
	END

	SET @sql = @sql + N'' WHERE UID=''+CONVERT(NVARCHAR, @oi64UID)
	EXEC sp_executesql @sql;
	IF(@@rowcount = 0)
	BEGIN
		SET @result = -1;
		RAISERROR (''--!!!--Error--!!!--'',16,1);
	END
	
	SELECT 1 AS result;
COMMIT TRAN	
RETURN 1
END TRY

BEGIN CATCH	
	SELECT @result AS result;	
ROLLBACK TRAN	
RETURN 0
END CATCH

SET NOCOUNT OFF
END'

END


GO