USE [PBInfo]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

DECLARE @strQuery NVARCHAR(MAX), @i32Idx INT
DECLARE @strTable NVARCHAR(MAX), @strTable2 NVARCHAR(MAX)

/****** Object:  Table [dbo].[TEnv0]    Script Date: 2014-06-11 오전 8:40:23 ******/
SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'TEnv' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'PK_TEnv' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		CREATE TABLE [dbo].['+@strTable+'](
			[UID] [bigint] NOT NULL,
			[Envdefault] [tinyint] NOT NULL,
			[EnvBasic] [binary](32) NULL,
			[Envkey] [binary](350) NULL,
			[macrochat0] [nvarchar](256) NULL,
			[macrochat1] [nvarchar](256) NULL,
			[macrochat2] [nvarchar](256) NULL,
			[macrochat3] [nvarchar](256) NULL,
			[macrochat4] [nvarchar](256) NULL,
		 CONSTRAINT ['+@strTable2+'] PRIMARY KEY CLUSTERED 
		(
			[UID] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
		) ON [PRIMARY]
	'
	EXEC dbo.sp_executesql @strQuery
	SET @i32Idx = @i32Idx + 1;
END

/****** Object:  Table [dbo].[TOper_Weblog]    Script Date: 2014-06-11 오전 8:40:23 ******/
CREATE TABLE [dbo].[TOper_Weblog](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](50) NOT NULL,
	[log_text] [nvarchar](1024) NULL,
	[Date] [int] NOT NULL,
 CONSTRAINT [PK_TOper_Weblog] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- DF --****/
------------------------------------------------------------------------------------------------------------------------------------
DECLARE @strQuery NVARCHAR(MAX), @i32Idx INT
DECLARE @strTable NVARCHAR(MAX)
SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'TEnv' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_Envdefault]  DEFAULT ((1)) FOR [Envdefault]
	'
	EXEC dbo.sp_executesql @strQuery
	SET @i32Idx = @i32Idx + 1;
END
GO
