USE [GameStat]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

CREATE TABLE [dbo].[SDataErrorLog](
	[DBName] [nvarchar](50) NOT NULL,
	[ProcName] [nvarchar](50) NOT NULL,
	[ResultData] [smallint] NOT NULL,
	[CreateDate] [datetime] NOT NULL
) ON [PRIMARY]

GO


CREATE TABLE [dbo].[SDBErrorLog](
	[ErrorDB] [nvarchar](50) NOT NULL,
	[ErrorNumber] [int] NOT NULL,
	[ErrorSeverity] [int] NOT NULL,
	[ErrorState] [int] NOT NULL,
	[ErrorProcedure] [varchar](50) NOT NULL,
	[ErrorLine] [int] NOT NULL,
	[ErrorMessage] [nvarchar](4000) NOT NULL,
	[CreateDate] [datetime] NOT NULL
) ON [PRIMARY]

GO