USE [GameStat]
GO
/****** Object:  StoredProcedure [dbo].[SDataErrorLog_ins]    Script Date: 2015-02-23 오전 10:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SDataErrorLog_ins]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[SDataErrorLog_ins]
/* ======================================================
// Interface Part
// ====================================================== */
     @DBName                VARCHAR(50)
,    @ProcName              VARCHAR(50)

,    @Result                SMALLINT

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

INSERT SDataErrorLog
(
    DBName
,   ProcName
,   ResultData
,   CreateDate
)
SELECT
    @DBName
,   @ProcName
,   @Result
,   CURRENT_TIMESTAMP

COMMIT TRANSACTION 
/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    IF XACT_STATE() <> 0 ROLLBACK TRANSACTION
    EXEC dbo.SDBErrorLog_ins ''GameStat'', ''SDataErrorLog_ins''
    SET @Result = -9999
END CATCH
' 
END
GO
/****** Object:  StoredProcedure [dbo].[SDBErrorLog_ins]    Script Date: 2015-02-23 오전 10:03:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SDBErrorLog_ins]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[SDBErrorLog_ins]
/* ======================================================
// Interface Part
// ====================================================== */
     @DBName                VARCHAR(50)
,    @ProcName              VARCHAR(50)

/* ======================================================
// Procedure Header
// ====================================================== */
--//WITH ENCRYPTION
AS

SET NOCOUNT         ON
SET XACT_ABORT      ON
SET LOCK_TIMEOUT    5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
/* ======================================================
// Implementation Part 
// ====================================================== */ BEGIN TRY

IF ERROR_NUMBER() IS NULL    
RETURN;

SELECT
    @DBName             AS ErrorDB 
,   ERROR_NUMBER()      AS ErrorNumber
,   ERROR_SEVERITY()    AS ErrorSeverity
,   ERROR_STATE()       AS ErrorState
,   @ProcName           AS ErrorProcedure
,   ERROR_LINE()        AS ErrorLine
,   ERROR_MESSAGE()     AS ErrorMessage
,   CURRENT_TIMESTAMP   AS CreateDate    

INSERT INTO SDBErrorLog
(
    ErrorDB             --//오류 DB    
,   ErrorNumber         --//오류 번호
,   ErrorSeverity       --//오류 심각도
,   ErrorState          --//오류 상태번호
,   ErrorProcedure      --//오류 프로시져
,   ErrorLine           --//오류 발생 번호
,   ErrorMessage        --//오류 발생 메시지
,   CreateDate          --//오류 발생 일자
)
SELECT
    @DBName             AS ErrorDB 
,   ERROR_NUMBER()      AS ErrorNumber
,   ERROR_SEVERITY()    AS ErrorSeverity
,   ERROR_STATE()       AS ErrorState
,   @ProcName           AS ErrorProcedure
,   ERROR_LINE()        AS ErrorLine
,   ERROR_MESSAGE()     AS ErrorMessage
,   CURRENT_TIMESTAMP   AS CreateDate

/* ======================================================
// End of Procedure 
// ====================================================== */ END TRY
BEGIN CATCH
    DECLARE @ErrorMessage   NVARCHAR(4000)
    DECLARE @ErrorSeverity  INT
    DECLARE @ErrorState     INT

    SELECT 
        @ErrorMessage       = ERROR_MESSAGE()
    ,   @ErrorSeverity      = ERROR_SEVERITY()
    ,   @ErrorState         = ERROR_STATE()

    RAISERROR
    (
        @ErrorMessage       -- Message text
    ,   @ErrorSeverity      -- Severity
    ,   @ErrorState         -- State
    )
END CATCH
' 
END
GO
