USE [ShopInventoryAgent]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO

DECLARE @strQuery NVARCHAR(MAX), @i32Idx INT
DECLARE @strTable NVARCHAR(MAX), @strTable2 NVARCHAR(MAX)

/****** Object:  Table [dbo].[PB_BT_OPBF_DefaultItem]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_OPBF_DefaultItem](
	[i32Idx] [int] NOT NULL,
	[ui8Type] [tinyint] NOT NULL,
	[i32ItemID] [int] NOT NULL,
 CONSTRAINT [PK_PB_BT_OPBF_DefaultItem] PRIMARY KEY CLUSTERED 
(
	[i32Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SFieldShopCategory]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SFieldShopCategory](
	[i8Idx] [tinyint] NOT NULL,
	[strName] [nvarchar](42) NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SFieldShopGoods]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SFieldShopGoods](
	[i8CategoryIdx] [tinyint] NOT NULL,
	[i8GoodsListIdx] [tinyint] NOT NULL,
	[i8GoodsDayList] [tinyint] NULL,
	[i32GoodsID] [int] NOT NULL,
	[i8Use] [tinyint] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SItemGoodsMatching]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SItemGoodsMatching](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[GoodsID] [int] NOT NULL,
	[GoodsName] [nvarchar](50) NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SOper_FieldShopVersionControl]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SOper_FieldShopVersionControl](
	[i32Idx] [int] IDENTITY(1,1) NOT NULL,
	[sdtDate] [smalldatetime] NOT NULL,
	[strID] [nvarchar](32) NOT NULL,
	[strComment] [nvarchar](1024) NOT NULL,
 CONSTRAINT [PK_TOper_FieldShopVersionControl] PRIMARY KEY CLUSTERED 
(
	[i32Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SOper_VersionControl]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SOper_VersionControl](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[Date] [int] NULL,
	[Command] [nvarchar](1024) NOT NULL,
	[ID] [nvarchar](32) NULL,
 CONSTRAINT [PK_TVersionControl] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SOper_Weblog]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SOper_Weblog](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[id] [nvarchar](50) NOT NULL,
	[log_text] [nvarchar](512) NOT NULL,
	[Date] [int] NOT NULL,
 CONSTRAINT [PK_TOper_Weblog] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SShopCoupon]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SShopCoupon](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[strCouponName] [nvarchar](32) NOT NULL,
	[i32CouponID] [int] NOT NULL,
	[i8CouponType] [tinyint] NOT NULL,
	[i32StartDate] [int] NOT NULL,
	[i32EndDate] [int] NOT NULL,
	[i32PeriodArg] [int] NOT NULL,
	[i8DiscountType] [tinyint] NOT NULL,
	[i32DiscountValue] [int] NOT NULL,
	[i8ItemClass] [tinyint] NOT NULL,
	[i8LimitType] [tinyint] NOT NULL,
	[i32LimitValue] [int] NOT NULL,
 CONSTRAINT [PK_TShopCoupon] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SShopGoods]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SShopGoods](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[GoodsID] [int] NOT NULL,
	[Enable] [tinyint] NOT NULL,
	[SaleType] [tinyint] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_PB_BT_SShopGoods] PRIMARY KEY CLUSTERED 
(
	[GoodsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SShopItem]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SShopItem](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[AuthType] [tinyint] NOT NULL,
	[AuthExpireType] [tinyint] NOT NULL,
	[Expire] [int] NOT NULL,
	[AutoStart] [tinyint] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[Restriction] [tinyint] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[RestrictionType] [tinyint] NOT NULL,
	[Condition] [smallint] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SShopItemRepair]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SShopItemRepair](
	[ItemID] [int] NOT NULL,
	[PricePoint] [int] NOT NULL,
	[PriceCash] [int] NOT NULL,
	[Durability] [int] NOT NULL,
 CONSTRAINT [PK_TShopItemRepair] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_SShopMatching]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SShopMatching](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[GoodsID] [int] NOT NULL,
	[ItemID] [int] NOT NULL,
	[ItemArg] [int] NOT NULL,
	[BonusArg] [int] NOT NULL,
 CONSTRAINT [PK_PB_BT_SShopMatching] PRIMARY KEY CLUSTERED 
(
	[GoodsID] ASC,
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[PB_BT_SShopMatching]  WITH CHECK ADD  CONSTRAINT [FK_PB_BT_SShopMatching] FOREIGN KEY([GoodsID])
REFERENCES [dbo].[PB_BT_SShopGoods] ([GoodsID])

ALTER TABLE [dbo].[PB_BT_SShopMatching] CHECK CONSTRAINT [FK_PB_BT_SShopMatching]

/****** Object:  Table [dbo].[PB_BT_SShopTermAuth]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_BT_SShopTermAuth](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[TermItemID] [int] NOT NULL,
	[TermItemArg] [int] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_SGiftDeliver]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_GT_SGiftDeliver](
	[i32Idx] [int] IDENTITY(1,1) NOT NULL,
	[USN] [bigint] NOT NULL,
	[i32GoodsID] [int] NOT NULL,
	[i8InsertType] [tinyint] NOT NULL,
	[i8IsInsert] [tinyint] NOT NULL,
	[sdtInsert] [smalldatetime] NOT NULL,
	[strMessage] [nvarchar](125) NOT NULL,
	[strComment] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_GiftDeliver] PRIMARY KEY CLUSTERED 
(
	[i32Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_SShopGoodsPrice]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE TABLE [dbo].[PB_GT_SShopGoodsPrice](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[GoodsID] [int] NOT NULL,
	[PriceType] [tinyint] NOT NULL,
	[Point] [int] NOT NULL,
	[Cash] [int] NOT NULL,
	[Coin] [int] NOT NULL,
	[Mark] [tinyint] NOT NULL,
 CONSTRAINT [PK_PB_GT_SShopGoodsPrice] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_SUserGift00]    Script Date: 2014-05-09 오후 5:18:03 ******/
SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'PB_GT_SUserGift0' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'PK_TUserGift0' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		CREATE TABLE [dbo].['+@strTable+'](
			[i32Idx] [int] IDENTITY(1,1) NOT NULL,
			[i64R_UID] [bigint] NOT NULL,
			[i32GoodsID] [int] NOT NULL,
			[i8Deliver] [tinyint] NOT NULL,
			[sdtExpire] [smalldatetime] NOT NULL,
			[strS_Nick] [nvarchar](50) NOT NULL,
			[strMessage] [nvarchar](125) NOT NULL,
		 CONSTRAINT ['+@strTable2+'] PRIMARY KEY CLUSTERED 
		(
			[i32Idx] ASC,
			[i64R_UID] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
		) ON [PRIMARY]
	'
	SET @i32Idx = @i32Idx + 1;
	EXEC dbo.sp_executesql @strQuery
END

/****** Object:  Table [dbo].[PB_GT_SUserWare00]    Script Date: 2014-05-09 오후 5:18:03 ******/
SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'PB_GT_SUserWare0' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'PK_TUserWare0' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		CREATE TABLE [dbo].['+@strTable+'](
			[Idx] [bigint] IDENTITY(1,1) NOT NULL,
			[USN] [bigint] NOT NULL,
			[ItemID] [int] NOT NULL,
			[ItemState] [tinyint] NOT NULL,
			[AuthArg] [int] NOT NULL,
		 CONSTRAINT ['+@strTable2+'] PRIMARY KEY CLUSTERED 
		(
			[Idx] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
		) ON [PRIMARY]
	'
	SET @i32Idx = @i32Idx + 1;
	EXEC dbo.sp_executesql @strQuery
END

/****** Object:  Table [dbo].[zDataErrorLog]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[zDataErrorLog](
	[DataErrorIDX] [int] IDENTITY(1,1) NOT NULL,
	[ErrorDB] [nvarchar](50) NOT NULL,
	[ErrorProcedure] [nvarchar](100) NOT NULL,
	[ErrorCode] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[zDBErrorLog]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[zDBErrorLog](
	[DBErrorIDX] [int] IDENTITY(1,1) NOT NULL,
	[ErrorDB] [nvarchar](50) NOT NULL,
	[ErrorNumber] [int] NOT NULL,
	[ErrorSeverity] [int] NOT NULL,
	[ErrorState] [int] NOT NULL,
	[ErrorProcedure] [nvarchar](100) NOT NULL,
	[ErrorLine] [int] NOT NULL,
	[ErrorMessage] [nvarchar](4000) NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_LT_zDataErrorLog]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_LT_zDataErrorLog](
	[DataErrorIDX] [int] IDENTITY(1,1) NOT NULL,
	[DBName] [nvarchar](50) NULL,
	[ProcName] [nvarchar](50) NOT NULL,
	[ResultData] [smallint] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- IX --****/
------------------------------------------------------------------------------------------------------------------------------------
DECLARE @strQuery NVARCHAR(MAX), @i32Idx INT
DECLARE @strTable NVARCHAR(MAX), @strTable2 NVARCHAR(MAX)

/****** Object:  Index [IX_TFieldShopCategory_Idx]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TFieldShopCategory_Idx] ON [dbo].[PB_BT_SFieldShopCategory]
(
	[i8Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_TFieldShopGoods_Idx]    Script Date: 2014-05-09 오후 5:18:03 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TFieldShopGoods_Idx] ON [dbo].[PB_BT_SFieldShopGoods]
(
	[i8CategoryIdx] ASC,
	[i8GoodsListIdx] ASC,
	[i8GoodsDayList] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'PB_GT_SUserWare0' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'IX_TUserWare0' + CONVERT(NVARCHAR, @i32Idx);
	/****** Object:  Index [IX_TUserWare00_ItemID]    Script Date: 2014-05-09 오후 5:18:03 ******/
	SET @strQuery = N'
		CREATE NONCLUSTERED INDEX ['+@strTable2+'_ItemID] ON [dbo].['+@strTable+']
		(
			[ItemID] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	'
	EXEC dbo.sp_executesql @strQuery
	/****** Object:  Index [IX_TUserWare00_UID]    Script Date: 2014-05-09 오후 5:18:03 ******/
	SET @strQuery = N'
		CREATE NONCLUSTERED INDEX ['+@strTable2+'_UID] ON [dbo].['+@strTable+']
		(
			[USN] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
	'
	EXEC dbo.sp_executesql @strQuery
	SET @i32Idx = @i32Idx + 1;
END
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- DF --****/
------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i32CouponID]			DEFAULT ((0)) FOR [i32CouponID]
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i8CouponType]		DEFAULT ((0)) FOR [i8CouponType]
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i32StartDate]		DEFAULT ((0)) FOR [i32StartDate]
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i32EndDate]			DEFAULT ((0)) FOR [i32EndDate]
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i32PeriodArg]		DEFAULT ((0)) FOR [i32PeriodArg]
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i8DiscountType]		DEFAULT ((0)) FOR [i8DiscountType]
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i32DiscountValue]	DEFAULT ((0)) FOR [i32DiscountValue]
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i8ItemClass]			DEFAULT ((0)) FOR [i8ItemClass]
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i8LimitType]			DEFAULT ((0)) FOR [i8LimitType]
ALTER TABLE [dbo].[PB_BT_SShopCoupon] ADD CONSTRAINT [DF_PB_BT_SShopCoupon_i32LimitValue]		DEFAULT ((0)) FOR [i32LimitValue]

ALTER TABLE [dbo].[PB_BT_SShopItem] ADD CONSTRAINT [DF_PB_BT_SShopItem_RestrictionType] DEFAULT ((0)) FOR [RestrictionType]
ALTER TABLE [dbo].[PB_BT_SShopItem] ADD CONSTRAINT [DF_PB_BT_SShopItem_Condition] DEFAULT ((0)) FOR [Condition]
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- FK --****/
------------------------------------------------------------------------------------------------------------------------------------
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PB_BT_SFieldShopGoods]') AND parent_object_id = OBJECT_ID(N'[dbo].[PB_BT_SFieldShopGoods]'))
ALTER TABLE [dbo].[PB_BT_SFieldShopGoods]  WITH CHECK ADD  CONSTRAINT [FK_PB_BT_SFieldShopGoods] FOREIGN KEY([i32GoodsID])
REFERENCES [dbo].[PB_BT_SShopGoods] ([GoodsID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PB_BT_SFieldShopGoods]') AND parent_object_id = OBJECT_ID(N'[dbo].[PB_BT_SFieldShopGoods]'))
ALTER TABLE [dbo].[PB_BT_SFieldShopGoods] CHECK CONSTRAINT [FK_PB_BT_SFieldShopGoods]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PB_BT_SShopMatching]') AND parent_object_id = OBJECT_ID(N'[dbo].[PB_BT_SShopMatching]'))
ALTER TABLE [dbo].[PB_BT_SShopMatching]  WITH CHECK ADD  CONSTRAINT [FK_PB_BT_SShopMatching] FOREIGN KEY([GoodsID])
REFERENCES [dbo].[PB_BT_SShopGoods] ([GoodsID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PB_BT_SShopMatching]') AND parent_object_id = OBJECT_ID(N'[dbo].[PB_BT_SShopMatching]'))
ALTER TABLE [dbo].[PB_BT_SShopMatching] CHECK CONSTRAINT [FK_PB_BT_SShopMatching]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PB_GT_SShopGoodsPrice]') AND parent_object_id = OBJECT_ID(N'[dbo].[PB_GT_SShopGoodsPrice]'))
ALTER TABLE [dbo].[PB_GT_SShopGoodsPrice]  WITH CHECK ADD  CONSTRAINT [FK_PB_GT_SShopGoodsPrice] FOREIGN KEY([GoodsID])
REFERENCES [dbo].[PB_BT_SShopGoods] ([GoodsID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PB_GT_SShopGoodsPrice]') AND parent_object_id = OBJECT_ID(N'[dbo].[PB_GT_SShopGoodsPrice]'))
ALTER TABLE [dbo].[PB_GT_SShopGoodsPrice] CHECK CONSTRAINT [FK_PB_GT_SShopGoodsPrice]
GO
