USE [PBOption]
GO

/****** Object:  Table [dbo].[BoostEvent]    Script Date: 2014-05-09 오후 3:13:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[BoostEvent](
	[EventIDX] [int] IDENTITY(1,1) NOT NULL,
	[EventType] [int] NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[Exp] [int] NOT NULL,
	[Point] [int] NOT NULL,
	[LocalCode] [tinyint] NOT NULL,
 CONSTRAINT [PKC_BoostEvent_EventIDX] PRIMARY KEY CLUSTERED 
(
	[EventIDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[ChannelType]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[ChannelType](
	[ServerID] [smallint] NOT NULL,
	[Type0] [smallint] NOT NULL,
	[Type1] [smallint] NOT NULL,
	[Type2] [smallint] NOT NULL,
	[Type3] [smallint] NOT NULL,
	[Type4] [smallint] NOT NULL,
	[Type5] [smallint] NOT NULL,
	[Type6] [smallint] NOT NULL,
	[Type7] [smallint] NOT NULL,
	[Type8] [smallint] NOT NULL,
	[Type9] [smallint] NOT NULL,
	[ChannelUserCount] [smallint] NOT NULL,
	[ExtraUserCount] [smallint] NOT NULL,
	[NowChannelUserCount] [smallint] NOT NULL,
 CONSTRAINT [PKC_ChannelType_ServerID] PRIMARY KEY CLUSTERED 
(
	[ServerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[ClanMatchSeason]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[ClanMatchSeason](
	[SeasonID] [int] IDENTITY(1,1) NOT NULL,
	[SeasonName] [nvarchar](100) NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[SeasonState] [tinyint] NOT NULL,
 CONSTRAINT [PK_ClanMatchSeason] PRIMARY KEY CLUSTERED 
(
	[SeasonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[CodeInfo]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[CodeInfo](
	[GroupCode] [int] NOT NULL,
	[Code] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[Enable] [bit] NOT NULL,
 CONSTRAINT [PKC_CodeInfo_GroupCode_Code] PRIMARY KEY CLUSTERED 
(
	[GroupCode] ASC,
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[ControlContents]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[ControlContents](
	[ContentsNum] [int] NOT NULL,
	[ContentsName] [nvarchar](100) NOT NULL,
	[ContentsVersion] [int] NOT NULL,
	[IsEnable] [tinyint] NOT NULL,
 CONSTRAINT [PKC_ControlContents_ContentsNum] PRIMARY KEY CLUSTERED 
(
	[ContentsNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[DBList]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[DBList](
	[Idx] [int] NOT NULL,
	[strDBName] [nvarchar](32) NOT NULL,
	[strDataSource] [nvarchar](32) NOT NULL,
	[strCatalog] [nvarchar](32) NOT NULL,
	[strID] [nvarchar](32) NOT NULL,
	[strPW] [nvarchar](32) NOT NULL,
	[iUseServer] [int] NOT NULL,
 CONSTRAINT [PK_DBList] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[IPWhite]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[IPWhite](
	[StartIP] [nvarchar](15) NOT NULL,
	[EndIP] [nvarchar](15) NOT NULL,
 CONSTRAINT [PKC_IPWhite_StartIP_EndIP] PRIMARY KEY CLUSTERED 
(
	[StartIP] ASC,
	[EndIP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[LoginEvent]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[LoginEvent](
	[EventIDX] [int] IDENTITY(1,1) NOT NULL,
	[EventType] [int] NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[GoodsID1] [int] NOT NULL,
	[GoodsID2] [int] NOT NULL,
	[GoodsID3] [int] NOT NULL,
	[GoodsID4] [int] NOT NULL,
	[LocalCode] [tinyint] NOT NULL,
 CONSTRAINT [PKC_LoginEvent_EventIDX] PRIMARY KEY CLUSTERED 
(
	[EventIDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Map]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[Map](
	[ui16StageUID] [smallint] NOT NULL,
	[strName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Map] PRIMARY KEY CLUSTERED 
(
	[ui16StageUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[MapModeMatching]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[MapModeMatching](
	[ui16StageKey] [smallint] NOT NULL,
	[ui8Open] [tinyint] NOT NULL,
	[ui16StageUID] [smallint] NOT NULL,
	[ui8Mode] [tinyint] NOT NULL,
	[ui8MaxPerson] [tinyint] NOT NULL,
	[ui8Mark] [tinyint] NOT NULL,
	[ui8SpecialMode] [tinyint] NOT NULL,
 CONSTRAINT [PK_MapModeMatching] PRIMARY KEY CLUSTERED 
(
	[ui16StageKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[Mode]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[Mode](
	[ui8Mode] [tinyint] NOT NULL,
	[ui16DefaultStageKey] [smallint] NOT NULL,
	[strModeName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Mode] PRIMARY KEY CLUSTERED 
(
	[ui8Mode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[NationWhite]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[NationWhite](
	[NationCode] [int] NOT NULL,
 CONSTRAINT [PKC_NationWhite_NationCode] PRIMARY KEY CLUSTERED 
(
	[NationCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[NewUserEvent]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[NewUserEvent](
	[EventIDX] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [smalldatetime] NOT NULL,
	[EndDate] [smalldatetime] NOT NULL,
	[GoodsID] [int] NOT NULL,
	[LocalCode] [tinyint] NOT NULL,
 CONSTRAINT [PKC_NewUserEvent_EventIDX] PRIMARY KEY CLUSTERED 
(
	[EventIDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[OAttendanceDate]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[OAttendanceDate](
	[i32AttendanceUID] [int] IDENTITY(1,1) NOT NULL,
	[ui8AttendanceType] [tinyint] NOT NULL,
	[strAttendanceName] [nvarchar](30) NOT NULL,
	[dtStartDate] [smalldatetime] NOT NULL,
	[dtEndDate] [smalldatetime] NOT NULL,
	[ui8DayCNT] [tinyint] NOT NULL,
	[bRepeat] [bit] NOT NULL,
	[bEnable] [bit] NOT NULL,
	[bReset] [bit] NOT NULL,
 CONSTRAINT [PKC_OAttendanceDate_i32AttendanceUID] PRIMARY KEY CLUSTERED 
(
	[i32AttendanceUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[OAttendanceGoodsID]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[OAttendanceGoodsID](
	[i32AttendanceUID] [int] NOT NULL,
	[ui8GoodsOrder] [tinyint] NOT NULL,
	[i32GoodsID] [int] NOT NULL,
 CONSTRAINT [PKC_OAttendanceGoodsID_i32AttendanceUID_ui8GoodsOrder_i32GoodsID] PRIMARY KEY CLUSTERED 
(
	[i32AttendanceUID] ASC,
	[ui8GoodsOrder] ASC,
	[i32GoodsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[OTSDate]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[OTSDate](
	[i32OTSUID] [int] IDENTITY(1,1) NOT NULL,
	[strOTSName] [nvarchar](30) NOT NULL,
	[ui8OTSType] [tinyint] NOT NULL,
	[dtStartDate] [smalldatetime] NOT NULL,
	[dtEndDate] [smalldatetime] NOT NULL,
	[bEnable] [bit] NOT NULL,
 CONSTRAINT [PKC_OTSDate_i32OTSUID] PRIMARY KEY CLUSTERED 
(
	[i32OTSUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[OTSGoodsID]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[OTSGoodsID](
	[OTSGoodsIDIDX] [int] IDENTITY(1,1) NOT NULL,
	[i32OTSUID] [int] NOT NULL,
	[ui8GoodsOrder] [tinyint] NOT NULL,
	[i32GoodsID] [int] NOT NULL,
 CONSTRAINT [PKC_OTSGoodsID_ALL] PRIMARY KEY CLUSTERED 
(
	[OTSGoodsIDIDX] ASC,
	[i32OTSUID] ASC,
	[ui8GoodsOrder] ASC,
	[i32GoodsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_LuckyItem]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_LuckyItem](
	[PriceType] [tinyint] NOT NULL,
	[Enable] [tinyint] NOT NULL,
	[LuckyGoodsID] [int] NOT NULL,
	[LuckyDropRate] [int] NOT NULL
 CONSTRAINT [PK_PB_BT_LuckyItem] PRIMARY KEY CLUSTERED 
(
	[PriceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_LuckyItemAction]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_LuckyItemAction](
	[Msg1] [nvarchar](100) NOT NULL,
	[Msg2] [nvarchar](100) NOT NULL,
	[Msg3] [nvarchar](100) NOT NULL,
	[Msg1Enable] [tinyint] NOT NULL,
	[Msg2Enable] [tinyint] NOT NULL,
	[Msg3Enable] [tinyint] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_LuckyItemBustNormal]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_LuckyItemBustNormal](
	[WinItemIDX] [int] NOT NULL,
	[BustGoodsID] [int] NOT NULL,
	[DropRate] [int] NOT NULL,
	[Enable] [tinyint] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_LuckyItemBustRandom]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_LuckyItemBustRandom](
	[PriceType] [tinyint] NOT NULL,
	[BustGoodsID] [int] NOT NULL,
	[Enable] [tinyint] NOT NULL
) ON [PRIMARY]

ALTER TABLE [dbo].[PB_BT_LuckyItemBustRandom]  WITH CHECK ADD  CONSTRAINT [FK_PB_BT_LuckyItemBustRandom] FOREIGN KEY([PriceType])
REFERENCES [dbo].[PB_BT_LuckyItem] ([PriceType])
GO

ALTER TABLE [dbo].[PB_BT_LuckyItemBustRandom] CHECK CONSTRAINT [FK_PB_BT_LuckyItemBustRandom]
GO


/****** Object:  Table [dbo].[PB_BT_LuckyItemWin]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_LuckyItemWin](
	[WinItemIDX] [int] NOT NULL,
	[PriceType] [tinyint] NOT NULL,
	[GoodsID] [int] NOT NULL,
	[MaxCount] [smallint] NOT NULL,
	[DropRate1] [int] NOT NULL,
	[DropRate2] [int] NOT NULL,
	[DropRate3] [int] NOT NULL,
	[DropRate4] [int] NOT NULL,
	[DropRate5] [int] NOT NULL,
	[Enable] [tinyint] NOT NULL,
	[GloryCount] [smallint] NOT NULL
 CONSTRAINT [PK_PB_BT_LuckyItemWin] PRIMARY KEY CLUSTERED 
(
	[WinItemIDX] ASC,
	[PriceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[PB_BT_LuckyItemWin]  WITH CHECK ADD  CONSTRAINT [FK_PB_BT_LuckyItemWin] FOREIGN KEY([PriceType])
REFERENCES [dbo].[PB_BT_LuckyItem] ([PriceType])
GO

ALTER TABLE [dbo].[PB_BT_LuckyItemWin] CHECK CONSTRAINT [FK_PB_BT_LuckyItemWin]
GO

/****** Object:  Table [dbo].[PB_BT_Medal_Normal]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_Medal_Normal](
	[i16MedalIdx] [smallint] NOT NULL,
	[strMedalName] [nvarchar](128) NOT NULL,
	[strDescription] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_PB_BT_Medal_Normal] PRIMARY KEY CLUSTERED 
(
	[i16MedalIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_Medal_Set]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_Medal_Set](
	[i16MedalIdx] [smallint] NOT NULL,
	[i16MedalSetIdx] [smallint] NOT NULL,
	[ui8MedalSetType] [tinyint] NOT NULL,
	[strMedalName] [nvarchar](128) NOT NULL,
	[strSetName] [nvarchar](128) NOT NULL,
	[strDescription] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_PB_BT_Medal_Set] PRIMARY KEY CLUSTERED 
(
	[i16MedalIdx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_ODailyGiftGoods]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_ODailyGiftGoods](
	[IDX] [int] IDENTITY(1,1) NOT NULL,
	[GiftType] [tinyint] NOT NULL,
	[GoodsID] [int] NOT NULL,
	[Rate] [smallint] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PKC_ODailyGiftGoods_IDX] PRIMARY KEY CLUSTERED 
(
	[IDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_ODailyGiftInfo]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_ODailyGiftInfo](
	[Active] [tinyint] NOT NULL,
	[ResetTime] [int] NOT NULL,
	[FirTime] [tinyint] NOT NULL,
	[SecTime] [tinyint] NOT NULL,
	[ThiTime] [tinyint] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_ToolMenu]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_ToolMenu](
	[MenuIDX] [int] NOT NULL,
	[ParentIDX] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Title] [nvarchar](100) NULL,
	[Path] [nvarchar](500) NULL,
	[IsHidden] [tinyint] NULL,
	[MenuInfo01] [nvarchar](100) NULL,
	[MenuInfo02] [nvarchar](100) NULL,
	[MenuInfo03] [nvarchar](100) NULL,
	[OrderNo] [smallint] NULL,
 CONSTRAINT [PKC_PB_BT_ToolMenu_MenuIDX] PRIMARY KEY CLUSTERED 
(
	[MenuIDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_ToolMenuAuth]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_ToolMenuAuth](
	[UserID] [nvarchar](50) NOT NULL,
	[MenuIDX] [int] NOT NULL,
	[AuthType] [tinyint] NOT NULL,
 CONSTRAINT [PKC_ToolMenuAuth_UserID_MenuIDX] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[MenuIDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_BT_ToolUserAuth]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[PB_BT_ToolUserAuth](
	[UserID] [nvarchar](50) NOT NULL,
	[PW] [nvarchar](50) NOT NULL,
	[Logintime] [datetime] NULL,
	[IsLogin] [tinyint] NOT NULL,
	[AuthService] [tinyint] NOT NULL,
	[IsShopEdit] [tinyint] NOT NULL,
 CONSTRAINT [PKC_ToolUserAuth_UserID] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TMaintenanceInfo]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TMaintenanceInfo](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[MaintenanceTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MaintenanceInfo] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBC_Basic]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBC_Basic](
	[NewUserPoint] [int] NOT NULL,
	[ClanCreateRank] [tinyint] NOT NULL,
	[ClanCreatePoint] [int] NOT NULL,
	[sdtRSEventStartTime] [smalldatetime] NOT NULL,
	[sdtRSEventEndTime] [smalldatetime] NOT NULL,
	[strAdMessage1] [nvarchar](100) NOT NULL,
	[strAdMessage2] [nvarchar](100) NOT NULL,
	[strAdMessage3] [nvarchar](100) NOT NULL,
	[i8RSAdMessage1Active] [tinyint] NOT NULL,
	[i8RSAdMessage2Active] [tinyint] NOT NULL,
	[i8RSAdMessage3Active] [tinyint] NOT NULL,
	[FieldShopFlag] [int] NOT NULL,
	[ClanDefalutMemberCnt] [tinyint] NOT NULL,
	[strBillingURL] [nvarchar](255) NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBC_ChangeLog]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBC_ChangeLog](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[ID] [nvarchar](50) NOT NULL,
	[Comment] [nvarchar](250) NOT NULL,
	[Date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_TPBC_ChangeLog] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBC_GeneralRankup]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBC_GeneralRankup](
	[active] [int] NOT NULL,
	[rank_47] [int] NOT NULL,
	[rank_48] [int] NOT NULL,
	[rank_49] [int] NOT NULL,
	[rank_50] [int] NOT NULL,
	[start_time] [int] NOT NULL,
	[offset_Day] [int] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBC_Mac]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBC_Mac](
	[Idx] [int] NOT NULL,
	[MacAddress] [char](18) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_TPBC_Mac] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBC_Notice]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBC_Notice](
	[Idx] [int] IDENTITY(1,1) NOT NULL,
	[Active] [tinyint] NOT NULL,
	[RepeatTime] [int] NOT NULL,
	[Text] [nvarchar](255) NOT NULL,
	[BeginTime] [smalldatetime] NOT NULL,
	[FinishTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_TPBC_Notice] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBF_Basic]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBF_Basic](
	[QuestEvent] [int] NOT NULL,
	[ClanMaxCount] [int] NOT NULL,
	[ui8Version] [tinyint] NOT NULL,
	[ui8AASEnableFlag] [tinyint] NOT NULL,
	[ui16AASProhibitionFlag] [smallint] NOT NULL,
	[ui16AASDailyUsageMaxMin] [smallint] NOT NULL,
	[ui16AASDailyUsageResetTime] [smallint] NOT NULL,
	[ui64AASAppointedTimeTable] [bigint] NOT NULL,
	[LocalCode] [tinyint] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBF_Map]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBF_Map](
	[Idx] [int] NOT NULL,
	[MapName] [nvarchar](50) NOT NULL,
	[MapState] [int] NOT NULL,
	[MapOpen] [tinyint] NOT NULL,
	[M_AI] [tinyint] NOT NULL,
	[M_RPG] [tinyint] NOT NULL,
	[M_Sniper] [tinyint] NOT NULL,
	[M_Annihilation] [tinyint] NOT NULL,
	[M_SuddenDeath] [tinyint] NOT NULL,
	[M_HeadHunter] [tinyint] NOT NULL,
	[M_HeadKiller] [tinyint] NOT NULL,
	[M_Shotgun] [tinyint] NOT NULL,
	[M_Knuckle] [tinyint] NOT NULL,
	[Mark] [tinyint] NOT NULL,
 CONSTRAINT [PK_TPBF_Map] PRIMARY KEY CLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[MapDefault]    Script Date: 2014-12-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[MapDefault](
	[i32Mode] [int] NOT NULL,
	[i32Stage] [int] NOT NULL,
 CONSTRAINT [PK_MapDefault] PRIMARY KEY CLUSTERED 
(
	[i32Mode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBF_Medal]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBF_Medal](
	[ui8MedalEnable] [tinyint] NOT NULL,
	[sdtEventMedalSetStartTime] [smalldatetime] NOT NULL,
	[sdtEventMedalSetEndTime] [smalldatetime] NOT NULL,
	[i16EventMedalSetIdx] [smallint] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBF_MissionCard]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBF_MissionCard](
	[Type] [tinyint] NOT NULL,
	[Active] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_TPBF_MissionCard] PRIMARY KEY CLUSTERED 
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TPBF_RankUpItem]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[TPBF_RankUpItem](
	[iRank] [int] NOT NULL,
	[iGoodsCount] [tinyint] NOT NULL,
	[iItemGoodsID1] [int] NOT NULL,
	[iItemGoodsID2] [int] NOT NULL,
	[iItemGoodsID3] [int] NOT NULL,
	[iItemGoodsID4] [int] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[zDataErrorLog]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[zDataErrorLog](
	[DataErrorIDX] [int] IDENTITY(1,1) NOT NULL,
	[ErrorDB] [nvarchar](50) NOT NULL,
	[ErrorProcedure] [nvarchar](100) NOT NULL,
	[ErrorCode] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[zDBErrorLog]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[zDBErrorLog](
	[DBErrorIDX] [int] IDENTITY(1,1) NOT NULL,
	[ErrorDB] [nvarchar](50) NOT NULL,
	[ErrorNumber] [int] NOT NULL,
	[ErrorSeverity] [int] NOT NULL,
	[ErrorState] [int] NOT NULL,
	[ErrorProcedure] [nvarchar](100) NOT NULL,
	[ErrorLine] [int] NOT NULL,
	[ErrorMessage] [nvarchar](4000) NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[zNumber]    Script Date: 2014-05-09 오후 3:13:28 ******/
CREATE TABLE [dbo].[zNumber](
	[Number] [smallint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PB_BT_ConfigRevision]    Script Date: 2014-09-02 오전 9:16:20 ******/
CREATE TABLE [dbo].[PB_BT_ConfigRevision](
	[Item] [int] NULL,
	[CodeInfo] [int] NULL,
	[Medal] [int] NOT NULL
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[PB_BT_Eventlog]    Script Date: 2014-09-02 오전 9:18:05 ******/
CREATE TABLE [dbo].[PB_BT_Eventlog](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[userId] [varchar](50) NOT NULL,
	[eventType] [tinyint] NOT NULL,
	[log_text] [varchar](512) NOT NULL,
	[Date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_PB_BT_Eventlog] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[ProcList]    Script Date: 2015-01-14 오전 9:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProcList](
	[Idx] [int] NOT NULL,
	[ProcName] [nvarchar](128) NOT NULL,
	[FuncName] [nvarchar](64) NOT NULL,
	[Description] [nvarchar](256) NULL,
	[DBName] [nvarchar](32) NOT NULL,
UNIQUE NONCLUSTERED 
(
	[Idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Table [dbo].[ProcParams]    Script Date: 2015-01-14 오전 9:58:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProcParams]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ProcParams](
	[ProcIdx] [int] NOT NULL,
	[OrderNo] [smallint] NOT NULL,
	[DataType] [smallint] NOT NULL,
	[ParamName] [nvarchar](32) NOT NULL,
	[Description] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_ProcParams] PRIMARY KEY CLUSTERED 
(
	[ProcIdx] ASC,
	[OrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProcParams_ProcList]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcParams]'))
ALTER TABLE [dbo].[ProcParams]  WITH CHECK ADD  CONSTRAINT [FK_ProcParams_ProcList] FOREIGN KEY([ProcIdx])
REFERENCES [dbo].[ProcList] ([Idx])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ProcParams_ProcList]') AND parent_object_id = OBJECT_ID(N'[dbo].[ProcParams]'))
ALTER TABLE [dbo].[ProcParams] CHECK CONSTRAINT [FK_ProcParams_ProcList]
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- DF --****/
------------------------------------------------------------------------------------------------------------------------------------
ALTER TABLE [dbo].[BoostEvent]			ADD CONSTRAINT [DF_BoostEvent_LocalCode]					DEFAULT ((0)) FOR [LocalCode]
ALTER TABLE [dbo].[CodeInfo]			ADD CONSTRAINT [DF_CodeInfo_Enable]							DEFAULT ((1)) FOR [Enable]
ALTER TABLE [dbo].[LoginEvent]			ADD CONSTRAINT [DF_LoginEvent_LocalCode]					DEFAULT ((0)) FOR [LocalCode]
ALTER TABLE [dbo].[MapModeMatching]		ADD CONSTRAINT [DF_MapModeMatching_ui8Open]					DEFAULT ((0)) FOR [ui8Open]
ALTER TABLE [dbo].[MapModeMatching]		ADD CONSTRAINT [DF_MapModeMatching_ui8Mode]					DEFAULT ((1)) FOR [ui8Mode]
ALTER TABLE [dbo].[MapModeMatching]		ADD CONSTRAINT [DF_MapModeMatching_ui8MaxPerson]			DEFAULT ((16)) FOR [ui8MaxPerson]
ALTER TABLE [dbo].[MapModeMatching]		ADD CONSTRAINT [DF_MapModeMatching_ui8Mark]					DEFAULT ((0)) FOR [ui8Mark]
ALTER TABLE [dbo].[MapModeMatching]		ADD CONSTRAINT [DF_MapModeMatching_ui8SpecialMode]			DEFAULT ((0)) FOR [ui8SpecialMode]
ALTER TABLE [dbo].[NewUserEvent]		ADD CONSTRAINT [DF_NewUserEvent_LocalCode]					DEFAULT ((0)) FOR [LocalCode]
ALTER TABLE [dbo].[OAttendanceDate]		ADD CONSTRAINT [DF_OAttendanceDate_bReset]					DEFAULT ((0)) FOR [bReset]
ALTER TABLE [dbo].[PB_BT_ToolUserAuth]	ADD CONSTRAINT [DF_ToolUserAuth_IsLogin]					DEFAULT ((0)) FOR [IsLogin]
ALTER TABLE [dbo].[PB_BT_ToolUserAuth]	ADD CONSTRAINT [DF_ToolUserAuth_IsShopEdit]					DEFAULT ((0)) FOR [IsShopEdit]
ALTER TABLE [dbo].[TPBC_Basic]			ADD CONSTRAINT [DF__TPBC_Basic_strAdMessage1]				DEFAULT ('') FOR [strAdMessage1]
ALTER TABLE [dbo].[TPBC_Basic]			ADD CONSTRAINT [DF__TPBC_Basic_strAdMessage2]				DEFAULT ('') FOR [strAdMessage2]
ALTER TABLE [dbo].[TPBC_Basic]			ADD CONSTRAINT [DF__TPBC_Basic_strAdMessage3]				DEFAULT ('') FOR [strAdMessage3]
ALTER TABLE [dbo].[TPBC_Basic]			ADD CONSTRAINT [DF_TPBC_Basic_FieldShopFlag]				DEFAULT ((0)) FOR [FieldShopFlag]
ALTER TABLE [dbo].[TPBC_ChangeLog]		ADD CONSTRAINT [DF_TPBC_ChangeLog_Date]						DEFAULT (CONVERT([nvarchar](12),getdate(),(23))) FOR [Date]
ALTER TABLE [dbo].[TPBC_Notice]			ADD CONSTRAINT [DF_TPBC_Notice_BeginTime]					DEFAULT ((0)) FOR [BeginTime]
ALTER TABLE [dbo].[TPBC_Notice]			ADD CONSTRAINT [DF_TPBC_Notice_FinishTime]					DEFAULT ('20491231 23:59') FOR [FinishTime]
ALTER TABLE [dbo].[TPBF_Basic]			ADD CONSTRAINT [DF_TPBF_Basic_ui8Version]					DEFAULT ((0)) FOR [ui8Version]
ALTER TABLE [dbo].[TPBF_Basic]			ADD CONSTRAINT [DF_TPBF_Basic_ui8AASEnableFlag]				DEFAULT ((0)) FOR [ui8AASEnableFlag]
ALTER TABLE [dbo].[TPBF_Basic]			ADD CONSTRAINT [DF_TPBF_Basic_ui16AASProhibitionFlag]		DEFAULT ((0)) FOR [ui16AASProhibitionFlag]
ALTER TABLE [dbo].[TPBF_Basic]			ADD CONSTRAINT [DF_TPBF_Basic_ui16AASDailyUsageMaxMin]		DEFAULT ((0)) FOR [ui16AASDailyUsageMaxMin]
ALTER TABLE [dbo].[TPBF_Basic]			ADD CONSTRAINT [DF_TPBF_Basic_ui16AASDailyUsageResetTime]	DEFAULT ((0)) FOR [ui16AASDailyUsageResetTime]
ALTER TABLE [dbo].[TPBF_Basic]			ADD CONSTRAINT [DF_TPBF_Basic_ui64AASAppointedTimeTable]	DEFAULT ((0)) FOR [ui64AASAppointedTimeTable]
ALTER TABLE [dbo].[TPBF_Basic]			ADD CONSTRAINT [DF_TPBF_Basic_LocalCode]					DEFAULT ((0)) FOR [LocalCode]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBMap_MapOpen]							DEFAULT ((0)) FOR [MapOpen]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBMap_M_AI]								DEFAULT ((0)) FOR [M_AI]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBMap_M_RPG]							DEFAULT ((0)) FOR [M_RPG]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBMap_M_Sniper]							DEFAULT ((0)) FOR [M_Sniper]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBMap_M_Annihilation]					DEFAULT ((0)) FOR [M_Annihilation]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBF_Map_M_SuddenDeath]					DEFAULT ((0)) FOR [M_SuddenDeath]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBF_Map_M_HeadShot]						DEFAULT ((0)) FOR [M_HeadHunter]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBF_Map_M_HeadKiller]					DEFAULT ((0)) FOR [M_HeadKiller]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBF_Map_M_Shotgun]						DEFAULT ((0)) FOR [M_Shotgun]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBF_Map_M_Knuckle]						DEFAULT ((0)) FOR [M_Knuckle]
ALTER TABLE [dbo].[TPBF_Map]			ADD CONSTRAINT [DF_TPBF_Map_Mark]							DEFAULT ((0)) FOR [Mark]
ALTER TABLE [dbo].[TPBF_MissionCard]	ADD CONSTRAINT [DF_TPBF_MissionCard_Active]					DEFAULT ((0)) FOR [Active]
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OAttendanceGoodsID_i32AttendanceUID]') AND parent_object_id = OBJECT_ID(N'[dbo].[OAttendanceGoodsID]'))
ALTER TABLE [dbo].[OAttendanceGoodsID]  WITH CHECK ADD  CONSTRAINT [FK_OAttendanceGoodsID_i32AttendanceUID] FOREIGN KEY([i32AttendanceUID])
REFERENCES [dbo].[OAttendanceDate] ([i32AttendanceUID])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OAttendanceGoodsID_i32AttendanceUID]') AND parent_object_id = OBJECT_ID(N'[dbo].[OAttendanceGoodsID]'))
ALTER TABLE [dbo].[OAttendanceGoodsID] CHECK CONSTRAINT [FK_OAttendanceGoodsID_i32AttendanceUID]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OTSGoodsID_i32OTSUID]') AND parent_object_id = OBJECT_ID(N'[dbo].[OTSGoodsID]'))
ALTER TABLE [dbo].[OTSGoodsID]  WITH CHECK ADD  CONSTRAINT [FK_OTSGoodsID_i32OTSUID] FOREIGN KEY([i32OTSUID])
REFERENCES [dbo].[OTSDate] ([i32OTSUID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OTSGoodsID_i32OTSUID]') AND parent_object_id = OBJECT_ID(N'[dbo].[OTSGoodsID]'))
ALTER TABLE [dbo].[OTSGoodsID] CHECK CONSTRAINT [FK_OTSGoodsID_i32OTSUID]
GO
IF NOT EXISTS (SELECT * FROM ::fn_listextendedproperty(N'MS_Description' , N'SCHEMA',N'dbo', N'TABLE',N'TPBF_Map', N'COLUMN',N'MapState'))
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(Death-1,Bomb-2,Destroy-3,ANNIHILATION-4,Defence-5,SuddenDeath-6,Boss-7)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TPBF_Map', @level2type=N'COLUMN',@level2name=N'MapState'
GO



CREATE TABLE [dbo].[BoostEvent_Rank](
	[LocaleCode] [int] NOT NULL,
	[Rank] [int] NOT NULL,
	[Exp] [int] NOT NULL,
	[Point] [int] NOT NULL,
 CONSTRAINT [PKC_BoostEvent_Rank] PRIMARY KEY CLUSTERED 
(
	[Rank] ASC,
	[LocaleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShopTagPriority]    Script Date: 2015-04-01 오후 7:46:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ShopTagPriority]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ShopTagPriority](
	[TagNo] [tinyint] NOT NULL,
	[Priority] [tinyint] NULL,
	[TagName] [nvarchar](16) NULL,
 CONSTRAINT [PK_TagNo] PRIMARY KEY CLUSTERED 
(
	[TagNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

END
GO
/****** Object:  Table [dbo].[Vote]    Script Date: 2015-04-13 오후 3:01:45 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

DECLARE @TableNAme		 NVARCHAR(MAX) = '[dbo].[Vote]'

IF object_id(@TableNAme) IS  NULL
BEGIN
CREATE TABLE [dbo].[Vote](
	[MaxVoteCount] [tinyint] NOT NULL,
	[MinRank] [tinyint] NOT NULL,
	[ReportGuardTime] [int] NOT NULL,
) 
END

GO



