SERVICE_ID           2 

# if connection count is not specified 1 connection will be created 
DB_CONNECTIONS_COUNT 1 

# if retry count is not specified then default is 0
DB_CONNECTION_RETRY_COUNT 3

# timeout between retring to connect after first fail in miliseconds
# if timeout is not specified then default is 0
DB_CONNECTION_RETRY_TIMEOUT 1000

#DB_SERVER_IP         95.165.60.208
DB_SERVER_IP         nod-home.ath.cx

# if port is not specified default port will be used
DB_SERVER_PORT      1521  

DB_PATH              biling

DB_USER              MAIN_USER

DB_PASSWD            password

