USE [IPList]
GO
/****** Object:  Table [dbo].[IDList]    Script Date: 2014-06-10 오후 8:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IDList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IDList](
	[iGlobalAccountNo] [int] NOT NULL,
	[vGlobalAccountName] [varchar](20) NULL,
	[dtCreate] [datetime] NULL,
	[vDescription] [varchar](50) NULL,
 CONSTRAINT [pkIDList] PRIMARY KEY CLUSTERED 
(
	[iGlobalAccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [unqIDList_GlobalAccountName] UNIQUE NONCLUSTERED 
(
	[vGlobalAccountName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IDPlus]    Script Date: 2014-06-10 오후 8:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IDPlus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IDPlus](
	[iGlobalAccountNo] [int] NOT NULL,
	[iLevel] [tinyint] NOT NULL,
	[dtExpire] [datetime] NOT NULL,
	[vRemark] [varchar](50) NULL,
 CONSTRAINT [PK_IDPlus] PRIMARY KEY CLUSTERED 
(
	[iGlobalAccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IPList]    Script Date: 2014-06-10 오후 8:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IPList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[IPList](
	[vIPAddress] [varchar](15) NOT NULL,
	[siPromotionID] [smallint] NOT NULL,
	[ui8CIDR] [tinyint] NOT NULL
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[IPList] ADD CONSTRAINT [DF_IPList_ui8CIDR] DEFAULT ((32)) FOR [ui8CIDR]

GO
