USE [IPList]
GO
/****** Object:  StoredProcedure [dbo].[GlobalAccountNoCBTCheck]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GlobalAccountNoCBTCheck]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[GlobalAccountNoCBTCheck] @GlobalAccountNo INT,@ReturnCode INT=0 OUTPUT AS

SET @ReturnCode = ISNULL((SELECT 1 FROM IPList.dbo.IDList WITH(NOLOCK) WHERE iGlobalAccountNo = @GlobalAccountNo),0)
' 
END
GO
/****** Object:  StoredProcedure [dbo].[IDListInsert]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IDListInsert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[IDListInsert]
	@GlobalAccountNo	INT,
	@GlobalAccountName	VARCHAR(20),
	@Description		VARCHAR(50),
	@ReturnCode		INT OUTPUT AS
/*
	@ReturnCode	Description
	===========	===========
	-1		Invalid @GlobalAccountNo or @GlobalAccountName
	-2		This event is not open yet
	-3		Can not Join this Event because Quota is full
	-4		This ID is Already Joined the Pre CBT#2 Period
	-5		This ID is Already Joined the Pre CBT#1 Period - Does not have to register
	1		Successfully Joined
	0		Unknown Error
*/
BEGIN
	IF @GlobalAccountNo = '''' OR @GlobalAccountNo IS NULL OR @GlobalAccountName = '''' OR @GlobalAccountName IS NULL
	BEGIN
		SET @ReturnCode = -1
		RETURN
	END
	IF GETDATE() < ''2008-12-04 11:00:00''
	BEGIN
		SET @ReturnCode = -2
		RETURN
	END
	IF (SELECT COUNT(*) FROM IDList WHERE vDescription = ''Pre CBT2'') >= 75597
	BEGIN
		SET @ReturnCode = -3
		RETURN
	END
	IF EXISTS (SELECT 1 FROM IDList WHERE iGlobalAccountNo = @GlobalAccountNo AND dtCreate = ''2008-12-04 08:00:00.000'')
	BEGIN
		SET @ReturnCode = -5
		RETURN	
	END
	IF EXISTS (SELECT 1 FROM IDList WHERE iGlobalAccountNo = @GlobalAccountNo)
	BEGIN
		SET @ReturnCode = -4
		RETURN	
	END
	INSERT IDList VALUES (@GlobalAccountNo,@GlobalAccountName,GETDATE(),@Description)
	SET @ReturnCode = @@ROWCOUNT
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[IPListInsert]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IPListInsert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[IPListInsert]
	@IP					VARCHAR(15),
	@siPromotionID		smallint

AS

BEGIN
	DECLARE @ReturnCode INT
	INSERT INTO IPList ( vIPAddress, siPromotionID ) VALUES ( @IP, @siPromotionID )
	SET @ReturnCode = @@ROWCOUNT
	RETURN @ReturnCode
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[IPListInsertCIDR]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[IPListInsertCIDR]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[IPListInsertCIDR]
	@IP					VARCHAR(15),
	@siPromotionID		smallint,
	@ui8CIDR			tinyint

AS

BEGIN
	DECLARE @ReturnCode INT
	INSERT INTO IPList ( vIPAddress, siPromotionID, ui8CIDR ) VALUES ( @IP, @siPromotionID, @ui8CIDR )
	SET @ReturnCode = @@ROWCOUNT
	RETURN @ReturnCode
END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_80100_iplist_loadpccafelist]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_80100_iplist_loadpccafelist]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_80100_iplist_loadpccafelist]

AS

BEGIN
	SET NOCOUNT ON

	SELECT vIPAddress, siPromotionID, ui8CIDR FROM IPList;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_80200_iplist_loadthaiidplus]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_80200_iplist_loadthaiidplus]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_80200_iplist_loadthaiidplus]

AS

BEGIN
	SET NOCOUNT ON

	SELECT iGlobalAccountNo, iLevel FROM IDPlus ORDER BY iGlobalAccountNo ASC;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_iplist_loadpccafelist]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_iplist_loadpccafelist]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_iplist_loadpccafelist]

AS

BEGIN
	SET NOCOUNT ON

	SELECT vIPAddress, siPromotionID, ui8CIDR FROM IPList;

RETURN 1

SET NOCOUNT OFF
END

' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_iplist_loadthaiidplus]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_iplist_loadthaiidplus]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROC [dbo].[usp_iplist_loadthaiidplus]

AS

BEGIN
	SET NOCOUNT ON

	SELECT iGlobalAccountNo, iLevel FROM IDPlus ORDER BY iGlobalAccountNo ASC;

RETURN 1

SET NOCOUNT OFF
END
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PCCafe_ins]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_PCCafe_ins]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[usp_PCCafe_ins]
/* =============================================
-- Author      : hongseok.jeong
-- Create date : 20140722
-- Description : usp_PCCafe_ins
-- ============================================= */

/* =============================================
-- Parameter
-- ============================================= */
	@strIPAddress_   NVARCHAR(15)
,	@iRank_          SMALLINT
,	@iCIDR_          TINYINT       = 32
,	@strDescription_ NVARCHAR(200) = ''''

-- WITH ENCRYPTION
AS

/* =============================================
-- Procedure Header
-- ============================================= */
SET NOCOUNT      ON
SET XACT_ABORT   ON
SET LOCK_TIMEOUT 5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE
	@strErrorDB   NVARCHAR(50)
,	@strErrorProc NVARCHAR(100)
,	@dtNow        DATETIME
,	@iResult      SMALLINT

SELECT
	@strErrorDB   = DB_NAME()
,	@strErrorProc = ''usp_PCCafe_ins''
,	@dtNow        = CURRENT_TIMESTAMP
,	@iResult      = 0

/* =============================================
-- Execution Part
-- ============================================= */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

IF (@iResult = 0)
BEGIN

	INSERT INTO dbo.PCCafe
	(
		IPAddress
	,	Rank
	,	CIDR
	)
	SELECT
		@strIPAddress_
	,	@iRank_
	,	@iCIDR_

	INSERT INTO dbo.PCCafeVersion
	(
		UpdateDate
	,	Description
	)
	SELECT
		@dtNow
	,	@strDescription_

	COMMIT TRANSACTION

END
ELSE
BEGIN

	ROLLBACK TRANSACTION
	EXEC dbo.usp_zDataErrorLog_ins @strErrorDB, @strErrorProc, @iResult

END

/* =============================================
-- End of Procedure
-- ============================================= */ END TRY
BEGIN CATCH

	IF (XACT_STATE() <> 0) ROLLBACK TRANSACTION
	EXEC dbo.usp_zDBErrorLog_ins @strErrorDB, @strErrorProc
	SET @iResult = -9999

END CATCH

SELECT
	@iResult AS Result
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PcCafe_merge]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_PcCafe_merge]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROC [dbo].[usp_PcCafe_merge]
 @strIPAddress			AS VARCHAR(15),
 @ui16PromotionID		AS SMALLINT,
 @ui8CIDR				AS TINYINT

AS

BEGIN
	SET NOCOUNT ON
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

	DECLARE @USN BIGINT

	SELECT * FROM IPList WHERE vIPAddress = @strIPAddress;

	IF ( @@ROWCOUNT = 0 )
	BEGIN
		INSERT INTO [IPList] ([vIPAddress] ,[siPromotionID] ,[ui8CIDR])
		VALUES ( @strIPAddress, @ui16PromotionID, @ui8CIDR );
	END
	ELSE
	BEGIN
		UPDATE [dbo].[IPList] SET [siPromotionID] = @ui16PromotionID, [ui8CIDR] = @ui8CIDR
		WHERE vIPAddress = @strIPAddress;
	END

RETURN 1

SET NOCOUNT OFF
END


' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PCCafe_scan]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_PCCafe_scan]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[usp_PCCafe_scan]
/* =============================================
-- Author      : hongseok.jeong
-- Create date : 20140722
-- Description : usp_PCCafe_scan
-- ============================================= */

/* =============================================
-- Parameter
-- ============================================= */

-- WITH ENCRYPTION
AS

/* =============================================
-- Procedure Header
-- ============================================= */
SET NOCOUNT      ON
SET XACT_ABORT   ON
SET LOCK_TIMEOUT 5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE
	@strErrorDB   NVARCHAR(50)
,	@strErrorProc NVARCHAR(100)
,	@dtNow        DATETIME
,	@iResult      SMALLINT

SELECT
	@strErrorDB   = DB_NAME()
,	@strErrorProc = ''usp_PCCafe_scan''
,	@dtNow        = CURRENT_TIMESTAMP
,	@iResult      = 0

/* =============================================
-- Execution Part
-- ============================================= */
SELECT
	IPAddress
,	Rank
,	CIDR
FROM dbo.PCCafe
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PCCafe_upd]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_PCCafe_upd]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[usp_PCCafe_upd]
/* =============================================
-- Author      : hongseok.jeong
-- Create date : 20140722
-- Description : usp_PCCafe_upd
-- ============================================= */

/* =============================================
-- Parameter
-- ============================================= */
	@strIPAddress_   NVARCHAR(15)
,	@iRank_          SMALLINT
,	@strDescription_ NVARCHAR(200) = ''''

-- WITH ENCRYPTION
AS

/* =============================================
-- Procedure Header
-- ============================================= */
SET NOCOUNT      ON
SET XACT_ABORT   ON
SET LOCK_TIMEOUT 5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE
	@strErrorDB   NVARCHAR(50)
,	@strErrorProc NVARCHAR(100)
,	@dtNow        DATETIME
,	@iResult      SMALLINT

SELECT
	@strErrorDB   = DB_NAME()
,	@strErrorProc = ''usp_PCCafe_upd''
,	@dtNow        = CURRENT_TIMESTAMP
,	@iResult      = 0

/* =============================================
-- Execution Part
-- ============================================= */ BEGIN TRY
BEGIN DISTRIBUTED TRANSACTION

IF (@iResult = 0)
BEGIN

	UPDATE dbo.PCCafe
	SET Rank = @iRank_
	WHERE IPAddress = @strIPAddress_

	INSERT INTO dbo.PCCafeVersion
	(
		UpdateDate
	,	Description
	)
	SELECT
		@dtNow
	,	@strDescription_

	COMMIT TRANSACTION

END
ELSE
BEGIN

	ROLLBACK TRANSACTION
	EXEC dbo.usp_zDataErrorLog_ins @strErrorDB, @strErrorProc, @iResult

END

/* =============================================
-- End of Procedure
-- ============================================= */ END TRY
BEGIN CATCH

	IF (XACT_STATE() <> 0) ROLLBACK TRANSACTION
	EXEC dbo.usp_zDBErrorLog_ins @strErrorDB, @strErrorProc
	SET @iResult = -9999

END CATCH

SELECT
	@iResult AS Result
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_PCCafeVersion_sel]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_PCCafeVersion_sel]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[usp_PCCafeVersion_sel]
/* =============================================
-- Author      : hongseok.jeong
-- Create date : 20140722
-- Description : usp_PCCafeVersion_sel
-- ============================================= */

/* =============================================
-- Parameter
-- ============================================= */

-- WITH ENCRYPTION
AS

/* =============================================
-- Procedure Header
-- ============================================= */
SET NOCOUNT      ON
SET XACT_ABORT   ON
SET LOCK_TIMEOUT 5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

DECLARE
	@strErrorDB   NVARCHAR(50)
,	@strErrorProc NVARCHAR(100)
,	@dtNow        DATETIME
,	@iResult      SMALLINT

SELECT
	@strErrorDB   = DB_NAME()
,	@strErrorProc = ''usp_PCCafeVersion_sel''
,	@dtNow        = CURRENT_TIMESTAMP
,	@iResult      = 0

/* =============================================
-- Execution Part
-- ============================================= */
SELECT MAX(IDX) AS IDX
FROM dbo.PCCafeVersion
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_zDataErrorLog_ins]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_zDataErrorLog_ins]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[usp_zDataErrorLog_ins]
/* =============================================
-- Author      : hongseok.jeong
-- Create date : 20140314
-- Modify date : 
-- Description : Insert zDataErrorLog
-- ============================================= */

/* =============================================
-- Parameter
-- ============================================= */
	@strErrorDB_        NVARCHAR(50)
,	@strErrorProcedure_ NVARCHAR(100)
,	@iErrorCode_        INT

-- WITH ENCRYPTION
AS

/* =============================================
-- Procedure Header
-- ============================================= */
SET NOCOUNT      ON
SET XACT_ABORT   ON
SET LOCK_TIMEOUT 5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

/* =============================================
-- Execution Part
-- ============================================= */ BEGIN TRY
BEGIN TRANSACTION

INSERT INTO dbo.zDataErrorLog
(
	ErrorDB
,	ErrorProcedure
,	ErrorCode
,	CreateDate
)
SELECT
	@strErrorDB_
,	@strErrorProcedure_
,	@iErrorCode_
,	CURRENT_TIMESTAMP

COMMIT TRANSACTION

/* =============================================
-- End of Procedure
-- ============================================= */ END TRY
BEGIN CATCH

	IF (XACT_STATE() <> 0) ROLLBACK TRANSACTION
	EXEC dbo.usp_zDBErrorLog_ins @strErrorDB_, ''usp_zDataErrorLog_ins''
	SET @iErrorCode_ = -9999

END CATCH
' 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_zDBErrorLog_ins]    Script Date: 2015-02-23 오전 10:29:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[usp_zDBErrorLog_ins]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[usp_zDBErrorLog_ins]
/* =============================================
-- Author      : hongseok.jeong
-- Create date : 20140314
-- Modify date : 
-- Description : Insert zDBErrorLog
-- ============================================= */

/* =============================================
-- Parameter
-- ============================================= */
	@strErrorDB_        NVARCHAR(50)
,	@strErrorProcedure_ NVARCHAR(100)

-- WITH ENCRYPTION
AS

/* =============================================
-- Procedure Header
-- ============================================= */
SET NOCOUNT      ON
SET XACT_ABORT   ON
SET LOCK_TIMEOUT 5000
SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED

/* =============================================
-- Execution Part
-- ============================================= */ BEGIN TRY
IF (ERROR_NUMBER() IS NULL) RETURN

SELECT
	@strErrorDB_        AS ErrorDB
,	ERROR_NUMBER()	    AS ErrorNumber
,	ERROR_SEVERITY()    AS ErrorSeverity
,	ERROR_STATE()	    AS ErrorState
,	@strErrorProcedure_ AS ErrorProcedure
,	ERROR_LINE()	    AS ErrorLine
,	ERROR_MESSAGE()	    AS ErrorMessage
,	CURRENT_TIMESTAMP   AS CreateDate

INSERT INTO dbo.zDBErrorLog
(
	ErrorDB
,	ErrorNumber
,	ErrorSeverity
,	ErrorState
,	ErrorProcedure
,	ErrorLine
,	ErrorMessage
,	CreateDate
)
SELECT
	@strErrorDB_
,	ERROR_NUMBER()
,	ERROR_SEVERITY()
,	ERROR_STATE()
,	@strErrorProcedure_
,	ERROR_LINE()
,	ERROR_MESSAGE()
,	CURRENT_TIMESTAMP

/* =============================================
-- End of Procedure
-- ============================================= */ END TRY
BEGIN CATCH

	DECLARE
		@strErrorMessage NVARCHAR(4000)
	,	@iErrorSeverity  INT
	,	@iErrorState	 INT

	SELECT
		@strErrorMessage = ERROR_MESSAGE()
	,	@iErrorSeverity  = ERROR_SEVERITY()
	,	@iErrorState	 = ERROR_STATE()

	RAISERROR
	(
		@strErrorMessage
	,	@iErrorSeverity
	,	@iErrorState
	)

END CATCH
' 
END
GO
