USE [PBUser]
GO
/****** Object:  Table [dbo].[AccountItemData]    Script Date: 2015-03-25 오전 11:00:24 ******/
CREATE TABLE [dbo].[AccountItemData](
	[UID] [bigint] NOT NULL,
	[NicknameColor] [tinyint] NOT NULL,
	[DisguiseRank] [int] NOT NULL,
	[DisguiseRank_AprilFool] [int] NOT NULL,
	[FakeNick] [nvarchar](50) NOT NULL,
	[CrossHairColor] [tinyint] NOT NULL,
	[ChattingColor] [tinyint] NOT NULL,
 CONSTRAINT [PKC_AccountItemData_UID] PRIMARY KEY CLUSTERED 
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_LuckyItemUser]    Script Date: 2014-06-10 오후 7:42:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DECLARE @strQuery NVARCHAR(MAX), @i32Idx INT
DECLARE @strTable NVARCHAR(MAX), @strTable2 NVARCHAR(MAX)

CREATE TABLE [dbo].[PB_GT_LuckyItemUser](
	[USN] [bigint] NOT NULL,
	[WinItemIDX] [int] NOT NULL,
	[GloryCnt] [smallint] NOT NULL,
 CONSTRAINT [PKC_LuckyItemUser_USN_WinItemIDX] PRIMARY KEY CLUSTERED 
(
	[USN] ASC,
	[WinItemIDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_QuickJoin]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_QuickJoin](
	[USN] [bigint] NOT NULL,
	[StageType1] [tinyint] NOT NULL,
	[StageOption1] [tinyint] NOT NULL,
	[Stage1] [tinyint] NOT NULL,
	[StageType2] [tinyint] NOT NULL,
	[StageOption2] [tinyint] NOT NULL,
	[Stage2] [tinyint] NOT NULL,
	[StageType3] [tinyint] NOT NULL,
	[StageOption3] [tinyint] NOT NULL,
	[Stage3] [tinyint] NOT NULL,
	[UpdateDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PKC_QuickJoin_USN] PRIMARY KEY CLUSTERED 
(
	[USN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_UAppointedTimeInfo]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_UAppointedTimeInfo](
	[ui64UID] [bigint] NOT NULL,
	[ui32FlagMonday] [int] NOT NULL,
	[ui32FlagTuesday] [int] NOT NULL,
	[ui32FlagWednesday] [int] NOT NULL,
	[ui32FlagThursday] [int] NOT NULL,
	[ui32FlagFriday] [int] NOT NULL,
	[ui32FlagSaturday] [int] NOT NULL,
	[ui32FlagSunday] [int] NOT NULL,
 CONSTRAINT [PK_PB_GT_UAppointedTimeInfo] PRIMARY KEY CLUSTERED 
(
	[ui64UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_UCharaInfo0]    Script Date: 2014-06-10 오후 7:42:46 ******/
SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'PB_GT_UCharaInfo' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'PCK_UCharaInfo' + CONVERT(NVARCHAR, @i32Idx) + '_i64UserUID_ui8CharaSlot';
	SET @strQuery = N'
		CREATE TABLE [dbo].['+@strTable+'](
			[USN] [bigint] NOT NULL,
			[ui8CharaSlot] [tinyint] NOT NULL,
			[i32CharaID] [int] NOT NULL,
			[ui8Class] [tinyint] NOT NULL,
			[strCNickname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CS_AS NOT NULL,
			[i64MainWeaponIDX] [bigint] NOT NULL,
			[i32MainWeaponID] [int] NOT NULL,
			[i64SubWeaponIDX] [bigint] NOT NULL,
			[i32SubWeaponID] [int] NOT NULL,
			[i64NearWeaponIDX] [bigint] NOT NULL,
			[i32NearWeaponID] [int] NOT NULL,
			[i64ThrownWeaponIDX] [bigint] NOT NULL,
			[i32ThrownWeaponID] [int] NOT NULL,
			[i64SubThrownWeaponIDX] [bigint] NOT NULL,
			[i32SubThrownWeaponID] [int] NOT NULL,
			[i64HeadGearIDX] [bigint] NOT NULL,
			[i32HeadGearID] [int] NOT NULL,
			[i64FaceGearIDX] [bigint] NOT NULL,
			[i32FaceGearID] [int] NOT NULL,
			[i64UpperIDX] [bigint] NOT NULL,
			[i32UpperID] [int] NOT NULL,
			[i64LowerIDX] [bigint] NOT NULL,
			[i32LowerID] [int] NOT NULL,
			[i64GloveIDX] [bigint] NOT NULL,
			[i32GloveID] [int] NOT NULL,
			[i64BeltIDX] [bigint] NOT NULL,
			[i32BeltID] [int] NOT NULL,
			[i64HolsterIDX] [bigint] NOT NULL,
			[i32HolsterID] [int] NOT NULL,
			[i32Red] [int] NOT NULL,
			[i32Blue] [int] NOT NULL,
			[i32BattleTime] [int] NOT NULL,
			[i64SkillTree] [bigint] NOT NULL,
			[i32PlayTime] [int] NOT NULL,
			[i16PlayTimePoint] [smallint] NOT NULL,
			[i32MainSkill] [int] NOT NULL,
			[i32AssistSkill] [int] NOT NULL,
			[i32CommonSkill] [int] NOT NULL,
			[ui8Enable] [tinyint] NOT NULL,
			[sdtCreate] [smalldatetime] NOT NULL,
			[sdtDelete] [smalldatetime] NOT NULL,
			[i64SkinIDX] [bigint] NOT NULL,
			[i32SkinID] [int] NOT NULL,
			[i32SkillReleaseTime] [int] NOT NULL,
		 CONSTRAINT ['+@strTable2+'] PRIMARY KEY CLUSTERED 
		(
			[USN] ASC,
			[ui8CharaSlot] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
		) ON [PRIMARY]
	'
	SET @i32Idx = @i32Idx + 1;
	EXEC dbo.sp_executesql @strQuery
END

/****** Object:  Table [dbo].[PB_GT_UCommonEquip]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_UCommonEquip](
	[USN] [bigint] NOT NULL,
	[DInoIDX] [bigint] NOT NULL,
	[DinoID] [int] NOT NULL,
	[EquipCharaSlot] [tinyint] NOT NULL,
 CONSTRAINT [PKC_UCommonEquip_USN] PRIMARY KEY CLUSTERED 
(
	[USN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_UCompleteMedalSet]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_UCompleteMedalSet](
	[USN] [bigint] NOT NULL,
	[i8Type] [tinyint] NOT NULL,
	[i16MedalSetIDX] [smallint] NOT NULL,
	[sdtRecvDate] [smalldatetime] NOT NULL,
	[sdtCompleteDate] [smalldatetime] NOT NULL,
	[i16Medal1Count] [smallint] NOT NULL,
	[i16Medal2Count] [smallint] NOT NULL,
	[i16Medal3Count] [smallint] NOT NULL,
	[i16Medal4Count] [smallint] NOT NULL,
	[i16Medal5Count] [smallint] NOT NULL,
	[i16Medal6Count] [smallint] NOT NULL,
	[ui8GetReward] [tinyint] NOT NULL,
 CONSTRAINT [PKC_UCompleteMedalSet_USN_i8Type_i16MedalSetIDX] PRIMARY KEY CLUSTERED 
(
	[USN] ASC,
	[i8Type] ASC,
	[i16MedalSetIDX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_UCurrentMedalSet]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_UCurrentMedalSet](
	[USN] [bigint] NOT NULL,
	[i8Type] [tinyint] NOT NULL,
	[i16MedalSetIDX] [smallint] NOT NULL,
	[sdtRecvDate] [smalldatetime] NOT NULL,
	[i16Medal1Count] [smallint] NOT NULL,
	[i16Medal2Count] [smallint] NOT NULL,
	[i16Medal3Count] [smallint] NOT NULL,
	[i16Medal4Count] [smallint] NOT NULL,
	[i16Medal5Count] [smallint] NOT NULL,
	[i16Medal6Count] [smallint] NOT NULL,
	[ui8GetReward] [tinyint] NOT NULL,
 CONSTRAINT [PKC_UCurrentMedalSet_USN_i8Type] PRIMARY KEY CLUSTERED 
(
	[USN] ASC,
	[i8Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_UMedal0]    Script Date: 2014-06-10 오후 7:42:46 ******/
SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'PB_GT_UMedal' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'PKC_UMedal' + CONVERT(NVARCHAR, @i32Idx) + '_USN_i16MedalIDX';
	SET @strQuery = N'
		CREATE TABLE [dbo].['+@strTable+'](
			[USN] [bigint] NOT NULL,
			[i16MedalIDX] [smallint] NOT NULL,
			[i16Count] [smallint] NOT NULL,
			[ui8GetReward] [tinyint] NOT NULL,
		 CONSTRAINT ['+@strTable2+'] PRIMARY KEY CLUSTERED 
		(
			[USN] ASC,
			[i16MedalIDX] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
		) ON [PRIMARY]
	'
	SET @i32Idx = @i32Idx + 1;
	EXEC dbo.sp_executesql @strQuery
END

/****** Object:  Table [dbo].[PB_GT_UMedalBasicInfo]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_UMedalBasicInfo](
	[USN] [bigint] NOT NULL,
	[i16NotifyMedalType1] [tinyint] NOT NULL,
	[i16NotifyMedalType2] [tinyint] NOT NULL,
	[i16NotifyMedalType3] [tinyint] NOT NULL,
	[i16NotifyMedalType4] [tinyint] NOT NULL,
	[i16NotifyMedalIDX1] [smallint] NOT NULL,
	[i16NotifyMedalIDX2] [smallint] NOT NULL,
	[i16NotifyMedalIDX3] [smallint] NOT NULL,
	[i16NotifyMedalIDX4] [smallint] NOT NULL,
	[i16NotifyMedalCount1] [smallint] NOT NULL,
	[i16NotifyMedalCount2] [smallint] NOT NULL,
	[i16NotifyMedalCount3] [smallint] NOT NULL,
	[i16NotifyMedalCount4] [smallint] NOT NULL,
	[i16MasterMedal] [smallint] NOT NULL,
 CONSTRAINT [PKC_UMedalBasicInfo_USN] PRIMARY KEY CLUSTERED 
(
	[USN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_UNicknameLog]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_UNicknameLog](
	[sdtUpdate] [smalldatetime] NOT NULL,
	[strUNickname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CS_AS NOT NULL,
	[USN] [bigint] NOT NULL,
 CONSTRAINT [PKC_UNicknameLog_sdtUpdate_strUNickname] PRIMARY KEY CLUSTERED 
(
	[sdtUpdate] ASC,
	[strUNickname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_UUserDailyRecord]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_UUserDailyRecord](
	[USN] [bigint] NOT NULL,
	[Win] [int] NOT NULL,
	[Lose] [int] NOT NULL,
	[Draw] [int] NOT NULL,
	[KillCNT] [int] NOT NULL,
	[DeathCNT] [int] NOT NULL,
	[HeadShot] [int] NOT NULL,
	[EXP] [int] NOT NULL,
	[Point] [int] NOT NULL,
	[PlayTime] [int] NOT NULL,
	[DailyEventDate] [int] NOT NULL,
	[DailyGiftPlayTime] [int] NOT NULL,
	[GetItem] [tinyint] NOT NULL,
 CONSTRAINT [PKC_TUserDailyRecord_UID] PRIMARY KEY CLUSTERED 
(
	[USN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_UUserInfo]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_UUserInfo](
	[USN] [bigint] NOT NULL,
	[strUNickname] [nvarchar](50) COLLATE SQL_Latin1_General_CP1_CS_AS NOT NULL,
	[ui8NicknameColor] [tinyint] NOT NULL,
	[i32EXP] [int] NOT NULL,
	[i32Point] [int] NOT NULL,
	[i32RANK] [int] NOT NULL,
	[sdtCreat] [smalldatetime] NOT NULL,
	[i32ConnectCNT] [int] NOT NULL,
	[i32ConnectTime] [int] NOT NULL,
	[sdtLogin] [smalldatetime] NOT NULL,
	[sdtLogout] [smalldatetime] NOT NULL,
	[i32KeepRank] [int] NOT NULL,
	[ui8ESportLevel] [tinyint] NOT NULL,
	[i32AbusingCNT] [int] NOT NULL,
	[sdtEventItem] [smalldatetime] NOT NULL,
	[ui8Tutorialing] [tinyint] NOT NULL,
	[i32TotalBattleTime] [int] NOT NULL,
	[sdtLastBuyCash] [smalldatetime] NOT NULL,
	[ui64GuideComplete] [bigint] NOT NULL,
	[ui8ReportCount] [tinyint] NOT NULL,
	[ui32ClanMark] [int] NOT NULL,
	[strClanName] [nvarchar](50) NOT NULL,
	[ui8AuthLevel] [tinyint] NULL,
	[ui8SpecialAbility] [tinyint] NULL,
	[ui16AASAccMin] [smallint] NOT NULL,
	[sdtChatBlockDate] [smalldatetime] NOT NULL,
	[i32Coin] [int] NOT NULL,
	[sdtClanRanking] [smalldatetime] NOT NULL,
	[VoteCount] [tinyint] NOT NULL
 CONSTRAINT [PKC_UUserInfo_i64UserUID] PRIMARY KEY CLUSTERED 
(
	[USN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_GT_UUserRecord]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_GT_UUserRecord](
	[USN] [bigint] NOT NULL,
	[ui8RecordType] [tinyint] NOT NULL,
	[i32Match] [int] NOT NULL,
	[i32Win] [int] NOT NULL,
	[i32Lose] [int] NOT NULL,
	[i32Draw] [int] NOT NULL,
	[i32Kill] [int] NOT NULL,
	[i32Death] [int] NOT NULL,
	[i32Headshot] [int] NOT NULL,
	[i32Disconnect] [int] NOT NULL,
	[i32dMatch] [int] NOT NULL,
	[i32dKill] [int] NOT NULL,
 CONSTRAINT [PKC_UUSerRecord_i64UserUID_ui8RecordType] PRIMARY KEY CLUSTERED 
(
	[USN] ASC,
	[ui8RecordType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_LT_UBlock]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_LT_UBlock](
	[i64UserIDX] [bigint] NOT NULL,
	[sdtCreate] [smalldatetime] NOT NULL,
	[ui8BlockDay] [smallint] NOT NULL,
	[strComment] [nvarchar](250) NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_LT_zDBErrorLog]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_LT_zDBErrorLog](
	[DBErrorLogIDX] [int] IDENTITY(1,1) NOT NULL,
	[ErrorDB] [nvarchar](40) NOT NULL,
	[ErrorNumber] [int] NOT NULL,
	[ErrorSeverity] [int] NOT NULL,
	[ErrorState] [int] NOT NULL,
	[ErrorProcedure] [nvarchar](200) NOT NULL,
	[ErrorLine] [int] NOT NULL,
	[ErrorMessage] [nvarchar](4000) NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[Rank]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[Rank](
	[RankDay] [smalldatetime] NOT NULL,
	[Rk] [smallint] NOT NULL,
	[UID] [bigint] NOT NULL,
	[nick] [nvarchar](24) COLLATE SQL_Latin1_General_CP1_CS_AS NOT NULL,
	[EXP] [bigint] NOT NULL,
	[RANK] [tinyint] NOT NULL,
	[keep_rank] [tinyint] NOT NULL,
 CONSTRAINT [PKC_Rank_RankDay_Rank_exp] PRIMARY KEY CLUSTERED 
(
	[RankDay] ASC,
	[Rk] ASC,
	[EXP] DESC,
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TInvItemData]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[TInvItemData](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[UID] [bigint] NOT NULL,
	[ItemID] [int] NOT NULL,
	[data] [binary](33) NULL,
 CONSTRAINT [PK_TInvItemData] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TMaintenanceInfo]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[TMaintenanceInfo](
	[idx] [int] IDENTITY(1,1) NOT NULL,
	[MaintenanceTime] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_MaintenanceInfo] PRIMARY KEY CLUSTERED 
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[TUserCh_Medal0]    Script Date: 2014-06-10 오후 7:42:46 ******/
SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'TUserCh_Medal' + CONVERT(NVARCHAR, @i32Idx);
	SET @strTable2	= N'PK_TUserCh_Medal' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		CREATE TABLE [dbo].['+@strTable+'](
			[UID] [bigint] NOT NULL,
			[iMiniature] [int] NOT NULL,
			[iInsignia] [int] NOT NULL,
			[iMedal] [int] NOT NULL,
			[iMaster] [int] NOT NULL,
			[iUserTitle] [bigint] NOT NULL,
			[Mission00] [binary](40) NULL,
			[Mission01] [binary](40) NULL,
			[Mission02] [binary](40) NULL,
			[Mission03] [binary](40) NULL,
			[MissionIng] [binary](89) NULL,
			[eventdate] [int] NOT NULL,
			[userTitle1] [tinyint] NOT NULL,
			[userTitle2] [tinyint] NOT NULL,
			[userTitle3] [tinyint] NOT NULL,
		 CONSTRAINT ['+@strTable2+'] PRIMARY KEY CLUSTERED 
		(
			[UID] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
		) ON [PRIMARY]
	'
	SET @i32Idx = @i32Idx + 1;
	EXEC dbo.sp_executesql @strQuery
END

/****** Object:  Table [dbo].[TUserIdx]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[TUserIdx](
	[id] [NVARCHAR](50) NOT NULL,
	[idx] [bigint] IDENTITY(1,1) NOT NULL,
	[Pass] [NVARCHAR](32) NULL,
	[blockdate] [smalldatetime] NOT NULL,
	[isblock] [tinyint] NOT NULL,
	[comment] [NVARCHAR](250) NULL,
	[BlockStartDate] [smalldatetime] NOT NULL,
	[BirthDay] [int] NOT NULL,
 CONSTRAINT [PK_TUserIdx] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[UAttendanceUser]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[UAttendanceUser](
	[i64UserUID] [bigint] NOT NULL,
	[i32AttendanceUID] [int] NOT NULL,
	[i32ConnectCNT] [int] NOT NULL,
	[i32GetGoodsCNT] [int] NOT NULL,
	[i32AttendanceTime] [int] NOT NULL,
 CONSTRAINT [PKC_UAttendanceUser_i64UserUID] PRIMARY KEY CLUSTERED 
(
	[i64UserUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[UserLoginEvent]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[UserLoginEvent](
	[USN] [bigint] NOT NULL,
	[EventType] [int] NOT NULL,
	[EventDate] [smalldatetime] NOT NULL,
 CONSTRAINT [PKC_UserLoginEvent] PRIMARY KEY CLUSTERED 
(
	[USN] ASC,
	[EventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

/****** Object:  Table [dbo].[zDataErrorLog]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[zDataErrorLog](
	[DataErrorIDX] [int] IDENTITY(1,1) NOT NULL,
	[ErrorDB] [nvarchar](50) NOT NULL,
	[ErrorProcedure] [nvarchar](100) NOT NULL,
	[ErrorCode] [int] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[zDBErrorLog]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[zDBErrorLog](
	[DBErrorIDX] [int] IDENTITY(1,1) NOT NULL,
	[ErrorDB] [nvarchar](50) NOT NULL,
	[ErrorNumber] [int] NOT NULL,
	[ErrorSeverity] [int] NOT NULL,
	[ErrorState] [int] NOT NULL,
	[ErrorProcedure] [nvarchar](100) NOT NULL,
	[ErrorLine] [int] NOT NULL,
	[ErrorMessage] [nvarchar](4000) NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]

/****** Object:  Table [dbo].[PB_LT_zDataErrorLog]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE TABLE [dbo].[PB_LT_zDataErrorLog](
	[DataErrorIDX] [int] IDENTITY(1,1) NOT NULL,
	[DBName] [NVARCHAR](50) NULL,
	[ProcName] [NVARCHAR](50) NOT NULL,
	[ResultData] [smallint] NOT NULL,
	[CreateDate] [smalldatetime] NOT NULL
) ON [PRIMARY]
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- IX --****/
------------------------------------------------------------------------------------------------------------------------------------
/****** Object:  Index [IXC_PB_LT_UBlock_i64UserIDX_sdtCreate]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE CLUSTERED INDEX [IXC_PB_LT_UBlock_i64UserIDX_sdtCreate] ON [dbo].[PB_LT_UBlock]
(
	[i64UserIDX] ASC,
	[sdtCreate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [UX_UUserInfo_strUNickname]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_UUserInfo_strUNickname] ON [dbo].[PB_GT_UUserInfo]
(
	[strUNickname] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_TInvItemData_ItemID]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE NONCLUSTERED INDEX [IX_TInvItemData_ItemID] ON [dbo].[TInvItemData]
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_TInvItemData_no]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE NONCLUSTERED INDEX [IX_TInvItemData_no] ON [dbo].[TInvItemData]
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_TInvItemData_UID]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE NONCLUSTERED INDEX [IX_TInvItemData_UID] ON [dbo].[TInvItemData]
(
	[UID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_TUserIdx_idx]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE NONCLUSTERED INDEX [IX_TUserIdx_idx] ON [dbo].[TUserIdx]
(
	[idx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

/****** Object:  Index [IX_TUserIdx_isblock]    Script Date: 2014-06-10 오후 7:42:46 ******/
CREATE NONCLUSTERED INDEX [IX_TUserIdx_isblock] ON [dbo].[TUserIdx]
(
	[isblock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

------------------------------------------------------------------------------------------------------------------------------------
/****-- DF --****/
------------------------------------------------------------------------------------------------------------------------------------
DECLARE @strQuery NVARCHAR(MAX), @i32Idx INT
DECLARE @strTable NVARCHAR(MAX)

ALTER TABLE [dbo].[AccountItemData] ADD  DEFAULT ((0)) FOR [NicknameColor]
ALTER TABLE [dbo].[AccountItemData] ADD  DEFAULT ((55)) FOR [DisguiseRank]
ALTER TABLE [dbo].[AccountItemData] ADD  DEFAULT ((55)) FOR [DisguiseRank_AprilFool]
ALTER TABLE [dbo].[AccountItemData] ADD  DEFAULT ((0)) FOR [CrossHairColor]
ALTER TABLE [dbo].[AccountItemData] ADD  DEFAULT ((0)) FOR [ChattingColor]

ALTER TABLE [dbo].[PB_GT_UAppointedTimeInfo] ADD  CONSTRAINT [DF_PB_GT_UAppointedTimeInfo_ui32FlagMonday]		DEFAULT ((0)) FOR [ui32FlagMonday]
ALTER TABLE [dbo].[PB_GT_UAppointedTimeInfo] ADD  CONSTRAINT [DF_PB_GT_UAppointedTimeInfo_ui32FlagTuesday]		DEFAULT ((0)) FOR [ui32FlagTuesday]
ALTER TABLE [dbo].[PB_GT_UAppointedTimeInfo] ADD  CONSTRAINT [DF_PB_GT_UAppointedTimeInfo_ui32FlagWednesday]	DEFAULT ((0)) FOR [ui32FlagWednesday]
ALTER TABLE [dbo].[PB_GT_UAppointedTimeInfo] ADD  CONSTRAINT [DF_PB_GT_UAppointedTimeInfo_ui32FlagThursday]		DEFAULT ((0)) FOR [ui32FlagThursday]
ALTER TABLE [dbo].[PB_GT_UAppointedTimeInfo] ADD  CONSTRAINT [DF_PB_GT_UAppointedTimeInfo_ui32FlagFriday]		DEFAULT ((0)) FOR [ui32FlagFriday]
ALTER TABLE [dbo].[PB_GT_UAppointedTimeInfo] ADD  CONSTRAINT [DF_PB_GT_UAppointedTimeInfo_ui32FlagSaturday]		DEFAULT ((0)) FOR [ui32FlagSaturday]
ALTER TABLE [dbo].[PB_GT_UAppointedTimeInfo] ADD  CONSTRAINT [DF_PB_GT_UAppointedTimeInfo_ui32FlagSunday]		DEFAULT ((0)) FOR [ui32FlagSunday]

SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'PB_GT_UCharaInfo' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		ALTER TABLE [dbo].['+@strTable+'] ADD CONSTRAINT [DF_'+@strTable+'_i64SkinIDX] DEFAULT ((0)) FOR [i64SkinIDX]
		ALTER TABLE [dbo].['+@strTable+'] ADD CONSTRAINT [DF_'+@strTable+'_i32SkinID] DEFAULT ((0)) FOR [i32SkinID]
		ALTER TABLE [dbo].['+@strTable+'] ADD CONSTRAINT [DF_'+@strTable+'_i32SkillReleaseTime] DEFAULT ((0)) FOR [i32SkillReleaseTime]
	'
	SET @i32Idx = @i32Idx + 1;
	EXEC dbo.sp_executesql @strQuery
END

ALTER TABLE [dbo].[PB_GT_UMedalBasicInfo] ADD CONSTRAINT [DF_PB_GT_UMedalBasicInfo_i16MasterMedal] DEFAULT ((0)) FOR [i16MasterMedal]

ALTER TABLE [dbo].[PB_GT_UUserInfo] ADD CONSTRAINT [DF_PB_GT_UUserInfo_ui64GuideComplete]	DEFAULT ((0)) FOR [ui64GuideComplete]
ALTER TABLE [dbo].[PB_GT_UUserInfo] ADD CONSTRAINT [DF_PB_GT_UUserInfo_ui8AuthLevel]		DEFAULT ((0)) FOR [ui8AuthLevel]
ALTER TABLE [dbo].[PB_GT_UUserInfo] ADD CONSTRAINT [DF_PB_GT_UUserInfo_ui8SpecialAbility]	DEFAULT ((0)) FOR [ui8SpecialAbility]
ALTER TABLE [dbo].[PB_GT_UUserInfo] ADD CONSTRAINT [DF_PB_GT_UUserInfo_ui16AASAccMin]		DEFAULT ((0)) FOR [ui16AASAccMin]
ALTER TABLE [dbo].[PB_GT_UUserInfo] ADD CONSTRAINT [DF_PB_GT_UUserInfo_sdtChatBlockDate]	DEFAULT ((0)) FOR [sdtChatBlockDate]

SET @i32Idx = 0;
WHILE ( @i32Idx < 10 )
BEGIN
	SET @strTable	= N'TUserCh_Medal' + CONVERT(NVARCHAR, @i32Idx);
	SET @strQuery = N'
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_iMiniature]	DEFAULT ((0)) FOR [iMiniature]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_iInsignia]	DEFAULT ((0)) FOR [iInsignia]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_iMedal]		DEFAULT ((0)) FOR [iMedal]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_iMaster]	DEFAULT ((0)) FOR [iMaster]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_iUserTitle]	DEFAULT ((0)) FOR [iUserTitle]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_Mission00]	DEFAULT (0x00000000000000000000000000000000000000000000000000000000000000000000000000000000) FOR [Mission00]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_Mission01]	DEFAULT (0x00000000000000000000000000000000000000000000000000000000000000000000000000000000) FOR [Mission01]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_Mission02]	DEFAULT (0x00000000000000000000000000000000000000000000000000000000000000000000000000000000) FOR [Mission02]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_Mission03]	DEFAULT (0x00000000000000000000000000000000000000000000000000000000000000000000000000000000) FOR [Mission03]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_MissionIng]	DEFAULT (0x000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000D) FOR [MissionIng]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_eventdate]	DEFAULT ((0)) FOR [eventdate]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_userTitle1]	DEFAULT ((0)) FOR [userTitle1]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_userTitle2]	DEFAULT ((0)) FOR [userTitle2]
		ALTER TABLE [dbo].['+@strTable+'] ADD  CONSTRAINT [DF_'+@strTable+'_userTitle3]	DEFAULT ((0)) FOR [userTitle3]
	'
	SET @i32Idx = @i32Idx + 1;
	EXEC dbo.sp_executesql @strQuery
END

ALTER TABLE [dbo].[TUserIdx] ADD  CONSTRAINT [DF_TUserIdx_blockdate]		DEFAULT ((0)) FOR [blockdate]
ALTER TABLE [dbo].[TUserIdx] ADD  CONSTRAINT [DF_TUserIdx_isblock]			DEFAULT ((0)) FOR [isblock]
ALTER TABLE [dbo].[TUserIdx] ADD  CONSTRAINT [DF_TUserIdx_BlockStartDate]	DEFAULT ((0)) FOR [BlockStartDate]
ALTER TABLE [dbo].[TUserIdx] ADD  CONSTRAINT [DF_TUserIdx_BirthDay]			DEFAULT ((0)) FOR [BirthDay]

ALTER TABLE [dbo].[UAttendanceUser] ADD CONSTRAINT [DF_UAttendanceUser_i32AttendanceTime] DEFAULT ((0)) FOR [i32AttendanceTime]
GO
